.admin_role-permission-grid-table{
    position: relative;
    margin-top: 10px;
    overflow: scroll;
}
.admin_role-table-head-row{
    position: relative;
}
.admin_role-table-header{
    position: sticky;
    top: 48px;
    background-color: white;
    z-index: 99;
}
.admin_role-table-content-module{
    text-transform: capitalize;
}
.admin_role-actions{
    display: flex;
    justify-content: center;
}
.admin_role-add-button{
    margin-top: pxToRem(16);
    margin-left: pxToRem(40);
}
.admin_role-permission-management{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_role-back-button{
    margin-bottom: pxToRem(8) !important;
}
.admin_role-tile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin_role-tile-heading{
    text-transform: capitalize;
}