.announcement-tile {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '🐼';
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
	transition: all ease-in-out 200ms;
	box-shadow: $defaultTileShadow;
	background-color: $color--00;
	position: relative;

	&--with_image {
		grid-template-columns: pxToRem(328) 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: '🐻 🐼';

		.announcement-tile_image-container {
			position: relative;
			display: block;
		}
	}
}

.announcement-tile_image-container {
	grid-area: 🐻;
	position: relative;
	display: none;
}

.announcement-tile_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.announcement-tile_body {
	grid-area: 🐼;
	padding: gridUnit(2) gridUnit(5) gridUnit(2) gridUnit(2.75);
}

.announcement-tile_message {
	font-size: gridUnit(1);
	line-height: gridUnit(1.5);
	color: $color--20;
	margin: gridUnit(1) 0;
	display: block;
}

.announcement-tile_title {
	font-size: pxToRem(10);
	display: block;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: gridUnit(1);
	text-transform: uppercase;
	color: $color--21;
}

@media #{$breakpointTablet} {
	.announcement-tile {
		&--with_image {
			grid-template-columns: pxToRem(228) 1fr;
		}
	}
}

@media #{$breakpointMobile} {
	.announcement-tile {
		display: block;
	}

	.announcement-tile_image-container {
		min-height: gridUnit(16);
	}

	.announcement-tile_image {
		background-size: 66%;
	}

	.announcement-tile_body {
		padding: gridUnit(2) gridUnit(1);
	}
}
