.autocomplete_user {
	> p { // error
		display: none;
	}
	.autocomplete_user-avatar {
		width: pxToRem(24);
		height: pxToRem(24);
		margin-right: pxToRem(8);
		margin-left: pxToRem(-8);
		border-radius: 0,
	}
	.autocomplete_user-username {
		padding: 0;
	}
	.autocomplete_user-icon {
		width: pxToRem(12);
		height: pxToRem(12);
		color: $color--20;
		display: inline-block;
		margin-left: pxToRem(4);
		transform: translateY(1px) rotate(45deg);
		&:hover {
			color: inherit;
		}
	}
	.autocomplete_user-chip {
		padding: 0 pxToRem(8);
		background-color: rgba($color--24, 0.15);
	}
	.autocomplete_user-label {
		color: $color--20;
    font-size: pxToRem(10);
    margin-left: pxToRem(-12);
    margin-right: pxToRem(-12);
	}
	.autocomplete_user-select {
		border: pxToRem(1) solid rgba($color--24, 0.2);
		.Select {
			&-control {
				min-height: pxToRem(32);
				padding-left: pxToRem(8);
				padding-top: 0;
				padding-bottom: 0;
			}
			&-placeholder {
				opacity: 1;
				color: $color--24;
				font-weight: normal;
				left: pxToRem(8);
			}
		}
		&.has-value {
			border-color: transparent;
			.Select {
				&-control {
					padding-top: pxToRem(8);
					padding-bottom: pxToRem(8);
				}
			}
		}
	}
}
