.landing_box_tile {
	h6 {
		color: $color--05;
		text-transform: uppercase;
		margin-top: 0;
	}

	h3 {
		font-size: gridUnit(2);
		font-family: $fontStack--title;
		font-weight: 500;
		margin-top: gridUnit(.5);
		margin-bottom: 0;
	}

	p {
		line-height: gridUnit(1.5);
		margin-top: gridUnit(1.5);
		font-weight: 400;
	}
}

body .landing_box_tile-button {
	margin-top: gridUnit(2.5);
	width: gridUnit(13.5);
	color: $color--05;

	&--light {
		color: $color--00;
	}
}

@media #{$breakpointMobile} {
	body .landing_box_tile-button {
		width: 90%;
		margin: gridUnit(2.5) 5% 0;
	}
}
