.chat-counsellor {
	background-color: $color--23;
	position: fixed;
	bottom: gridUnit(1.5);
	right: gridUnit(1.5);
	padding: gridUnit(0.5);
	border-radius: 100px;
	display: flex;
	overflow: hidden;
	z-index: $z_index--chat;

	width: pxToRem(44);
	transition: $defaultEaseInOutTransition;
	transition-delay: 300ms;

	&:hover {
		width: 230px;
		transition: $defaultEaseInOutTransition;

		.chat-counsellor_label {
			opacity: 1;
			visibility: visible;
			transition: $defaultEaseInOutTransition;
			transition-delay: 300ms;
		}
	}
}

.chat-counsellor_icon {
	width: 28px;
	height: 28px;
	position: relative;

	svg {
		position: absolute;
		width: pxToRem(24);
		height: pxToRem(24);
	}
}

.chat-counsellor_label {
	position: absolute;
	right: gridUnit(1.3);
	top: 50%;
	opacity: 0;
	transform: translate(0, -50%);
	transition: $defaultEaseInOutTransition;
	transition-delay: 0ms;

	font-weight: bold;
	color: $color--00;
	font-size: pxToRem(14);
	line-height: gridUnit(1.5);
	text-transform: uppercase;
}

body .chat-counsellor_button {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
}
