.completion_bar {
	width: 100%;
	margin-bottom: pxToRem(12);
	.completion_bar-track {
		background: rgba($color--21, 0.25);
		height: pxToRem(8);
		border-radius: pxToRem(2);
	}
	.completion_bar-bar {
		background: $color--28;
		height: pxToRem(8);
		border-radius: pxToRem(2);
	}
}
