//MaterialUI - override
body {
	.content_tile-button {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: 100%;
		z-index: 1;
	}
}

.content_tile {
}

.content_tile-grid_wrapper {
	display: grid;
	position: relative;
	height: 100%;
	grid-template-columns: pxToRem(116) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '🙈 🙉';
	background-color: $color--00;
	box-shadow: $defaultTileShadow;
	// min-height: pxToRem(140);
	width: 100%;

	&:not(.content_tile--with-thumbnail) {
		.content_tile-content {
			position: relative;
		}
	}

	&--with-thumbnail {
		position: relative;
	}

	.content_tile-button {
		transition: all ease-in-out 200ms;

		&:hover {
			~ .content_tile-image {
				opacity: 0.5;
			}
			~ .content_tile-content {
				.tile_title-title {
					color: $color--40;
				}
			}
		}
	}
	.tile_title-title {
		transition: $defaultLinkColorTransition;
	}

	&--no_image {
		grid-template-columns: 1fr;
		grid-template-areas: 🙊;

		.content_tile-content {
			grid-area: 🙊;
		}
	}

	&:hover {
		.content_tile-image {
			opacity: 0.7;
		}

		.tile_title-title {
			color: $color--40;
		}
	}
}

.content_tile-image {
	grid-area: 🙈;
	display: flex;
	background-position: center;
	background-size: cover;
	transition: $defaultLinkColorTransition;

	&--user {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba($color--13, 0.2);

		.user_avatar {
			width: 40px;
		}
	}
}

.content_tile-content {
	grid-area: 🙉;
	height: 100%;
	padding: pxToRem(24) gridUnit(2) pxToRem(20) gridUnit(2);
	display: block;
	flex-direction: row;
	flex-grow: 1;
	text-align: left;

	.pill {
		width: auto;
		z-index: 1;
	}
}

.content_tile-title {
	display: block;
	margin-top: gridUnit(0);
}

.content_tile-title_clamp {
	margin-top: gridUnit(1);
}

@media #{$breakpointTablet} {
	.content_tile-content {
		padding: gridUnit(1.5) gridUnit(1.5);
	}
}

@media #{$breakpointMobile} {
	.content_tile {
		margin-bottom: gridUnit(1);
	}
}
