.discussion_tile_reply {
	position: relative;
	// padding-left: pxToRem(52);
}

.discussion_tile_reply-author {
	pointer-events: auto;
	// margin-left: pxToRem(-60);
	margin-bottom: pxToRem(16);

	.discussion_tile_reply-author-button {
		border-radius: pxToRem(4);

		// &:hover {
		// 	background: $color--15;
		// }
	}
}

.discussion_tile_reply-author-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.discussion_tile_reply-author-avatar {
	width: pxToRem(40);
	height: pxToRem(40);
	margin-right: pxToRem(12);
}

.discussion_tile_reply-author-name {
	font-weight: bold;
	margin-right: pxToRem(6);
}

.discussion_tile_reply-author-info {
	text-align: left;
	line-height: 1.5;
}

.discussion_tile_reply-content {
	color: $color--14;
	opacity: 0.7;
	font-size: pxToRem(14);
	line-height: percentage(24 / 12);
}

.discussion_tile_reply-content-author {
	float: left;
	margin-right: pxToRem(4);
	margin-bottom: pxToRem(-4);
	display: none; // todo
}

.discussion_tile_reply-content-meta {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.discussion_tile_reply-content-meta-item {
	pointer-events: auto;
	margin-right: pxToRem(16);

	&:last-child {
		margin-right: 0;
	}
}

@media #{$breakpointMobile} {
	.discussion_tile_reply {
		padding-left: 0;
	}

	.discussion_tile_reply-author {
		margin-left: 0;
	}

	.discussion_tile_reply-content {
		line-height: percentage(28/12);

		.pill {
			margin-bottom: 0;
		}
	}
}
