.discussion_support_meta-button {
	text-align: left;
	font-size: pxToRem(12);
	line-height: pxToRem(24);
}

.discussion_support_meta-button:hover,
.discussion_support_meta-button:focus {
	color: $color--23;
}

.discussion_support_meta-button:not(:disabled) {
	pointer-events: auto;
}
