.discussion_tile {
	position: relative;
	display: grid;
	grid-template-columns: pxToRem(200) 1fr pxToRem(172);
	grid-template-rows: 1fr;
	grid-template-areas: '👤 🖐 👑';
	background: $color--00;
	box-shadow: $defaultTileShadow;
	transition: all ease-in-out 200ms;

	&.discussion_tile--no_actions {
		grid-template-columns: pxToRem(210) 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: '🐶 🐱';

		.discussion_tile-author {
			grid-area: 🐶;
		}

		.discussion_tile-content {
			grid-area: 🐱;
		}

		.discussion_tile-content-content {
			p {
				margin-top: 0;
			}
		}

		.discussion_tile-actions {
			display: none;
		}
	}

	&--disabled {
		opacity: 0.4;
		filter: grayscale(100%);
	}

	.tile_title-title {
		min-height: pxToRem(45);
	}
	@include ie11-browser {
		.discussion_tile-content {
			.tile_title-clamp {
				overflow: visible;
				text-overflow: unset;
				display: block;
			}
		}
	}

	.discussion_tile-link {
		pointer-events: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all ease-in-out 200ms;
	}

	.discussion_tile-author {
		grid-area: 👤;
		// ackground-color: $color--00;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		position: relative;
		padding: gridUnit(1.5) gridUnit(1.5);
	}

	.discussion_tile-author-time-label {
		display: inline-block;
	}
	.discussion_tile-author-time-label-part {
		display: inline-block;
		white-space: nowrap;
	}

	.discussion_tile-author-button {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		&:hover {
			.discussion_tile-author-name-link {
				color: $color--23;
			}
		}
	}
	.discussion_tile-author-name-link {
		transition: $defaultLinkColorTransition;
	}

	.discussion_tile-author-report {
		display: flex;
		align-items: center;
	}

	// Added mobile styles for the narrow modifier
	&--narrow {
		display: block;
		flex-grow: 1;
		flex-basis: 0;

		&:nth-child(2) {
			margin: 0 pxToRem(25);
			&:last-of-type {
				margin-right: 0;
			}
		}

		.discussion_tile-author {
			display: flex;
			padding: gridUnit(0.5) gridUnit(0.5) gridUnit(0.5) gridUnit(1);
			justify-content: initial;
			flex-direction: initial;
			flex-wrap: wrap;
			border-bottom: thin solid $color--22;
			align-items: center;
			border-bottom: thin solid #e7e7e7;
		}

		.discussion_tile-author-button {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.discussion_tile-author-content {
			grid-template-areas: '🐭 🐹 🦄';
			grid-template-columns: pxToRem(42) 1fr pxToRem(24);
			display: grid;
		}

		.discussion_tile-author-report {
			grid-area: 🦄;
		}

		.discussion_tile-author-avatar {
			grid-area: 🐭;
		}

		.discussion_tile-author-text {
			margin-top: 0;
			grid-area: 🐹;
		}

		.discussion_tile-content {
			padding: pxToRem(20) pxToRem(16);
		}

		.discussion_tile-actions {
			padding: 0;
			border-top: thin solid $color--22;
			align-items: flex-start;
			.discussion_follow {
				.discussion_follow-button {
					transition: $defaultLinkColorTransition;
					border: 0;
					background: none;
					fill: $color--20;
					color: $color--20;
					text-align: center;
					width: 100%;
					min-height: pxToRem(47);
					font-size: pxToRem(12);
					line-height: 1;
					overflow: hidden;
					&:hover {
						background: none;
						border: none;
						color: $color--23;
						fill: $color--23;
					}
					.discussion_follow-label-icon {
						.injected-svg {
							width: pxToRem(12);
							height: pxToRem(12);
							fill: $color--40;
						}
					}
					.discussion_follow-label-text {
						color: $color--40;
					}
				}
			}
		}

		.discussion_tile-content-content {
			display: none;
		}
	}
	.discussion_tile-content-get_it {
		.status{
			background-color: $color--33;
			color: $color--00;
		}
	}
	// Style for the focussed virtualised list
	.virtualised_list-item--focussed & {
		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			height: 100%;
			width: 6px;
			background-color: $color--20;
		}
	}
}

.discussion_tile-author-content {
	width: 100%;
	display: grid;
	grid-template-columns: pxToRem(48) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '🐭 🐹';
	align-items: center;
	justify-content: stretch;
	text-align: left;
	.discussion_tile-author-avatar {
		width: pxToRem(42);
		height: pxToRem(42);
		box-shadow: 0 0 0 pxToRem(4) $color--00;
		border-radius: 50%;
	}
}

.discussion_tile-author-text {
	grid-area: 🐹;
	padding-left: pxToRem(8);
}

.discussion_tile-author-name {
	font-weight: 600;
}

.discussion_tile-content {
	grid-area: 🖐;
	padding: pxToRem(24) pxToRem(32) pxToRem(24) pxToRem(16);
	position: relative;

	&:hover {
		.tile_title-title {
			color: $color--40;
		}
	}
}

.discussion_tile-content-topic {
	.pill {
		pointer-events: auto;
	}
}

.discussion_tile-actions {
	grid-area: 👑;
	padding: pxToRem(24) pxToRem(16);
	justify-content: center;
	display: flex;
	align-items: flex-start;
}

.discussion_tile-actions-item {
	display: block;
	width: 100%;
}

.discussion_tile-content-meta-item,
.discussion_tile-actions-item {
	pointer-events: auto;
}

.discussion_tile-content-meta {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.discussion_tile-content-meta-item {
	margin-right: pxToRem(16);

	&:last-child {
		margin-right: 0;
	}
}
.discussion_tile-content-meta-item-count {
	color: $color--20;
	background-color: $color--22;
	border-radius: 1em;
	padding: 0;
	font-size: pxToRem(10);
	width: pxToRem(20);
	height: pxToRem(20);
	overflow: hidden;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	position: relative;
	&--replies {
		overflow: visible;
		pointer-events: none;
		&:after {
			content: ' ';
			display: block;
			left: 0;
			width: 0;
			height: 0;
			position: absolute;
			bottom: -1px;
			border-top: solid pxToRem(4) $color--22;
			border-left: solid pxToRem(6) transparent;
			transform: rotate(50deg);
		}
	}
}

.discussion_tile-content-meta-item-label {
	font-weight: 600;
	line-height: 1;
	color: $color--21;
	margin-left: pxToRem(5);
	font-size: pxToRem(12);
}

.discussion_tile-isReply {
	display: flex;
	margin-top: gridUnit(1);
}

.discussion_tile-content-report {
	color: $color--09;
	font-style: italic;
	font-size: pxToRem(12);
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.material-icons {
		font-size: pxToRem(20);
		margin-right: pxToRem(8);
	}
}

.discussion_tile-content-replies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// pointer-events: none;
	&:hover {
		.discussion_tile-content-meta-item-count--replies {
			color: $color--00;
		}
		.discussion_tile-content-meta-item-count--replies {
			background-color: $color--20;
			&:after {
				border-top-color: $color--20;
			}
		}
		.discussion_tile-content-meta-item-label {
			color: $color--20;
		}
	}
	.status{
		color : $color--00;
		background-color: $color--35;
	}
}

.discussion_tile-content-action {
	position: relative;
	display: block;
	width: auto;
	height: pxToRem(24);
	border-radius: pxToRem(12);
	margin-left: pxToRem(16);
	background-color: $color--05;
	padding: gridUnit(0.125) gridUnit(1);
}

.discussion_tile-replies {
	margin-top: pxToRem(24);
}

.discussion_tile-replies-header {
	position: relative;
	margin: 0 0 gridUnit(1.5) 0;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		border-top: 1px solid $color--13;
	}
}

.discussion_tile-replies-title {
	position: relative;
	background: $color--00;
	color: $color--20;
	padding-right: pxToRem(20);
	display: inline-block;
	font-size: pxToRem(12);
	line-height: (15 / 12);
	font-weight: 600;
	letter-spacing: pxToRem(0.2);
	margin: 0;
}

.discussion_tile-replies-list {
	.discussion_tile-replies-list-load {
		pointer-events: auto;
		padding: pxToRem(8);
		margin-left: pxToRem(-8);
		font-weight: bold;
		font-size: pxToRem(12);
		border-radius: pxToRem(4);
		margin-bottom: pxToRem(8);
	}
}

.discussion_tile-reply {
	margin-bottom: pxToRem(32);

	&:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: #{gridUnit(48)}) {
	.discussion_tile {
		grid-template-columns: pxToRem(144) 1fr;
		grid-template-rows: 1fr pxToRem(104);
		grid-template-areas:
			'🐙 🦑'
			'🐙 🦐';

		.discussion_tile-author {
			grid-area: 🐙;
		}

		.discussion_tile-content {
			grid-area: 🦑;
		}

		.discussion_tile-actions {
			grid-area: 🦐;
			padding-top: 0;
		}

		&.discussion_tile--no_actions {
			grid-template-columns: pxToRem(144) 1fr;
			grid-template-rows: 1fr;
			grid-template-areas: '🦞 🦀';

			.discussion_tile-author {
				grid-area: 🦞;
			}

			.discussion_tile-content {
				grid-area: 🦀;
			}
		}

		&.discussion_tile--narrow {
			display: block;
		}
	}
}

@media #{$breakpointMobile} {
	.discussion_tile {
		display: block;

		.discussion_tile-author {
			padding-left: pxToRem(24);
			padding-right: pxToRem(24);
			display: block;
			justify-content: initial;
			flex-direction: initial;
			border-bottom: thin solid #e7e7e7;
		}

		.discussion_tile-author-button {
			padding: pxToRem(1) gridUnit(1.5);
			// position: absolute;
			// top: 0px;
			// left: 0px;
			// width: 100%;
			// height: 100%;
		}

		.discussion_tile-author-content {
			width: 100%;
			display: flex;
			grid-template-areas: '🐰 🦊';
			grid-template-columns: pxToRem(48) 1fr;
			grid-template-rows: 1fr;
			align-items: center;
			justify-content: stretch;
			text-align: left;
		}

		&--narrow {
			margin: 0 0 gridUnit(1) 0;

			&:nth-child(2) {
				margin: 0 0 gridUnit(1) 0;
			}

			.discussion_tile-author {
				padding: gridUnit(1) gridUnit(1.5);
			}

			.discussion_tile-content {
				padding: gridUnit(1) gridUnit(1.5);
			}

			.discussion_follow {
				margin-top: 0;
			}
			.discussion_tile-author-content {
				display: grid;
				grid-template-areas: '🐭 🐹 🦄';
				grid-template-columns: pxToRem(42) 1fr pxToRem(24);
			}

			.discussion_tile-author-text {
				margin-left: gridUnit(1);
			}
		}
	}

	.discussion_tile-content-content {
		margin-top: gridUnit(0.5);
	}

	.discussion_tile-author-avatar {
		grid-area: 🐰;
	}

	.discussion_tile-author-text {
		margin-top: 0;
		margin-left: pxToRem(16);
		grid-area: 🦊;
	}

	.discussion_tile-content {
		padding: gridUnit(1) gridUnit(1.5);
		border-bottom: thin solid #e7e7e7;
	}

	.discussion_tile-actions {
		padding: 0 pxToRem(32) pxToRem(32);
	}

	.discussion_tile-replies {
		margin-top: pxToRem(8);
	}

	.discussion_tile-actions {
		padding: 0;
		align-items: flex-start;

		.discussion_follow {
			margin-top: 0px;

			.discussion_follow-button {
				border: 0;
				background: none;
				fill: $color--20;
				color: $color--20;
				text-align: center;
				width: 100%;
				min-height: pxToRem(47);
				font-size: pxToRem(12);
				line-height: 1;
				overflow: hidden;
				transition: $defaultLinkColorTransition;

				&:hover {
					background: none;
					border: none;
					color: $color--23;
					fill: $color--23;
				}

				.discussion_follow-label-icon {
					.injected-svg {
						width: pxToRem(12);
						height: pxToRem(12);
					}
				}
			}
			&--followed {
				.discussion_follow-button {
					fill: $color--23;

					&:hover {
						fill: $color--20;
					}
				}
			}
		}
	}
}
