.discussion_follow {
	position: relative;
	transition: all 200ms ease-in-out;
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	&.discussion_follow--followed {

		.discussion_follow-label_placeholder {
			max-width: 0;
		}

		.discussion_follow-icon {
			// transform: translate(-50%, -50%);
			opacity: 1;
		}

		.discussion_follow-icons {
	    transform: translate(0, 0);
		}
	}

}

.discussion_follow-label_placeholder {
	position: relative;
	opacity: 0;
	overflow: hidden;
	max-width: pxToRem(56);
}

.discussion_follow-label {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.discussion_follow-label-icon {
	.injected-svg {
		display: flex;
		width: pxToRem(16);
		height: pxToRem(16);
    transform: translate(4px, 0);
    align-self: center;
	}
	&:last-of-type {
		margin-left: pxToRem(4);
	}
}

@media #{$breakpointMobile} {
	.discussion_follow {
		margin-top: gridUnit(1);
    justify-content: center;
	}

	.discussion_follow-label_placeholder {
		max-width: pxToRem(156);
	}

	.discussion_tile {
		.discussion_follow-label_placeholder {
			width: pxToRem(156);
		}
	}
}
