.discussion_modal {
	width: 100%;
}

.discussion_modal-dropzone {
	width: 100%;
	position: relative;
	cursor: pointer;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 0;
		transition: all ease-in-out 200ms;
	}

	&--active {
		.discussion_modal-content {
			cursor: move;
			border-color: $color--01;
		}

		&.discussion_modal-dropzone--reject {
			.discussion_modal-content {
				border-color: $color--09;
				text-decoration: line-through;
				cursor: pointer;
			}
		}
	}

	&--image {
		&:before {
			padding-bottom: percentage(910 / 1640);
		}

		.discussion_modal-content {
			padding: 0;
			border-width: 0;
		}
	}

}

.discussion_modal-content {
	border: 2px dashed $color--17;
	border-radius: pxToRem(4);
	padding: gridUnit(1);

	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.discussion_modal-content-error{
	border-color: $color--09;
}


.discussion_modal-content-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;

	.discussion_modal-content-image-remove {
		position: absolute;
		top: gridUnit(1);
		right: gridUnit(1);
		background-color: $color--08;
		color: $color--00;

		&:hover,
		&:focus {
			background-color: $color--08;
			color: $color--00;
		}
	}
}


.discussion_modal-content-text {
	font-weight: bold;
	margin-bottom: gridUnit(0.5);
}

.discussion_modal-content-button {
	margin-top: gridUnit(1);
}

@media #{$breakpointMobile} {
	.discussion_modal {
		min-width: auto;
	}
}
