.discussion_report {
	.discussion_report-button {
		// margin: pxToRem(-12);
		pointer-events: auto;
    margin: 0;
    padding: 0;
		color: $color--24;
		background-color: unset;
		transition: $transition;
		&:hover {
			color: $color--20;
	    background-color: inherit;
		}
	}
}
