.edit_group_message_user {
	display: grid;
	padding: gridUnit(1) 0;
	grid-auto-flow: column;
	grid-template-columns: pxToRem(40) 1fr pxToRem(82);
	grid-template-rows: 1fr;
	grid-template-areas: 'left middle right';
	position: relative;

	&:last-child {
		.edit_group_message_user-divider {
			display: none;
		}
	}

	@include ie11-browser {
		> div:nth-child(1) {
			grid-row: 1;
			grid-column: 1;
		}

		> div:nth-child(2) {
			grid-row: 1;
			grid-column: 2;
		}

		> div:nth-child(3) {
			grid-row: 1;
			grid-column: 3;
		}
	}
}

.edit_group_message_user-avatar {
	position: relative;
}

.edit_group_message_user-avatar_container {
	width: pxToRem(32);
	height: pxToRem(32);
}

.edit_group_message_user-username {
	font-size: pxToRem(12);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: pxToRem(8);
}

body .edit_group_message_user-open_user_panel {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
}

.edit_group_message_user-remove {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.pill {
		margin-top: pxToRem(4);
	}
}

.edit_group_message_user-divider {
	position: absolute;
	height: 1px;
	background-color: #f2f2f2;
	width: 100%;
	bottom: 0px;
}
