.edit_group_message_form {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	.form {
		padding: 29px;
	}

	.autocomplete_user .autocomplete_user-select {
		border: none;
		margin: pxToRem(-7) pxToRem(-16.5);
		padding: 0 pxToRem(16.5);
		min-height: pxToRem(44);
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
