.event_register-button {
	position: relative;
	z-index: 1;
}
.event_register-button-trasparent {
	color: $color--00 !important;
	border-color: $color--00 !important;
	border: 1px solid !important; 
	&:active {
	background-color: rgba(0, 0, 0, 0.062) !important;

	}

}
.event_register-button-trasparent:hover{
	background-color: rgba(0, 0, 0, 0.062) !important;
}
.event_register-button-trasparent:active{
	background-color: rgba(0, 0, 0, 0.062) !important;
}



