.event_media-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}
.event_media-container2{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}
.event_media-image{
	background-color: $color--19;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	opacity: 1;
    transition: $defaultEaseInOutTransition;
    height: pxToRem(170);
    width: 100%;
    cursor: pointer;
}
.event_media-image2{
	background-color: $color--19;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	opacity: 1;
    transition: $defaultEaseInOutTransition;
    height: pxToRem(120);
    max-height: pxToRem(120);
    width: 100%;
    cursor: pointer;
   
}
.event_media-count-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 132, 130, 0.473);
}
.modal_image_container{
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    transition: $defaultEaseInOutTransition;

}
.modal_image{
    max-height: 100%;
    transition: $defaultEaseInOutTransition;
}
.modal_image_icon_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

