.event_tile {
	position: relative;
	display: grid;
	grid-template-columns: 45fr 55fr;
	grid-template-rows: 1fr;
	background: $color--00;
	box-shadow: $defaultTileShadow;
	transition: all ease-in-out 200ms;
	grid-template-areas: '⚽️ 🎾';
	margin: pxToRem(8);
	max-width: pxToRem(1008);
	width: 100%;
	min-width: pxToRem(854);
	max-height: pxToRem(260);
	cursor: pointer;
	.event_tile-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2 !important;
		transition: all ease-in-out 200ms;
	}

	&:hover {
		.event_tile-thumbnail {
			opacity: 0.7;
			transition: $defaultEaseInOutTransition;
		}

		.event_tile-content-title {
			color: $color--23;
			transition: $defaultEaseInOutTransition;
		}
	}
}

.event_tile-thumbnail {
	grid-area: ⚽️;
	position: relative;
	background-color: $color--19;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	opacity: 1;
	transition: $defaultEaseInOutTransition;
	max-height: pxToRem(260);
	min-height: pxToRem(260);
}

.event_tile-thumbnail-date {
	height: pxToRem(108);

	background-color: #28a745;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-area: date;
}
.event_tile-buttons {
	position: absolute;
	bottom: pxToRem(16);
	left: pxToRem(16);
	display: block;
	display: flex;
	align-items: center;
	background-color: white;
	padding-right: 0.5rem;
	color: black;
	cursor: pointer;
}
.event_tile-buttons-icons {
	background-color: $color--00;
	color: $color--24;
}
.type-workshop {
	background-color: #4e2a84 !important;
}

.type-activity {
	background-color: #ffc401 !important;
	color: #383838 !important;
	.event_single-sidebar-row,
	.event_single-sidebar-text,
	.event_register-button-trasparent,
	.event_single-time_details_text{
		color: #383838 !important;
	}
	.event_single-contact-button,.event_single-sidebar-remaining-time,hr{
		color: #383838 !important;
		border-color: #383838 !important;
	}
	.event_single-sidebar-icon{
		svg{
			fill: #383838;
		}
	}
}

.type-group-activity {
	background-color: #01ac50 !important;
}
.type-drop-in {
	background-color: #d50e8d !important;
}

.span-workshop {
	color: #4e2a84;
	background-color: #550a8141;
	text-transform: capitalize;
	padding: 4px 10px;
	border-radius: 10px;
	font-size: 12px;
	line-height: 14.4px;
	height: 23px;
	display: inline-block;
}

.span-activity {
	color: #ffc401;
	background-color: #ffc4013a;
	text-transform: capitalize;
	padding: 4px 10px;
	border-radius: 10px;
	font-size: 12px;
	line-height: 14.4px;
	height: 23px;
	display: inline-block;
}

.span-group-activity {
	color: #01ac50;
	background-color: #28a74638;
	text-transform: capitalize;
	padding: 4px 10px;
	border-radius: 10px;
	font-size: 12px;
	line-height: 14.4px;
	height: 23px;
	display: inline-block;
}
.span-drop-in {
	color: #d50e8d;
	background-color: #da11803a;
	text-transform: capitalize;
	padding: 4px 10px;
	border-radius: 10px;
	font-size: 12px;
	line-height: 14.4px;
	height: 23px;
	display: inline-block;
}
.dot-conatiner {
	position: relative;
	width: 66px;
	height: 22px;
	margin-left: 20px;
}
.dark-dot {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #848484;
	border-radius: 50%;
	color: #848484;
	font-size: 0px;
	width: 22px;
	height: 22px;
}
.dark-dot-medium {
	position: absolute;
	top: 0px;
	left: 18px;
	background-color: #a3a3a3;
	border-radius: 50%;
	color: #a3a3a3;
	font-size: 0px;
	width: 22px;
	height: 22px;
}
.dark-dot-light {
	position: absolute;
	top: 0px;
	left: 36px;
	background-color: #c3c3c3;
	border-radius: 50%;
	color: #c3c3c3;
	font-size: 0px;
	width: 22px;
	height: 22px;
}
.event_tile-thumbnail-date-day {
	line-height: 25.2px;
	font-size: pxToRem(21);
	font-weight: 500;
	color: $color--00;
	display: block;
	width: 100%;
}

.event_tile-thumbnail-date-month {
	line-height: 25.2px;
	font-size: pxToRem(21);
	font-weight: 500;
	color: $color--00;
	display: block;
	text-transform: uppercase;
	width: 100%;
}

.event_tile-content {
	grid-area: 🎾;
	padding: 0rem;
	position: relative;
}

.event_tile-content_wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 1;
}

.event_tile-content_information {
	grid-area: 1;
}

.event_tile-content-info,
.event_tile-content-title {
	margin-bottom: 5px;
	font-weight: 500;
}

.event_tile-content-title {
	transition: $defaultEaseInOutTransition;
	font-size: pxToRem(21) !important;
	color: #66676b !important;
	line-height: pxToRem(30);
}
.event_tile-content-description {
	line-height: 15px;
	margin: pxToRem(9) pxToRem(0);
}
.event_tile-content-info {
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: row;
}
.promo-button {
	float: right !important;
}
.event_tile-location-span{
	margin-right: pxToRem(60) !important;
}
.btn-green:hover {
	background-color: #28a745 !important;
	color: white !important;
	border-color: #28a745 !important;
}
.underline {
	text-decoration: underline;
	cursor: pointer;
}
.event_tile-content-info-detail {
	font-size: pxToRem(15);
	line-height: pxToRem(18);
	color: $color--24;
	font-weight: bold;
	padding-right: pxToRem(16);
	margin: 0;
	&:last-of-type {
		padding-right: 0;
	}
}
.event_tile-content-info-icon {
	align-items: center;
	width: pxToRem(27);
	height: pxToRem(28);
	// margin-right: pxToRem(16);

	svg {
		fill: $color--21;
	}
	//margin-top: pxToRem(4); // (24-16)/2
}
.icon-group-activity {
	svg {
		fill: #01ac50 !important;
	}
}
.icon-activity {
	svg {
		fill: #ffc401 !important;
	}
}
.icon-drop-in {
	svg {
		fill: #d50e8d !important;
	}
}
.icon-workshop {
	svg {
		fill: #4e2a84 !important;
	}
}
.event_tile-date-and-time {
	display: grid;
	grid-template-columns: pxToRem(108) 1fr;
	grid-template-areas: 'date heading-info';
	margin-top: pxToRem(2);
}

.event_tile-location {
	display: flex;
	align-items: center;
	margin-top: pxToRem(2);
	svg {
		fill: $color--21;
	}
}

.event_tile-actions-item {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.event_tile_footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.event_tile-going-container {
	display: flex;
	align-items: center;
	margin-top: pxToRem(16);
	.verticle_line {
		margin-left: pxToRem(20);
		width: 1px;
		height: 23px;
		background-color: #c3c3c3;
		color: #c3c3c3;
	}
}

.going-span {
	font-size: 15px;
	line-height: 18px;
	text-transform: capitalize;
	color: #898989;
	font-weight: 500;
}
.event_tile-join-button {
	border: 2px solid #00b6f1;
	color: #00b6f1;
	width: pxToRem(40);
	position: absolute;
	right: 20px;
	bottom: 40px;
	height: pxToRem(40);
	font-size: 35px;
	list-style: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.event_filter-button{
	border-color: #00b6f1 !important;
	color: #00b6f1 !important;
}
.event_filter-button:hover{
	color: white !important;
	background-color: #00b6f1 !important;
}
.event_filter-button:active{
	color: white !important;
	background-color: #00b6f1 !important;
}
.event_filter-button:focus{
	color: white !important;
	background-color: #00b6f1 !important;
}
.event_tile-join-button-disabled {
	border: 2px solid #599bb188;
	color: #599bb188;
	width: pxToRem(40);
	position: absolute;
	right: 20px;
	height: pxToRem(40);
	font-size: 35px;
	list-style: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event_tile-content-header {
	display: grid;
	grid-template-columns: pxToRem(108) 1fr;
	grid-template-areas: 'date  heading-info';
}
.player-wrapper {
	margin-top: pxToRem(16);
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.event_tile-date-and-time-icon{
	grid-area: date;
	width: 108px;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eff0f2;
}
.event_tile-date-and-time-detail{
	padding: 0 0.5rem;
	grid-area: heading-info;
	display: flex;
	align-items: center;
}
	
@media (max-width: #{pxToRem(1200)}) {
	.event_tile {
		.event_tile-content_wrapper {
			display: block;
		}

		.event_tile-actions {
			padding: 0px;
		}

		.event_tile-actions-item {
			padding: gridUnit(2) 0 gridUnit(1) 0;
			display: flex;
			justify-content: flex-start;
		}
		.event_tile-content-title {
			font-size: pxToRem(15) !important;
			line-height: pxToRem(17) !important;
		}
	}
}

@media #{$breakpointMobile} {
	.event_tile {
		grid-template-areas:
			'⚽️'
			'🎾';
		grid-template-columns: 1fr;
		max-height: 100%;
		min-width: 100%;
	}
	.event_tile-content-title{
		font-weight: bold;
	}
	.event_tile-going-container{
		margin-top: pxToRem(8);
	}
	.verticle_line{
		margin-left: pxToRem(8) !important;
	}
	.dot-conatiner{
		margin-left: pxToRem(8);
		width: pxToRem(56);
		height: pxToRem(20);
	}
	.dark-dot {
		width: pxToRem(20);
		height: pxToRem(20);
	}
	.dark-dot-medium{
		width: pxToRem(20);
		height: pxToRem(20);
		left: pxToRem(16);
	}
	.dark-dot-light{
		width: pxToRem(20);
		height: pxToRem(20);
		left: pxToRem(32);
	}
	.going-span{
		line-height: pxToRem(15);
		font-size: pxToRem(13);
	}
	.event_tile-content-info-detail{
		font-size: pxToRem(15);
		line-height: pxToRem(17);
	}
	.event_tile-content {
		padding: 0;
	}
	.event_tile-content-header{
		grid-template-columns: pxToRem(96) 1fr;
	}
	.event_tile-date-and-time{
		grid-template-columns: pxToRem(96) 1fr;
	}
	.event_tile-thumbnail-date{
		height: pxToRem(96);
	}
	.event_tile-date-and-time-icon{
		width: pxToRem(96);
	}
	.event_tile-content-info-detail {
		padding-right: 0;
		width: 100%;
	}

	.event_tile-thumbnail {
		height: pxToRem(200);
	}

	body .event_tile-actions {
		padding: gridUnit(0);
	}

	.event_tile-actions-item {
		justify-content: flex-start;
	}
	.event_tile-content-info {
		margin: 0 !important;
		width: auto !important;
		max-width: auto !important;
	}
	.event_tile-join-button{
		bottom: 30px;
		z-index: 99;
	}
	
}
