body {
	.featured_item-button {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

// Located on blogs.tsx
.featured_items-wrapper {
	@include tileContainerWidth();
	display: flex;
	flex-direction: column;
}

.featured_items-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: gridUnit(1.5);

	&--disabled {
		opacity: 0.4;
		filter: grayscale(100%);
	}
}

.featured_item {
	display: flex;
	flex-direction: column;
	background-color: $color--00;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
	position: relative;

	&:hover {
		.featured_item-title {
			color: $color--40;
			transition: $defaultEaseInOutTransition;
		}
	}
}

.featured_items-title {
	display: flex;
}

.featured_item-meta {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	border-bottom: 1px solid $color--22;
	padding: gridUnit(1.5);
}

.featured_item-title {
	@include font--h5;
	font-weight: normal;
	font-family: $fontStack--title;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
	color: $color--20;
	transition: $defaultEaseInOutTransition;
}

.featured_item-image {
	min-height: pxToRem(176);
	width: 100%;
	background-size: cover;
}

.featured_item-author {
	position: relative;
	display: flex;
	padding: gridUnit(1) gridUnit(1.5);
}

body {
	.featured_item-button {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
	}
}

@media #{$breakpointMobile} {
	.featured_items-container {
		display: block;
	}

	.featured_item {
		margin-bottom: pxToRem(24);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.featured_item-image {
		width: 100%;
		min-height: pxToRem(200);
	}
}
