.general_tile {
	position: relative;
	display: grid;
	grid-template-columns: pxToRem(328) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '🐻 🐼';
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
	transition: all ease-in-out 200ms;

	&--disabled {
		opacity: 0.4;
		filter: grayscale(100%);
	}

	.general_tile-button,
	.tile_title-title {
		transition: all ease-in-out 200ms;
	}

	&:hover {
		.tile_title-title {
			color: $color--40;
			transition: all ease-in-out 200ms;
		}

		.general_tile-image {
			opacity: 0.7;
			transition: all ease-in-out 200ms;
		}
	}
}

.general_tile-image {
	pointer-events: auto;
	grid-area: 🐻;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: pxToRem(16);
	background-color: rgba($color--13, 0.2);
	width: 100%;
	min-height: pxToRem(184);
	position: relative;
	background-color: $color--09;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
	opacity: 1;
	transition: all ease-in-out 200ms;

	&--has_background_image,
	&--display_user {
		background-size: cover;
		background-position: center;
	}
}

body {
	.general_tile-button {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.general_tile-author {
		.general_tile-button {
			border-radius: 5px;
		}
	}

	.general_tile-topic {
		position: relative;
		z-index: 9;
	}

	.general_tile-topic_link {
		text-transform: uppercase;
		font-size: pxToRem(10);
		letter-spacing: 0.5px;
		font-weight: 600;
		color: $color--21;
		transition: $defaultEaseInOutTransition;

		&:hover {
			color: $color--40;
			transition: $defaultEaseInOutTransition;
		}
	}
}

.general_tile-tile_header {
	display: flex;
	justify-content: space-between;
	position: relative;

	.resource_action {
		position: absolute;
		right: 0px;
	}

	.resource_action-button {
		margin-left: gridUnit(0.5);
	}

	.injected-svg {
		width: gridUnit(1.5);
		height: gridUnit(1.5);
	}
}

.general_tile-title {
	margin-bottom: gridUnit(1);
}

.general_tile-message {
	margin-bottom: gridUnit(1);
	display: block;
	color: $color--20;
	font-size: pxToRem(16);
	line-height: (24/16);

	.markdown {
	}
}

.general_tile-icon {
	background-color: $color--06;
	border-radius: gridUnit(5);
	position: relative;
	width: pxToRem(50);
	height: pxToRem(50);

	svg {
		fill: $color--00;
		width: pxToRem(28);
		height: pxToRem(28);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// .general_tile-got_it {
// 	display: block;
// 	margin-top: gridUnit(1);
// }

body {
	.general_tile-author {
		.tile_author {
			position: relative;
			display: flex;
			padding: gridUnit(0.5);
			margin: gridUnit(-0.5);
		}

		.tile_author-button {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}
}

.general_tile-author_image {
	width: pxToRem(40);
	height: pxToRem(40);
	margin-right: gridUnit(0.75);

	.general_tile-user_details-avatar {
		width: 100%;
		height: 100%;
	}
}

.general_tile-content {
	grid-area: 🐼;
	padding: gridUnit(1) gridUnit(1.5) gridUnit(1.5) gridUnit(1.5);
}

.general_tile-content {
	position: relative;
}

@media #{$breakpointMobile} {
	.general_tile {
		display: block;
	}

	.general_tile-image {
		min-height: pxToRem(176);
	}

	.general_tile-information--has_background_image {
		min-height: pxToRem(230);
	}

	.general_tile-content {
		padding: gridUnit(1) gridUnit(1) gridUnit(2) gridUnit(1);
	}
}
