.giphy_selection {
	position: absolute;
	width: pxToRem(278);
	height: 37vh;
	background: $color--00;
	z-index: 9;
	display: flex;
	flex-direction: column;
	bottom: pxToRem(46);
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	box-shadow: $defaultTileShadow20;
}

.giphy_selection-input {
	display: flex;
	padding: gridUnit(0.5);
	// border-bottom: rgba(black, 0.1) solid 1px;
	position: relative;

	input {
		color: $color--20;
		width: 100%;
		padding: pxToRem(8) gridUnit(1);
		outline: 0;
		position: relative;
		font-size: pxToRem(12);
		border-color: $color--22;
		border-style: solid;
		border-width: pxToRem(2);
		border-radius: pxToRem(2);
		background-color: $color--00;
		font-family: $fontStack;
	}

	.list_loading {
		position: absolute;
		top: 50%;
		right: gridUnit(2);
		transform: translate(0, -50%);
		z-index: 9;
		padding: 0;
	}
}

.giphy_selection-results {
	display: block;
	box-sizing: border-box;
	overflow-y: scroll;
	padding: gridUnit(0) gridUnit(0.5) gridUnit(0.5) gridUnit(0.5);
	height: 100%;
}

.giphy_selection-results_list {
	margin: 0;
	padding: 0;
	display: block;
}

.giphy_select_result_item {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
}

.giphy_select_result_item-image {
	width: 100%;
}

body {
	.ql-snow.ql-toolbar {
		.giphy_select_result_item-button {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

@media #{$breakpointMobile} {
	.giphy_selection {
		bottom: pxToRem(70);
		left: 0%;
		transform: translate3d(0%, 0, 0);
	}
}
