.landing_header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;

	@include ie11-browser {
		position: fixed;
		width: 100%;
		background-color: $color--25;
	}
}

.landing_header-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: $color--25;
	transition: all 200ms ease-in-out;
}

.landing_header-container {
	width: 100%;
	max-width: pxToRem(1184);
	padding: gridUnit(0.875) pxToRem(32);
	display: flex;
	justify-content: space-between;
}

.landing_header-logo_container {
	display: flex;
	align-items: center;
	z-index: 9;
}

.landing_header-logo {
	max-width: pxToRem(183);
	margin-right: gridUnit(1.5);

	&:hover {
		cursor: pointer;
	}

	&--desktop {
	}

	&--mobile {
		display: none;
	}
}

.landing_header-title {
	padding-left: gridUnit(1.5);
	border-left: 1px solid rgba($color--00, 0.25);
}

.landing_header-action {
	position: relative;
	display: flex;
	align-items: center;

	&--desktop {
	}

	&--mobile {
		display: none;
		fill: $color--00;
		width: 30%;
	}
}

.landing_header-side-profile-avatar {
	border: 1px solid rgba($color--00, 0.2);
	padding: pxToRem(4);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	position: relative;

	svg {
		width: pxToRem(25);
		height: pxToRem(25);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

body .landing_header-button--login {
	margin-right: gridUnit(1);
	// color: $color--00;
	border-color: $color--00;
	// border-width: 1px;

	&:hover,
	&:active {
		background-color: rgba($color--00, 0) !important;
		color: $color--00 !important;
		border-color: rgba($color--00, 0.7) !important;
	}
}

body .landing_header-mobile_login_button {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.landing_header-logo-nz{
	width: 270px;
	max-width: 100%;
}

@media #{$breakpointTablet} {
	.landing_header-logo {
		&--desktop {
			display: none;
		}

		&--mobile {
			display: block;
		}
	}
}

@media #{$breakpointMobile} {
	.landing_header {
		background-color: $color--20;
		color: $color--06;
	}

	.landing_header-container {
		padding: gridUnit(0) gridUnit(0);
	}

	.landing_header-logo_container {
		padding: gridUnit(1) 0 gridUnit(1) gridUnit(1.5);
	}

	.landing_header-logo {
		margin-right: gridUnit(1);
		max-width: gridUnit(6.5);
	}

	.landing_header-title {
		padding-left: 0;
	}

	.landing_header-action {
		padding-right: gridUnit(1.5);
		background-color: $color--20;
	}

	.landing_header-action {
		padding: gridUnit(1) gridUnit(1.5);

		&--desktop {
			display: none;
		}

		&--mobile {
			display: flex;
		}
	}
}
