.landing_hero {
	min-height: pxToRem(720);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	color: $color--00;
	overflow: hidden;
	position: relative;
	background: url(#{get('STATIC_PATH')+'/images/landing-page/connect-landing-new-hero.webp'})
		center center;
	background-size: cover;
	background-position: top;

	@include ie11-browser {
		min-height: 0;
		height: pxToRem(640);
	}
}
.landing_hero_nz{
	background: url(#{get('STATIC_PATH')+'/images/nz/Leaton-2.jpg'});
	background-size: cover;
	background-position: top;

	@include ie11-browser {
		min-height: 0;
		height: pxToRem(640);
	}
}

.no-js,
.no-webp {
	.landing_hero {
		background-image: url(#{get('STATIC_PATH')+'/images/landing-page/connect-landing-new-hero.jpg'});
	}
}

.landing_hero-container {
	width: 100%;
	max-width: pxToRem(1120);
	// padding: 0 gridUnit(2.5);
	position: relative;
	z-index: 2;

	&.parents {
		margin-top: pxToRem(164);
		margin-bottom: pxToRem(76);
	}
}

.landing_hero-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	&--top {
		background: linear-gradient(
			270deg,
			rgba(15, 37, 66, 0) 0%,
			#0a1a30 100%
		);
	}

	&--bottom {
		background: linear-gradient(
			270deg,
			rgba(15, 37, 66, 0) 0%,
			#0a1a30 100%
		);
	}
	// background: linear-gradient(329deg,hsla(0,0%,100%,0),rgba(15,37,66,.65) 38%,#0f2542 100%);
}

.landing_hero-headline {
	font-size: pxToRem(40);
	line-height: pxtorem(56);
	font-weight: 500;
	margin: 0 0 pxToRem(36) 0;
}

.landing_hero-subheader {
	margin: 0 0 gridUnit(3) 0;
	max-width: 50%;
	font-size: pxToRem(20);
	line-height: pxToRem(28);
}

.landing_hero-buttons {
}

.landing_hero-play_container {
	display: flex;
	align-items: center;
	margin-top: pxToRem(100);
}

body .landing_hero-play_icon {
	width: pxToRem(55);
	height: pxToRem(55);
	background-color: rgba($color--00, 0.32);
	border-radius: 100%;
	border: 2px solid $color--05;
}

.landing_hero-play_label {
	margin-left: gridUnit(1);
	font-family: $fontStack--title;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: pxToRem(12);
}

.landing_hero-video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	transform: translate3d(-50%, -50%, 0);
}

.landing_hero-parents {
	font-weight: 600;
	font-size: pxToRem(17.5);

	a {
		color: $color--05;
		text-decoration: none;
		margin-left: pxToRem(3);
	}
}

body .landing_hero-cta {
	&--outlined {
		margin-right: gridUnit(1);
		color: $color--00;
		border-color: $color--00;

		&:hover,
		&:active {
			background-color: $color--00 !important;
			color: $color--20 !important;
			border-color: $color--00 !important;
		}
	}
}

@media #{$breakpointTablet} {
	.landing_hero-container {
		padding: 0 gridUnit(2.5);
	}

	.landing_hero-video {
		display: none;
	}

	.landing_hero-subheader {
		max-width: 100%;
	}
}

@media #{$breakpointMobile} {
	.landing_hero {
		min-height: 0;
		height: auto;
		margin-top: pxToRem(72);
	}

	.landing_hero-container {
		padding: pxToRem(80) gridUnit(2.5) pxToRem(55) gridUnit(2.5);

		&.parents {
			margin-top: gridUnit(4);
			margin-bottom: gridUnit(2);
			padding-top: 0px;
		}
	}

	.landing_hero-buttons {
		display: flex;
	}

	.landing_hero-play_container {
		margin-top: pxToRem(50);
	}

	.landing_hero-gradient {
		&--top {
			background: linear-gradient(
				270deg,
				rgba(15, 37, 66, 0) 0%,
				#0a1a30 100%
			);
			opacity: 0.9;
		}

		&--bottom {
			background: linear-gradient(
				200deg,
				rgba(15, 37, 66, 0) 0%,
				#0a1a30 100%
			);
		}
		// background: linear-gradient(329deg,hsla(0,0%,100%,0),rgba(15,37,66,.65) 38%,#0f2542 100%);
	}
}
