.landing_call_to_action {
	display: flex;
	justify-content: center;
	padding: gridUnit(7.5) gridUnit(1.5);
	background-color: $color--38;
	color: $color--00;

	h4 {
		margin-bottom: gridUnit(2);
		font-size: gridUnit(2);
		line-height: pxToRem(40);
	}
	.landing_call_to_action-join-button{
		background-color: $color--35;
		border-color: $color--35;
	}
	.landing_call_to_action-join-button:hover{
		border-color: $color--35 !important;
		color: $color--35 !important;
		background-color: $color--00 !important;
	}
}

.landing_call_to_action-container {
	max-width: pxToRem(1120);
	text-align: center;
}

body .landing_call_to_action-button {
	width: gridUnit(13.5);
}

@media #{$breakpointMobile} {
	.landing_call_to_action {
		padding: gridUnit(3) gridUnit(1.5);

		h4 {
			font-size: gridUnit(1.5);
			line-height: pxToRem(32);
		}
	}
}
