.markdown {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	blockquote,
	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
		padding-left: pxToRem(8);
		border-left: 1px solid rgba($color--00, 0.2);
	}

	&--inline {
		p,
		blockquote,
		ul,
		ol,
		li,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		code,
		table,
		tr,
		th,
		td,
		thead,
		tbody {
			display: inline;
			font-size: inherit;
			font-family: inherit;
			margin: 0 pxToRem(3) 0 0;
			padding: 0;
		}

		hr,
		br {
			display: none;
		}

		a {
			text-decoration: none;
		}
	}
}
