.message_user_list-conversation_name {
	color: $color--06;
}

.message_user_list-conversation_user {
	color: $color--23;
	position: relative;
}

body .message_user_list-conversation_user_button {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

body .message_user_list-conversation_button {
	color: $color--28;
}
