.user_reply {
	background-color: $color--15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.user_reply-form {
	padding: gridUnit(2) gridUnit(1) gridUnit(2) gridUnit(1.5);
	display: flex;

	.user_reply-form_submit {
		display: flex;
		align-items: flex-end;

		.form-submit {
			padding: 0;
			width: pxToRem(40);
			height: pxToRem(40);
			line-height: 1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: pxToRem(2);
			margin: 0;
			border-width: 0;

			&:disabled {
				pointer-events: none;
				opacity: 0.25;
				background-color: $color--24;
				fill: $color--00;
				color: $color--00;
			}
			&:hover {
				background-color: $color--23;
				border-color: $color--23;
				color: $color--00;
				fill: $color--00;
			}
			span {
				font-size: 0;
				.injected-svg {
					display: flex;
					width: pxToRem(20);
					height: pxToRem(20);
				}
			}
		}
	}
}

.user_reply-author {
	display: flex;
	align-items: flex-end;
}

.user_reply-author_avatar {
	width: pxToRem(40);
	height: pxToRem(40);
}

.user_reply-form_textarea {
	flex-grow: 1;
	margin: 0 gridUnit(0.5) 0 gridUnit(1.5);
}

.user_reply-form_textarea {
	width: 100%;
}

@media #{$breakpointMobile} {
	.user_reply {
		padding-left: gridUnit(1);
		padding-right: gridUnit(1);
	}

	.user_reply-form {
		padding: gridUnit(2) gridUnit(0);
	}

	.user_reply-author {
		display: none;
	}

	.user_reply-form_textarea {
		flex-grow: 1;
		margin-left: 0;
	}
}
