body .message_inbox_view-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.message_inbox_view {
	display: flex;
	justify-content: flex-start;
	position: relative;
	background-color: transparent;
	box-sizing: border-box;
	// border-left: 6px transparent solid;
	transition: $defaultLinkColorTransition;

	&:focus,
	&:hover {
		background-color: rgba($color--00, 0.1);
	}

	&--is_current_message {
		background-color: rgba($color--00, 0.1);
	}

	&--unread_messages {
		&:after {
			display: block;
			content: ' ';
			position: absolute;
			left: pxToRem(10);
			background-color: $color--04;
			border-radius: pxToRem(3);
			height: pxToRem(6);
			width: pxToRem(6);
			top: pxToRem(29);
		}
	}

	&--group {
	}

	&:before {
		position: absolute;
		bottom: 0;
		content: ' ';
		height: pxToRem(1);
		left: gridUnit(0.75);
		width: calc(100% - #{gridUnit(1.5)});
		background-color: rgba($color--00, 0.1);
	}
}

body .message_inbox_view-avatar_group {
	max-width: 100%;
}

.message_inbox_view-avatar {
	border-radius: 50%;
	transition: all ease-in-out 200ms;
	width: pxToRem(32);
	height: pxToRem(32);

	&--group {
		svg {
			color: $color--00;
			fill: $color--00;
		}
	}
}

.message_inbox_view-meta {
	flex-grow: 1;
	padding-left: gridUnit(0.75);
	display: flex;
	flex-wrap: wrap;
}

.message_inbox_view-information {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: gridUnit(0.5);
}

.message_inbox_view-usernames {
	color: $color--00;
	font-weight: 600;
}

.message_inbox_view-time {
	color: $color--00;
	opacity: 0.65;
	font-size: pxToRem(10);
	line-height: (16/10);
}

.message_inbox_view-message_content {
	color: $color--00;
	font-weight: 600;
	width: 100%;
	.markdown {
		p {
			display: block;
			width: 100%;
			max-width: pxToRem(213);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
		}
	}
}

@media #{$breakpointMobile} {
	.message_inbox_view-message_content {
		.markdown {
			p {
				max-width: pxToRem(228);
			}
		}
		.message_inbox_view {
			&:before {
				width: calc(100% - #{gridUnit(3)});
				left: gridUnit(1.5);
			}
		}
	}
}
