.message_item {
	display: flex;
	flex-direction: row;
	margin-bottom: gridUnit(1.5);
	width: 70%;
	position: relative;
}

.message_item-content_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.message_item-content {
	overflow: hidden;

	> iframe:only-child,
	> p:only-child img {
		margin: pxToRem(-8) pxToRem(-16);
		max-width: calc(100% + #{pxToRem(32)});
	}
}

.message_item-accent {
	position: absolute;
	right: auto;
	left: pxToRem(-12);
	fill: $color--13;

	svg {
		width: pxToRem(28);
		height: pxToRem(28);
	}
}

.message_item-container {
	display: flex;

	&--system_generated {
		.message_item {
			justify-content: center;
			text-align: center;
			width: 100%;
		}

		.message_item-avatar_container {
			display: none;
		}

		.message_item-content_container {
			align-items: center;
		}

		.message_item-name {
			display: none;
		}

		.message_item-content {
			padding: pxToRem(4) pxToRem(8);
			border-radius: pxToRem(4);
			background-color: $color--29;
			font-size: pxToRem(12);
			line-height: percentage(18 / 12);
		}

		.message_item-timeago {
			margin-left: 0;
		}

		.message_item-accent {
			display: none;
		}
	}

	&--is_user_message {
		flex-direction: row-reverse;

		.message_avatar {
			display: none;
		}

		.message_item-accent {
			right: pxToRem(-11);
			left: auto;
			fill: $color--06;
			transform: scaleX(-1);
		}

		.message_item {
			justify-content: flex-end;
		}

		.message_item-name {
			display: none;
		}

		.message_item-avatar_container {
			display: none;
		}

		.message_item-content_container {
			align-items: flex-end;
		}

		.message_item-timeago {
			margin-left: 0;
			margin-right: gridUnit(1);
		}

		.message_item-content {
			background-color: $color--20;
			color: $color--00;
		}
	}
}

.message_avatar {
	display: flex;
	margin-right: gridUnit(1);
	width: pxToRem(42);

	img {
		margin-top: pxToRem(22);
		width: pxToRem(42);
		height: pxToRem(42);
	}
}

.message_item-name,
.message_item-timeago {
	font-size: pxToRem(12);
	line-height: (16/12);
	margin-left: gridUnit(1);
	margin-bottom: pxToRem(8);
	color: $color--21;
}

.message_item-name {
	font-weight: 600;
}

.message_item-timeago {
	margin-top: pxToRem(8);
}

.message_item-avatar_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-right: gridUnit(1);
}

.message_item-avatar {
	background-color: $color--00;
	margin-bottom: gridUnit(1.2);
	width: pxToRem(40);
	height: pxToRem(40);
}

.message_item-content {
	background-color: $color--29;
	border-radius: gridUnit(1.25);
	padding: gridUnit(0.5) gridUnit(1);
	position: relative;
	max-width: 100%;

	p {
		margin: 0;
		line-height: (24/14);
		font-size: pxToRem(14);
		// word-break: break-all;
	}
}

@media #{$breakpointMobile} {
	.message_item {
		width: calc(100% - #{pxToRem(56)});
	}
}
