.modal_search {
	display: flex;
	justify-content: center;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.modal_search-container {
	width: pxToRem(810);
	padding: gridUnit(2.5) 0;
}

.modal_search-title {
	position: relative;
	color: $color--20;
	font-size: pxToRem(14);
	line-height: (24/14);
}

.modal_search-search_icon {
	position: absolute;
	top: 0;
	right: 100%;
	width: pxToRem(50);
	height: pxToRem(50);
	border-radius: 50%;
	margin-right: pxToRem(8);
	transform: translateY(-30%);
	color: $color--23;

	.injected-svg {
		fill: currentColor;
		top: 50%;
		left: 50%;
		width: 100%;
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

.modal_search-query {
	margin: pxToRem(22) 0 pxToRem(40) 0;

	input {
		width: 100%;
		color: $color--20;
		font-size: pxToRem(24);
		line-height: (32/24);
		border: 0;
		font-weight: 500;
		outline: none;

		@include inputPlaceholderStyle {
			color: $color--20;
			opacity: 0.25;
		}
	}
}

.modal_search-results_filter {
	display: flex;
	flex-direction: row;
	margin-bottom: pxToRem(16);
}

.modal_search-filter_list {
	flex-grow: 1;
	flex-direction: row;
	display: flex;
}

.modal_search-filter {
	width: auto;
	margin-left: gridUnit(1);
	display: flex;
	color: $color--21;
	fill: $color--26;
	font-weight: bold;

	&--top {
		margin-left: 0;
		margin-right: gridUnit(3);
		font-weight: bold;

		.modal_search-filter_icon {
			display: none;
		}

		.modal_search-filter_label {
			padding-left: 0;
		}
	}

	&:hover {
		color: $color--26;

		svg {
			fill: $color--26;
		}
	}
}

.modal_search-filter_label {
	padding-left: gridUnit(0.5);
	text-transform: capitalize;
	font-size: pxToRem(14);
	line-height: (24/14);
	display: block;
}

.modal_search-filter_icon {
	position: relative;
	width: gridUnit(1);
	height: gridUnit(1);

	svg {
		width: gridUnit(1);
		height: gridUnit(1);
		fill: $color--21;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

.modal_search-sub_title {
	display: flex;
	color: $color--21;
	font-weight: bold;
	font-size: pxToRem(14);
	line-height: (24/14);
	margin: 0;
}

@media #{$breakpointTablet} {
	.modal_search-container {
		padding: gridUnit(2.5);
		width: 100%;
	}

	.modal_search-title {
		display: flex;
		align-items: center;
	}

	.modal_search-search_icon {
		position: relative;
		right: 0;
	}
}

@media #{$breakpointMobile} {
	.modal_search-container {
		padding: gridUnit(2.5) gridUnit(1.5);
		width: 100%;
	}

	.modal_search-results_filter {
		display: block;
	}

	.modal_search-sub_title {
		display: block;
	}

	.modal_search-filter_list {
		display: block;
		padding-left: 0;
		padding-top: gridUnit(1);
	}

	.modal_search-filter {
		margin-left: 0;
	}
}
