.modal_introduction {
}

.modal_introduction-slider_container {
	overflow: hidden;
}

.modal_introduction-slider {
	display: flex;
	white-space: nowrap;
	position: relative;
	flex-wrap: nowrap;
	width: 100%;
	background-color: $color--27;
}

.modal_introduction-item_content_wrapper {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.modal_introduction-item {
	min-height: pxToRem(429);
	display: flex;
	width: 100%;
	white-space: initial;
}

.modal_introduction-item_content {
	background-color: $color--27;
	width: pxToRem(369);
	padding: pxToRem(63) pxToRem(38) 0;

	p {
		font-size: pxToRem(14);
		line-height: gridUnit(1.5);
		color: $color--21;
	}

	small {
		margin: 0px;
		color: $color--21;
	}

	.form-input {
		width: 100%;
	}
}

.modal_introduction-item_image {
	flex-grow: 1;
	background-color: $color--00;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 552px;

	&--mobile {
		display: none;
	}

	&--step_one {
		background-image: url(#{get('STATIC_PATH')+'/images/welcome-modal/welcome-step-one.jpg'});
	}

	&--step_two {
		background-image: url(#{get('STATIC_PATH')+'/images/welcome-modal/welcome-step-two.jpg'});
	}

	&--step_three {
		background-image: url(#{get('STATIC_PATH')+'/images/welcome-modal/welcome-step-three.jpg'});
	}

	&--step_four {
		background-image: url(#{get('STATIC_PATH')+'/images/welcome-modal/welcome-step-four.jpg'});
	}
}

.modal_introduction-footer {
	min-height: pxToRem(61);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: gridUnit(1);
	padding-right: gridUnit(1);
	border-top: 1px solid $color--22;
}

.modal_introduction-navigation {
	display: flex;
	align-items: center;
}

.modal_introduction-previous {
	transform: rotate(180deg);
	margin-right: gridUnit(0.75);
}

.modal_introduction-next {
	margin-left: gridUnit(0.75);
}

.modal_introduction-previous,
.modal_introduction-next {
	font-size: 20px;
	color: $color--23;
}

.modal_introduction-previous--hidden,
.modal_introduction-next--hidden {
	visibility: hidden;
}

.modal_introduction-started {
	position: absolute;
	right: gridUnit(1);
}

body .modal_introduction-current_slide {
	font-size: 6px;
	margin: 0 5px;
	color: $color--23;
	opacity: 0.5;

	&--active {
		opacity: 1;
	}
}

body .modal_introduction-checkbox.form {
	padding: pxToRem(8) 0;

	.form-input-checkbox-tick ~ span {
		font-size: pxToRem(14);
		padding-top: pxToRem(2);
	}
}

@media #{$breakpointMobile} {
	.modal_introduction-slider_container {
		background-color: $color--27;
	}

	.modal_introduction-slider {
		display: block;
	}

	.modal_introduction-item {
		display: block;
	}

	.modal_introduction-item_content {
		padding: gridUnit(2);
	}

	.modal_introduction-item_image {
		background-size: 86%;
		display: none;
		width: 100%;
		min-height: 300px;

		&--mobile {
			display: block;
		}
	}

	.modal_introduction-item_content {
		width: 100%;
		padding-top: gridUnit(2);
	}

	.modal_introduction-footer {
		justify-content: space-around;
	}

	.modal_introduction-started {
		position: static;
	}
}
