.newsletter_signup {
	display: flex;
	min-height: pxToRem(232);
}

.newsletter_signup-container {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
	}

	.form {
		width: 100%;
	}

	.form-column {
		flex-grow: 1;

		&--submit {
			width: auto;
			flex-grow: 0;
			display: flex;
			align-items: flex-end;
		}
	}
}

.newsletter_signup-header {
	text-align: center;
}

@media #{$breakpointTablet} {
}

@media #{$breakpointMobile} {
	.newsletter_signup-container {
		.form-row {
			flex-direction: column;
		}

		.form-column {
			&--submit {
				margin-top: gridUnit(1);
				display: flex;
				justify-content: center;
			}
		}
	}
}
