body {
	.quick_links_modal {
		min-width: pxToRem(675);
		background-color: $color--05;
	}
}

.quick_links_modal-title {
	padding: gridUnit(2.5) gridUnit(3.75) gridUnit(1.5) gridUnit(3.75);
}

.quick_links_modal-menu {
	display: block;
	text-decoration: none;
	position: relative;
	width: 100%;
	padding-bottom: gridUnit(1);

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

@media #{$breakpointMobile} {
	body {
		.quick_links_modal {
			min-width: 0;
			background-color: $color--05;
		}
	}

	.quick_links_modal-title {
		padding: gridUnit(1.5) gridUnit(1.75) gridUnit(1) gridUnit(1.75);
	}
}
