.register_verify {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register_verify-main-heading {
    font-weight: 200;
}
.register_verify-heading {
    margin: 0;
    font-size: pxToRem(24);
}
.register_verify-text {
    margin: pxToRem(10) 0 pxToRem(50);
    text-align: center;
    font-size: pxToRem(14);
    line-height: pxToRem(18);
}
.register_verify-logo {
    height: pxToRem(58);
    width: pxToRem(208);
    margin: 0 auto pxToRem(42);
}

.register_verify-phone {
    display: flex;
    margin: 8px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    p {
        font-weight: bold;
    }
}
.register_verify-phone-buuton {
    text-transform: none !important;
}

.register_verify-email {
    display: flex;
    margin: 8px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    p {
        font-weight: bold;
    }
}
.register_verify-email-buuton {
    text-transform: none !important;
    background-color: #00a9e0 !important;
    border-color: #00a9e0 !important;
    color: $color--00 !important;
    margin-top: pxToRem(30) !important;
}

.register_verify-fab {
    background-color: $color--00 !important;
}

.register_verify-icon {
    color: #92c83e;
}

.register_verify-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.register_verify-code {
    width: 344px !important;
    input {
        width: 40px !important;
        height: 40px !important;
        border: none !important;
        margin-right: 20px !important;
        border-bottom: 2px solid #92c83e !important;
        border-radius: 0 !important;
        background-color: #f7f7f7;
        font-family: "Muli", sans-serif !important;
        color: #63666a;
        &:last-child {
            margin-right: 0 !important;
        }
    }
}
