.report_tile {
	margin: 0 auto pxToRem(16);
	max-width: gridUnit(60);
	position: relative;

	&--deleted {
		opacity: 0.5;
	}
}

.report_tile-action {
	position: absolute;
	top: pxToRem(16);
	right: pxToRem(32);
}

.report_tile-reports {
	width: calc(100% - #{pxToRem(32)});
	margin: auto;
}

.report_tile-action-loading {
	padding: pxToRem(12);
}
