.report {
	padding: pxToRem(16);
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 100%;

	&--deleted {
		opacity: 0.5;
	}

	+ .report {
		border-top: 1px solid $color--15;
	}
}

.report_tile-meta {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-style: italic;
	font-size: pxToRem(12);
	margin-bottom: pxToRem(8);
}

.report-action-loading {
	padding: pxToRem(12);
}
