.featured_resource_tile {
	width: 100%;
	position: relative;
	background-color: $color--00;
	box-shadow: $defaultTileShadow;

	&:hover {
		background-color: $color--15;
	}

	&--left {
		grid-area: 🦁;
	}

	&--right {
		grid-area: 🐮;
	}
}

.featured_resource_tile-image {
	min-height: pxToRem(230);
	background-size: cover;
	background-position: center;
}

.featured_resource_tile-content {
	padding: gridUnit(2) gridUnit(2.5);
	background-color: transparent;
}

body {
	.featured_resource_tile-button {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	.featured_resource_tile .pill {
		z-index: 1;
	}
}

@media #{$breakpointMobile} {
	.featured_resource_tile {
		margin-bottom: gridUnit(1);
	}
}
