$transition: all 200ms ease-in-out;

body {
	.resource_action-button {
		border-radius: gridUnit(5);

		&--saved {
			color: $color--05;
		}
	}
}

.resource_action-button_label {
	color: $color--06;
}

.resource_action-button {

	.share-action_background {
		fill: transparent;
		transition: $transition;
	}

	.share-action_outline {
		stroke: $color--06;
		opacity: 0.4;
		transition: $transition;
	}

	.share-action_shape {
		fill: $color--06;
		transition: $transition;
	}

	&:hover,
	&.focus {
		.share-action_outline {
			stroke: $color--06;
			fill: $color--06;
			opacity: 0.4;
			transition: $transition;
		}
	}

	&--saved,
	&:active {
		.share-action_outline {
			stroke: $color--06;
			fill: $color--06;
			opacity: 1;
			transition: $transition;
		}

		.share-action_shape {
			fill: $color--00;
			transition: $transition;
		}
	}
}

