.rich_text_editor {
	position: relative;

	.ql-container {
		position: relative;
	}

	.ql-toolbar {
		position: sticky;
		top: 0;
		background: $color--00;
		z-index: 1;
	}

	.ql-editor {
		min-height: pxToRem(280);
	}

	button.ql-gifSearch {
		svg {
			@include ie11-browser {
				width: pxToRem(19);
				height: pxToRem(12);
			}
		}
	}

	.ql-formats {
		button {
			&.ql-gifSearch--active {
				color: $color--23;
				fill: $color--23;

				svg {
					color: $color--23;
					fill: $color--23;

					.ql-fill {
						color: $color--23;
						fill: $color--23;
					}

					.ql-stroke {
						stroke: $color--23;
						fill: $color--23;
					}
				}
			}
		}

		svg {
			color: $color--25;
			fill: $color--25;

			.ql-fill {
				color: $color--25;
				fill: $color--25;
			}

			.ql-stroke {
				stroke: $color--25;
			}
		}
	}
}

.user_reply-form_textarea,
.discussion_single-content-reply {
	.rich_text_editor {
		.ql-editor {
			min-height: pxToRem(24);
			max-height: pxToRem(172);
			background-color: $color--00;
			border-width: 0px;
		}

		.ql-container,
		.ql-toolbar {
			border-width: 0px;
		}

		.ql-toolbar {
			margin-bottom: pxToRem(4);
			background-color: #e8e8e8;
			display: inline-block;
		}

		.ql-formats {
			color: $color--25;

			button {
				&.ql-gifSearch--active {
					color: $color--23;
					fill: $color--23;

					svg {
						color: $color--23;
						fill: $color--23;

						.ql-fill {
							color: $color--23;
							fill: $color--23;
						}

						.ql-stroke {
							stroke: $color--23;
							fill: $color--23;
						}
					}
				}
			}

			svg {
				color: $color--25;
				fill: $color--25;

				.ql-fill {
					color: $color--25;
					fill: $color--25;
				}

				.ql-stroke {
					stroke: $color--25;
				}
			}
		}
	}
}

.mention_list {
	display: none;
	&--display {
		display: block;
	}

	.mention_list-list {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		background-color: $color--00;
		border: 1px solid #e7e7e7;
		margin: 0;
		padding: pxToRem(6) 0;
		list-style-type: none;
		min-width: 200px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	}

	.mention_list-item {
		color: $color--25;
		padding: gridUnit(0.35) gridUnit(0.75);
		font-size: pxToRem(12);
		font-weight: 600;
		font-family: $fontStack;

		> * {
			pointer-events: none;
		}
	}
}

.ql-gifContainer {
	position: relative;
	display: inline-block;
	height: 24px;
	width: 28px;
}

.mention-blot,
.hashtag-blot {
	span[contenteditable='false'] {
		color: $color--20;
		background-color: #ededed;
		font-family: $fontStack;
		font-weight: 600;
		padding: pxToRem(4) pxToRem(6);
		margin: 0 pxToRem(3);
		font-size: pxToRem(12);
		border-radius: 4px;

		span {
			padding: 0;
			margin: 0;
		}
	}
}

.blot-preview {
	color: $color--20;
	background-color: #ededed;
	font-family: $fontStack;
	font-weight: 600;
	padding: pxToRem(4) pxToRem(6);
	margin: 0 pxToRem(3);
	font-size: pxToRem(12);
	border-radius: 4px;
}

@media #{$breakpointMobile} {
	.ql-gifContainer {
		position: static;
	}
}
