.section_title {
	display: flex;
	width: 100%;
	margin-bottom: gridUnit(1.5);
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		fill: $color--01 !important;
	}
}

.section_title-icon {
	display: flex;
	width: gridUnit(1.5);
	height: pxToRem(24);
	align-items: center;
	margin-right: gridUnit(0.5);
	position: relative;

	.injected-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		fill: $color--01 !important;
	}
}

.section_title-label {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: $color--21;
}
