.staff_profile {
	padding: gridUnit(0) gridUnit(1.5);
}

.staff_profile-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: gridUnit(5);
	padding-bottom: gridUnit(3);
}

.staff_profile-image_container {
	margin-bottom: gridUnit(1);
}

body .staff_profile-image {
	width: gridUnit(7.5);
	height: gridUnit(7.5);
}

.staff_profile-name {
	color: $color--20;
	font-size: gridUnit(1);
	font-weight: bold;
	line-height: gridUnit(1.5);
	margin-bottom: gridUnit(0.5);
}

.staff_profile-role {
	font-size: gridUnit(1);
	line-height: pxToRem(12);
	color: $color--24;
}

.staff_profile-biography {
	padding-top: pxToRem(43);
	border-top: 1px solid rgba($color--24, 0.2);

	p {
		text-align: center;
		color: $color--20;
		font-size: gridUnit(1);
		line-height: gridUnit(1.5);
		margin: 0;
	}
}
