.sub_title_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: gridUnit(1.5) 0;
	font-weight: 600;
}

.sub_title_detail-title {
	display: flex;
	align-items: center;
	color: $color--21;
}

.sub_title_detail-title_icon {
	display: flex;
	width: gridUnit(1.5);
	height: pxToRem(24);
	align-items: center;
	margin-right: gridUnit(1);
	position: relative;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		fill: $color--40;
	}
}

.sub_title_detail-action {
	display: flex;
	flex-wrap: wrap;
  align-items: center;
}

.sub_title_detail-label {
	margin-right: gridUnit(1);
}

.sub_title_detail-label_icon {
	width: gridUnit(1.5);
	height: pxToRem(22);
	position: relative;

	.injected-svg {
		width: 100%;
		fill: $color--40;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


@media #{$breakpointTablet} {
	.sub_title_detail {
		align-items: flex-start;
	}

	.sub_title_detail-title {
		width: 50%;
	}
}

@media #{$breakpointMobile} {
	.sub_title_detail-title_icon {
		display: none;
	}
}
