.support_detail {
	.support_detail-tabs {
		border-bottom: thin solid rgba($color--24, 0.2);
		min-height: pxToRem(40);

		.support_detail-tab {
			color: $color--20;
			padding: 0 pxToRem(12);
			min-width: pxToRem(64);
			min-height: pxToRem(40);
			font-weight: normal;

			&:disabled {
				color: rgba($color--17, 0.5);
			}
		}
	}
}

.support_detail-progress {
	position: absolute;
	top: pxToRem(40);
	left: 0;
	width: 100%;
}

.support_detail-list {
	height: pxToRem(364);
	margin: 0;
	padding: pxToRem(12) 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.support_detail-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: pxToRem(12) pxToRem(24);
	position: relative;

	.support_detail-item-button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.support_detail-item-profile {
	width: pxToRem(40);
	height: pxToRem(40);
	margin-right: pxToRem(8);
}

.support_detail-item-details {
	font-size: pxToRem(12);
}

.support_detail-item-details-name {
	font-weight: 600;
	color: $color--20;
	margin-bottom: pxToRem(4);
}
