.tile_author {
	display: flex;
	position: relative;
	z-index: 9;

	&:hover {
		.tile_author-user_name {
			color: $color--40;
		}
	}

	&--noaction {
		&:hover {
			.tile_author-user_name {
				color: $color--20;
			}
		}
	}
}

body {
	.tile_author-button {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
	}
}

.tile_author-author_image {
	margin-right: gridUnit(0.75);
	width: pxToRem(40);
	height: pxToRem(40);
}

.tile_author-user_details-avatar {
	width: pxToRem(40);
	height: pxToRem(40);
}

.tile_author-author_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tile_author-user_name {
	font-weight: 600;
	font-size: pxToRem(12);
	margin-bottom: gridUnit(0.3);
	transition: $defaultLinkColorTransition;
}

.tile_author-timeago {
	font-size: pxToRem(12);
	line-height: pxToRem(12);
}
