.user_tile {
	background-color: $color--00;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-shadow: $defaultTileShadow;
	position: relative;
	padding: gridUnit(0.5);

	.user_tile-action {
		transition: all ease-in-out 200ms;
	}

	&:hover {
		.user_tile-avatar {
			opacity: 0.7;
		}

		.user_tile-name {
			color: $color--40;
		}
	}
}

.user_tile-avatar_container {
	width: pxToRem(88);
	height: pxToRem(88);
	display: flex;
	flex: 0 auto;
}

.user_tile-info {
	display: flex;
	flex-wrap: wrap;
	flex: 1 auto;
	padding-left: pxToRem(24);
	max-width: calc(100% - #{pxToRem(88)});
}

.user_tile-name,
.user_tile-description {
	display: block;
	width: 100%;
	margin: 0;
	color: $color--20;
	font-size: pxToRem(14);
	line-height: (24/14);
	font-weight: 600;
}

.user_tile-name {
	transition: $defaultLinkColorTransition;
}

.user_tile-description {
	margin-top: pxToRem(8);
}

.user_tile-description-element {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

body .user_tile-description-check {
	fill: $color--23;
	color: $color--23;
	margin-right: gridUnit(0.5);
	margin-top: pxToRem(2);
	width: pxToRem(20);
	height: pxToRem(20);
}

body .user_tile-action {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

body .user_tile-avatar_container .user_tile-avatar {
	width: 100%;
	height: 100%;
	transition: $defaultLinkColorTransition;
}

@media #{$breakpointMobile} {

	.user_tile {
		margin-bottom: gridUnit(1);
	}

	.user_tile-description {
	 font-weight: normal;
	}

}
