.user_avatar {
	position: relative;
	width: 100%;
	border-radius: 50%;

	.user_avatar-avatar {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		box-shadow: inset 0 0 pxToRem(4) rgba($color--14, 0.2);
	}

	&--blocked {
		&:before {
			content: ' ';
			display: block;
			width: percentage(32/88);
			height: percentage(32/88);
			position: absolute;
			border-radius: 50%;
			right: 0;
			top: 0;
			background-image: url(#{get('STATIC_PATH')+'/icons/user-blocked.svg'});
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50%;
			background-color: $color--00;
		}
	}
}

.user_avatar-icon {
	position: absolute;
	bottom: calc(84.147098% - #{pxToRem(12)});
	left: calc(84.147098% - #{pxToRem(12)});
	border-radius: 50%;
	background: $color--00;
	width: pxToRem(24);
	height: pxToRem(24);

	.user_avatar-icon-content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		color: $color--14;
	}

}
