.user_select_modal-tile {
    margin: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    border: 3px solid #dbdbdb7e;
    cursor: pointer;
}
.user_select_modal-tile-image {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    text-align: center;
    background-color: $color--05;
    font-size: 30px;
    border-radius: 50%;
    color: $color--00;
    font-weight: bold;
}
