.wysiwyg {
	display: flex;
	flex-direction: column;

	@include ie11-browser {
		display: block;
	}
}

.wysiwyg-container,
.rich_text_editor .ql-snow .ql-editor {
	text-align: left;

	p {
		@include font--body;
		margin: gridUnit(1) 0;
	}

	.block-img {
		margin: gridUnit(3) 0;
	}

	div[data-oembed] {
		margin: gridUnit(3) 0;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}

	div[data-oembed] iframe,
	div[data-oembed] object,
	div[data-oembed] embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	h1 {

	}

	h2 {
		@include font--h2;
		margin: gridUnit(2) 0;
	}

	h3 {
		@include font--h3;
		margin: gridUnit(2) 0;
	}

	h4 {
		@include font--h4;
		margin: gridUnit(2) 0;
	}

	ol,
	ul {
		margin: gridUnit(1) 0;
	}

	li {
		@include font--body;
	}

	p,
	h2,
	h3,
	h4,
	ol,
	ul {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.ql-video {
		width: 100%;
		height: pxToRem(400);
	}
}

@media #{$breakpointMobile} {
	.wysiwyg-container,
	.rich_text_editor .ql-snow .ql-editor {
		.block-img {
			margin: gridUnit(2) 0;
		}

		div[data-oembed] {
			margin: gridUnit(2) 0;
		}

		.ql-video {
			width: 100%;
			height: pxToRem(200);
		}
	}
}
