.admin_content {
	padding: pxToRem(40);

	.admin_content-link,
	.admin_content-link-content {
		text-align: left;
		display: block;
		width: 100%;
		height: 100%;
	}

}
.admin_content-events{
	padding: pxToRem(40);
}
.admin_content-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: pxToRem(24);

	@include ie11-browser {
		display: flex;
		flex-wrap: wrap;
		margin-left: gridUnit(-0.5);
		margin-right: gridUnit(-0.5);

		.admin_content-link {
			margin: 0 gridUnit(0.5) gridUnit(1);
			width: calc(33% - #{gridUnit(1)});
		}
	}
}
.admin_loadMore-button-continer{
	text-align: center;
	margin-bottom: pxToRem(16);
}
.admin_content-no_result {
	text-align: center;
}
.role-content{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	
}
.role-content::-webkit-scrollbar{
	display: none !important;
}

@media #{$breakpointMobile} {
	.admin_content-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.admin_content-events{
		padding: 0px;
	}
}
