.admin_table {
	position: relative;
	overflow: auto;
	margin: pxToRem(-40) pxToRem(-40) pxToRem(-40);
	max-height: calc(100vh - #{pxToRem(296)}); // height of the hero and header
}

.admin_table-header {
	position: sticky;
	top: 0;
	z-index: 2;
	background: $color--00;
	font-weight: bold;
	box-shadow: 0 0 pxToRem(8) rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-width: max-content;

	.admin_table-column {
		padding-top: pxToRem(16);
		padding-bottom: pxToRem(16);
	}
}

.admin_table-content {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&--empty {
		position: sticky;
		left: 0;
	}
}

.admin_table-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-top: 1px solid $color--14;
	min-width: max-content;
	position: relative;

	&:hover {
		background: rgba($color--06, 0.1);
	}

	&:last-child {
		border-bottom: 1px solid $color--14;
	}

	.admin_table-row-action {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.admin_table-column {
	padding: pxToRem(8);
	word-break: break-all;

	&:first-child {
		padding-left: pxToRem(40);
	}
	&:last-child {
		padding-right: pxToRem(40);
	}
}

.admin_table-footer {
	position: relative;
	padding: pxToRem(8) pxToRem(40);
	min-height: pxToRem(60);

	.admin_table-footer-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.admin_table-footer-load_more {
		padding: pxToRem(4) pxToRem(32);
	}
}

.admin_table-generate_report {
	position: fixed;
	bottom: pxToRem(16);
	right: pxToRem(32);
	z-index: 2;
}

// Helper class for the admin table
.admin_table-clickable {
	position: relative;
	z-index: 1;
	display: block;

	+ .admin_table-clickable {
		margin-top: pxToRem(4);
	}
}

/**********************************************
*
* Style for specific columns
*
***********************************************/

.admin_table-column-user_profile {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.admin_table-column-user_profile-avatar {
	width: pxToRem(40);
	margin-right: pxToRem(16);
}

.admin_table-column-user_profile-content--inactive {
	text-decoration: line-through;
}
