.admin_topics_grid-content-table {
	border: 1px solid;
	border-collapse: collapse;
	background: $color--00;

	th {
		padding: gridUnit(0.5);
	}

	th,
	td {
		border: 1px solid;
	}

	tbody {
		tr:nth-child(odd) {
			th,
			td {
				background: rgba($color--14, 0.05);
			}
		}
	}

	.admin_topics_grid-content-table-cell-button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.admin_topics_grid-content-table-cell {
	position: relative;
	text-align: center;

	&--active {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color--05, 0.1);
		}
	}
}
