.admin-alerts {
	@include tileContainerWidth();
}

.edit_alert {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: '🐼';
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
	transition: all ease-in-out 200ms;
	// box-shadow: $defaultTileShadow;
	margin-bottom: gridUnit(1.5);
	background-color: $color--00;
	position: relative;

	&--with_image {
		grid-template-columns: pxToRem(250) 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: '🐻 🐼';

		.edit_alert-image_container {
			position: relative;
			display: block;
		}
	}
}

.edit_alert-image_container {
	grid-area: 🐻;
	position: relative;
	display: none;
}

.edit_alert-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.edit_alert-body {
	grid-area: 🐼;
	padding: gridUnit(2) gridUnit(5) gridUnit(2) gridUnit(2.75);
}

.edit_alert-header {
	display: flex;
	position: relative;
}

.edit_alert-type {
	flex-grow: 1;
}

.edit_alert-actions {
	position: absolute;
	top: gridUnit(1);
	right: gridUnit(1);
}

.edit_alert-content {
}

.edit_alert-flags {
	display: flex;
}

.edit_alert-title {
	font-size: pxToRem(20);
}

.edit_alert-message {
	margin: pxToRem(16) 0;
}

.edit_alert-footer {
}

.edit_alert-created {
	color: $color--20;
}

@media #{$breakpointMobile} {
	.edit_alert {
		display: block;
	}

	.edit_alert-image_container {
		min-height: pxToRem(176);
	}
}
