.no-js {
	.api_banner_wrapper {
		display: none;
	}
}

.api_banner_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z_index--api_error_banner;
}

.api_banner {
	transform: translate3d(0, -100%, 0);
	transition: transform ease-out 300ms, opacity ease-out 150ms;
	padding: gridUnit(2);
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;

	&--error {
		background: $color--09;
		color: $color--00;
	}

	&--success {
		background: $color--00;
		color: $color--20;
	}

	&--active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		box-shadow: 0 0 #{pxToRem(8)} 0 rgba(0,0,0,0.2);
	}
	.close_button {
		border-color: $color--20 $color--20 transparent transparent;
		&:hover {
			border-color: $color--23 $color--23 transparent transparent;
		}
	}
}

.api_banner-content {
	padding: 0 pxToRem(72);
}

@media #{$breakpointMobile} {
	.api_banner-content {
		padding: 0 pxToRem(24);
	}
}
