.no-js {
	.app_loader_wrapper {
		display: none;
	}
}

.app_loader_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z_index--app_loader;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app_loader {
	width: pxToRem(240);
	padding: pxToRem(16);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app_loader-logo {
	display: block;
	width: pxToRem(120);
	height: pxToRem(120);
	margin: 0 auto pxToRem(32);
}

.app_loader-bar {
	width: 60%;
}
