.auth_wrapper {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	padding: gridUnit(2) gridUnit(1);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	&--with_header {
		flex-direction: column;
	}
}

.auth {
	position: relative;
	width: 100%;
	max-width: pxToRem(392);
	padding: gridUnit(1) 0 pxToRem(83) 0;
	box-sizing: border-box;
}

.auth-header {
	margin-bottom: pxToRem(40);
	text-align: center;
}

.auth-content {
	position: relative;
	border-radius: 2px;
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.07);

	.auth-content-progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.auth-content-loading {
	padding: pxToRem(32);
	text-align: center;
}

.auth-content-text {
	padding: gridUnit(2);
	text-align: center;
	word-break: break-word;
}

.auth-content-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: gridUnit(1);
	text-align: center;
}

.auth-footer {
	margin-top: pxToRem(16);
	text-align: center;
	color: #d1d1d1;
}
.auth-footer-line-container {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		color: #d1d1d1;
	}
}
.auth-footer-line {
	height: 1px;
	width: 80px;
	margin: 0 16px;
	background-color: #d1d1d1;
}
.auth-footer-button {
	color: $color--00;
	border-color: #00a9e0 !important;
	text-transform: none !important;
	padding-right: 32px !important;
	padding-left: 32px !important;
	margin-bottom: 16px !important;
	&:hover {
		color: $color--00 !important;
	}
}

.auth-icon {
	align-self: center;
	width: pxToRem(40);
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	.injected-svg {
		width: pxToRem(22);
		height: pxToRem(22);
		fill: currentColor;
	}
}
.auth_page-header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-left: pxToRem(16);
}
.auth_page-header-logo {
	width: pxToRem(150);
	height: pxToRem(43);
}
.auth_page-header-text {
	color: #00a9e0;
	text-align: center;
	font-size: pxToRem(24);
	line-height: pxToRem(37);
}
.auth-form-text-center {
	text-align: center;
	font-weight: bold;
	margin-top: pxToRem(8) !important;
}
