.blocked-users {
  padding: 0 gridUnit(1.5);
}

.blocked-users-text {
  line-height: (24/14);
  font-size: pxToRem(14);
  margin: 0 0 gridUnit(2) 0;
}

.blocked-users-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.blocked-user {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: gridUnit(1);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.blocked-user-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.blocked-user-avatar {
  display: flex;
  flex-wrap: wrap;
  width: gridUnit(3);
  flex: 0 0 gridUnit(3);
}

.blocked-user-nick {
  padding-left: gridUnit(1);
  padding-right: gridUnit(1);
  display: flex;
  flex: 1;
}

.blocked-user-actions {
  display: flex;
  flex: 0;
  justify-content: flex-end;
}
