$conversationInformationWidth: pxToRem(352);

.user_message_sidepanel-information_panel {
	background-color: #fff;
	border-left: #f2f2f2 1px solid;
	width: pxToRem(0);
	z-index: 9;
	transition: all 200ms ease-in-out;

	&--active {
		width: $conversationInformationWidth;
		transition: all 200ms ease-in-out;
	}
}

.user_message_sidepanel-information_container {
	width: $conversationInformationWidth;
	height: 100%;
	display: grid;
	grid-template-areas:
		'🌾'
		'💂';
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	grid-template-rows: pxToRem(72) 1fr;

	@include ie11-browser {
		> div:nth-child(1) {
			grid-row: 1;
			grid-column: 1;
		}

		> div:nth-child(2) {
			grid-row: 2;
			grid-column: 1;
		}
	}
}

.user_message_sidepanel-close_detail {
	position: absolute;
	left: pxToRem(25);
	top: 50%;
	transform: translateY(-50%);

	.injected-svg {
		display: block;
	}

	path {
		fill: $color--20;
	}

	&:hover {
		path {
			fill: $color--23;
		}
	}
}

@media #{$breakpointMobile} {
	.user_message_sidepanel-information_container {
		width: 100%;
	}

	.user_message_sidepanel-information_panel {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 100%;
		right: auto;
		transition: all 200ms ease-in-out;

		&--active {
			left: 0px;
			right: auto;
			transition: all 200ms ease-in-out;
			width: 100%;
		}
	}
}
