.dashboard_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	&.theme--accent {
		border-bottom: 1px solid rgba($color--00, 0.15);
	}
}

.dashboard_header-main_wrapper {
	background-color: $color--20;
	display: none;
}

.dashboard_header-secondary_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.dashboard_header-secondary {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.dashboard_header-search {
	display: block;
	height: 100%;
}
.dashboard_header-title{
	width: pxToRem(302);
}

.dashboard_header-search-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-left: pxToRem(40);
	padding-right: pxToRem(56);
}

.dashboard_header-search-icon {
	width: pxToRem(40);
	height: pxToRem(40);
	margin-left: pxToRem(-12);
	display: block;
	box-sizing: border-box;
	padding: pxToRem(4);
	position: relative;

	.injected-svg {
		fill: currentColor;
		top: 50%;
		left: 50%;
		width: pxToRem(30);
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

.dashboard_header-search-label {
	opacity: 0.5;
}

.dashboard_header-side {
	padding-right: pxToRem(48);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	.dashboard_header-side-button--outlined {
		padding-left: pxToRem(30);
		padding-right: pxToRem(30);
		color: $color--00;
		border-color: $color--00;

		&:hover:not(:disabled) {
			border-color: $color--01;
			color: $color--01;
		}

		&:focus:not(:disabled) {
			border-color: $color--01;
			color: $color--01;
		}
	}
}

.dashboard_header-side-profile {
	padding: 0;
	color: inherit;
	height: 100%;

	&--anonymous {
		display: none !important;
	}
}

.dashboard_header-side-notifications {
	height: 100%;
}
.dashboard_header-side-notifications-icon {
	width: pxToRem(24);
	height: pxToRem(24);
	padding: 0 pxToRem(16);
	display: flex;
	align-items: center;
	justify-content: center;
	.injected-svg {
		width: pxToRem(20);
		height: auto;
		display: block;
	}
	&--active {
		.injected-svg {
			width: pxToRem(18);
		}
	}
}

.dashboard_header-side-profile-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 pxToRem(16);
}

.dashboard_header-side-profile-label {
	font-weight: bold;
	color: $color--00;
	font-size: pxToRem(14);
	line-height: (24/14);
}

.dashboard_header-side-profile-avatar {
	width: pxToRem(40);
	height: pxToRem(40);
	margin-left: pxToRem(16);
	border-radius: 50%;
}

.dashboard_header-side-profile-icon {
	color: $color--00;
}

.dashboard_header-side-button {
	+ .dashboard_header-side-button {
		margin-left: pxToRem(16);
	}
}

@media #{$breakpointSmallDesktop} {
	.dashboard_header-search-content {
		padding-left: pxToRem(36);
	}
}

@media #{$breakpointTablet} {
	.dashboard_header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: pxToRem(68);
	}

	.dashboard_header-main_wrapper {
		display: block;
		width: pxToRem(176);
		height: 100%;
		position: relative;

		.dashboard_header-main {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&--menu {
				padding-left: gridUnit(1);
			}

			&--logo {
				padding-right: gridUnit(1);
			}
		}
	}

	.dashboard_header-main-icon {
		position: relative;
		top: pxToRem(2);
		color: $color--00;
		fill: $color--00;
	}

	.dashboard_header-secondary_wrapper {
		width: calc(100% - #{pxToRem(176)});
		height: 100%;
		position: relative;
	}

	.dashboard_header-main-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.dashboard_header-search-content {
		padding-left: pxToRem(36);
		padding-right: pxToRem(36);
	}

	.dashboard_header-side {
		padding-right: 0;

		.dashboard_header-side-button {
			display: none;
		}
	}

	.dashboard_header-side-profile {
		padding: 0 pxToRem(36);

		&--anonymous {
			display: block !important;

			.dashboard_header-side-profile-avatar {
				border: 1px solid rgba($color--00, 0.2);
				padding: pxToRem(4);
			}

			.injected-svg {
				fill: currentColor;
			}
		}
	}

	.dashboard_header-side-profile-label {
		display: none;
	}

	.dashboard_header-side-profile-avatar {
		margin-left: 0;
	}
	.dashboard_header-title{
		display: none !important;
	}
}

@media #{$breakpointMobile} {
	.dashboard_header-search-icon {
		margin-right: 0;
	}
	.dashboard_header-search-label {
		display: none;
	}

	.dashboard_header-search-content,
	.dashboard_header-side-profile-content {
		padding-left: pxToRem(16);
		padding-right: pxToRem(16);
	}

	.dashboard_header-side-profile {
		width: 100%;
	}

	.dashboard_header-side-profile-icon {
		display: none !important;
	}

	.dashboard_header-main-logo {
		width: pxToRem(26);
	}

	.dashboard_header-main_wrapper {
		width: gridUnit(8);

		.dashboard_header-main {
			&--menu {
				padding-left: gridUnit(0);
			}

			&--logo {
				padding-right: gridUnit(0);
			}
		}
	}

	.dashboard_header-secondary_wrapper {
		width: auto;
		flex-grow: 1;
	}

	.dashboard_header-secondary {
		justify-content: flex-end;
	}
	.dashboard_header-title{
		display: none !important;
	}
}
