.dashboard_sidebar {
	width: 100%;
	min-width: pxToRem(302);
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "👕";
	border-right: solid rgba(128, 128, 128, 0.356) 1px;
}

.dashboard_sidebar-header-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.consellor_chat_button {
	/*margin-left: 2.8rem !important;*/
	margin-top: 1.3rem !important;
	margin-bottom: 1.3rem !important;
	color: #de58a7 !important;
	border-color: #de58a7 !important;
	background-color: white !important;
}
.consellor_chat_button:hover {
	color: white !important;
	background-color: #de58a7 !important;
}

.dashboard_sidebar-content {
	grid-area: 👕;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	background-color: $color--32;
	padding-top: pxToRem(48);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
.dashboard_sidebar-content::-webkit-scrollbar {
	display: none !important; //chrome,safari
}

.dashboard_sidebar-content-links {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; //firefox
}
.dashboard_sidebar-content-links::-webkit-scrollbar {
	display: none !important;
}

.dashboard_sidebar-header-logo {
	display: block;
	width: pxToRem(160);
	height: auto;
}

.dashboard_sidebar {
	.dashboard_sidebar-link {
		display: block;
		text-decoration: none;
		position: relative;
		width: 100%;
		font-weight: bold;
		max-width: calc(100% - 40px);
		margin: 0 0 pxToRem(0) 0;
		border-top-right-radius: pxToRem(48);
		border-bottom-right-radius: pxToRem(48);
		&:last-child {
			margin-bottom: 0;
		}

		&:hover,
		&:focus {
			.dashboard_sidebar-link-content {
				color: $color--40;
			}
		}

		&--active {
			.dashboard_sidebar-link-content {
				//background: $color--19;
				color: $color--40;
			}
			.dashboard_sidebar-link-icon {
				background: $color--00;
				border-radius: 50%;
			}
		}

		&--disabled {
			opacity: 0.2;
			user-select: none;

			&:hover,
			&:focus {
				background: none;
			}
		}
	}
}

.dashboard_sidebar-link-content {
	display: grid;
	grid-template-columns: pxToRem(40) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "🐔 🐧";
	color: $color--20;

	transition: all ease-in-out 150ms;
	padding: 0 pxToRem(16) 0 pxToRem(44);
	width: 100%;
	height: pxToRem(48);
	box-sizing: border-box;
	border-bottom-right-radius: pxToRem(48);
	border-top-right-radius: pxToRem(48);

	&--counter {
		padding-right: pxToRem(80);
	}
}

.dashboard_sidebar-link-icon {
	grid-area: 🐔;
	align-self: center;
	width: pxToRem(40);
	height: pxToRem(40);
	display: flex;
	justify-content: center;
	align-items: center;

	.injected-svg {
		width: pxToRem(22);
		height: pxToRem(22);
		fill: currentColor;
	}
}

.dashboard_sidebar-link-label {
	grid-area: 🐧;
	align-self: center;
	padding-left: pxToRem(16);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.dashboard_sidebar-link-counter {
	top: 50%;
	right: pxToRem(40);
	transform: translate3d(0, -50%, 0);
	position: absolute;
	background: $color--20;
	color: $color--00;
	border-radius: pxToRem(12);
	padding: pxToRem(4) pxToRem(12);
	font-size: pxToRem(10);
}

.dashboard_sidebar-chat_to_counsellor {
	display: flex;
	justify-content: center;
}

@media all and (-ms-high-contrast: none) {
	.dashboard_sidebar-link-content {
		display: flex;
		flex-direction: row;
	}
}

.chat-button {
	display: none !important;
}

@media #{$breakpointTablet} {
	.dashboard_sidebar {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "👕";
	}

	.dashboard_sidebar-header {
		display: none;
	}

	.chat-button {
		display: inline-flex !important;
	}

	.dashboard_sidebar-content-links {
		padding-top: pxToRem(64);
	}
}
