.dashboard_quick_links {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;
}

.dashboard_events {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;

	.event_tile {
		margin-bottom: gridUnit(1);
	}
}
