.discussions-tiles {
	width: 100%;
	max-width: gridUnit(66);
	padding: pxToRem(72) gridUnit(1.5);
	margin: auto;
	position: relative;

	.discussions-tiles-filter-icon {
		margin-right: pxToRem(16);
	}
}

.fixed_bar + .discussions-tiles {
	padding-top: pxToRem(56);
}

.filters + .discussions-tiles {
	padding-top: pxToRem(40);
}

.discussions-tiles-item {
	margin-bottom: pxToRem(16);

	&:last-child {
		margin-bottom: 0;
	}
}

