.discussion_detail-content_container {
	max-width: gridUnit(66);
	margin: auto;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: gridUnit(2.5) gridUnit(1.5) gridUnit(2);
}

.discussion_detail {
	max-width: pxToRem(607);
	width: 100%;
}

.discussion_detail-title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;
	// padding-bottom: gridUnit(1.5);
}

.discussion_detail-title_buttons {
	display: block;
	text-align: right;
	min-width: pxToRem(230);

	.discussion_detail-button {
		flex-grow: 1;

		&--login {
			min-width: gridUnit(11);
		}
	}

	.discussion_follow {
		display: inline-block;
	}
}

.discussion_details-author_details {
	display: flex;
	padding-top: gridUnit(1.5);

	.tile_author {
		position: relative;
		display: flex;
		padding: gridUnit(0.5);
		margin: gridUnit(-0.5);
		border-radius: 4px;
		overflow: hidden;
	}
}

.discussion_detail-author-avatar {
	width: pxToRem(40);
	height: pxToRem(40);
}

.discussion_detail-sidebar {
	flex-basis: pxToRem(225);
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.discussion_details-author-text {
	text-align: left;
	font-weight: bold;
	line-height: 1.2;
	padding-left: pxToRem(5);
}

.discussion_details-author-time {
	font-weight: normal;
}

.discussion_details-content-meta {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: pxToRem(16);
}

.discussion_detail-flags {
	display: flex;
}

.discussion_detail-report {
	color: $color--09;
	font-style: italic;
	font-size: pxToRem(12);
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.material-icons {
		font-size: pxToRem(20);
		margin-right: pxToRem(8);
	}
}

.discussion_details-content-meta-item {
	margin-right: pxToRem(16);

	&:last-child {
		margin-right: 0;
	}

	// .discussion_report-button {
	// 	margin-left: pxToRem(-4);
	// }
}

.discussion_detail-content {
	p {
		margin: gridUnit(1.5) 0;
	}
}

.discussion_detail-iframe_wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.discussion_detail-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

@media #{$breakpointSmallDesktop} {
}

@media #{$breakpointTablet} {
	.discussion_detail {
		padding: 0 gridUnit(1.5);
	}
}

@media #{$breakpointMobile} {
	.discussion_detail {
		padding: 0;
	}

	.discussion_detail-content_container {
		display: block;
	}

	.discussion_detail-title_container {
		display: block;
	}

	.discussion_detail-title {
		padding-right: 0px;
	}

	.discussion_detail-sidebar {
		display: flex;
		margin-top: gridUnit(1);
		justify-content: flex-start;
	}
}
