.discussion_reply {
	background-color: $color--15;
	padding: gridUnit(1.5);
	// position: fixed;
	// bottom: 0;
	// right: 0;
	// width: calc(100% - #{pxToRem(280)});
	// transform: translateY(100%);
	// transition: all 200ms ease-in;

	&.discussion_reply--open {
		transform: translateY(0%);
		transition: all ease-out 200ms;
	}
}

.discussion_reply-form {
	display: flex;
	align-items: flex-end;

	&.form {
		padding: 0;
	}
}

.discussion_reply-form_textarea {
	flex-grow: 1;
	margin: 0 gridUnit(0.5) 0 gridUnit(1.5);
}

.discussion_reply-author {
	.discussion_reply-author_avatar {
		width: auto;
		height: auto;
		box-shadow: 0 0 0 pxToRem(4) $color--00;
		border-radius: 50%;
		width: pxToRem(40);
		height: pxToRem(40);
	}
}

.discussion_reply-form_reply {
	margin-left: gridUnit(1);
	margin-bottom: gridUnit(1.5);
}

.discussion_detail-actions {
	display: flex;
}

body {
	// add body for overwrite styles from react css in js
	.discussion_reply-form_submit {
		opacity: 0;
		transition: all ease-in-out 200ms;

		.form-submit {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			border: 0;
			padding: 0;
			opacity: 1;
			background-color: $color--23;
			fill: $color--00;
			color: $color--00;

			&:hover {
				fill: $color--00;
				color: $color--00;
				background-color: $color--23;
			}

			&:disabled {
				background-color: $color--24;
				fill: $color--00;
				color: $color--00;
				opacity: 0.25;
			}

			.injected-svg {
				display: flex;
				width: 20px;
				pointer-events: none;
			}
		}
	}
}

.discussion_single-content--reply_active {
	.discussion_reply-form_submit {
		opacity: 1;
		pointer-events: auto;
		transition-delay: 400ms;
	}
}

@media #{$breakpointTablet} {
	.discussion_reply {
		width: 100%;
	}
}

@media #{$breakpointMobile} {
	.discussion_reply {
		padding: gridUnit(0.5) gridUnit(1.5);
	}

	.discussion_reply-author {
		display: none;
	}

	.discussion_reply-form_textarea {
		margin-left: 0;

		textarea {
			font-size: 14px !important;
		}
	}
}
