.discussion_single-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		'🍣'
		'🍱';

	&--reply_active {
		.discussion_single-content-reply {
			// max-height: pxToRem(400);
		}
	}
}

.discussion_single-content-list_container {
	grid-area: 🍣;
	position: relative;
}

.discussion_single-content-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.discussion_single-content-reply {
	grid-area: 🍱;
	// overflow: hidden;
	// max-height: 0;
	transition: all ease-in-out 500ms;
	z-index: 10;
}

.discussion_single-replies {
	margin: auto;
	max-width: gridUnit(71);
	padding: gridUnit(1.5) gridUnit(1.5) gridUnit(3.5) gridUnit(1.5);
	position: relative;
	width: 100%;
}

.discussion_single-order_container {
	padding: 0 gridUnit(1.5);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.discussion_single-back-to-event{
	margin-left: pxToRem(20) !important;
	margin-top: pxToRem(20) !important;
	text-decoration: underline !important;
}

@media all and (-ms-high-contrast: none) {
	.discussion_single-content {
		grid-row: 1fr;
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr pxToRem(130);
	}
}

@media #{$breakpointMobile} {
	.discussion_single-replies {
		padding: gridUnit(1) 0;
	}
}
