.discussions_list-item {
	padding: pxToRem(16) pxToRem(24) pxToRem(0) pxToRem(24);
}

.discussions_list-item-empty {
	background: $color--00;
	height: pxToRem(210);
	display: flex;
	justify-content: center;
	align-items: center;
}
