.events-tiles {
	width: 100%;
	max-width: gridUnit(66);
	padding: pxToRem(72) pxToRem(24) pxToRem(72);
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.events-tiles-item {
	margin-bottom: pxToRem(16);

	&:last-child {
		margin-bottom: 0;
	}
}
.events-tiles-item-admin{
	cursor: pointer;
}

.filters + .events-tiles {
	padding-top: pxToRem(40);
}

.events-tiles-item {
	margin-bottom: pxToRem(16);

	&:last-child {
		margin-bottom: 0;
	}
}
.event_tile_list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media #{$breakpointMobile} {
	.filters{
		padding-top: gridUnit(2.5);
	}
	

	.events-tiles {
		padding: pxToRem(16) pxToRem(8);
	}
}
