.event_single-content {
	padding: gridUnit(3.5) gridUnit(2.5);
}

.event_single-content_container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr pxToRem(220);
	grid-template-areas:
		'head head'
		'🍣 🍱';
	grid-gap: pxToRem(16);
	max-width: pxToRem(1040);
	margin-left: auto;
	margin-right: auto;
	padding-left: pxToRem(80);
}

.event_single-wysiwyg {
	grid-area: 🍣;
	position: relative;
}

.event_single-wysiwyg_title {
	margin: 0 0 pxToRem(24) 0;
}

.event_single-sidebar {
	grid-area: 🍱;
	position: relative;
	// box-shadow: 0 0 0px 1px red;
}

.event_single-sidebar-actions {
	margin: 0 0 0 0;
	a,
	button {
		margin-bottom: pxToRem(8);
		width: 100%;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.event_single-sidebar-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
	width: 100%;
	max-width: 100%;
	margin: 0 0 gridUnit(1) 0;
	&:last-of-type {
		margin-bottom: 0;
	}
	color: $color--00 !important;
}

.event_single-sidebar-icon {
	display: flex;
	flex: 0 0 pxToRem(32);
	margin-top: pxToRem(3);
	height: pxToRem(24);
	width: pxToRem(24);

	.injected-svg {
		width: pxToRem(24);
		display: flex;
		fill: $color--00;
		color: $color--00;
	}
}

.event_single-sidebar-text {
	margin: 0;
	flex: 1 1 calc(100% - #{pxToRem(32)});
	display: flex;
	flex-wrap: wrap;
	color: $color--00 !important;
}

.event_single-sidebar-link {
	margin-left: gridUnit(2);
	font-size: pxToRem(12);
	line-height: (15/12);
	text-decoration: underline;
	font-weight: bold;
}

.events_single-related {
	background-color: $color--15;
	padding: gridUnit(2) gridUnit(2.5);
}

.events_single-related_container {
	max-width: pxToRem(1040);
	margin-left: auto;
	margin-right: auto;
	.sub_title_detail {
		+ .events-tiles {
			padding: 0 0 gridUnit(3) 0;
		}
	}
}

.event_single-event_details,
.event_single-sidebar_action {
	display: none;
}

.event_single-time_date {
	display: flex;
	align-items : center;
}

.event_single-icon {
	margin-right: gridUnit(0.5);
}

.event_single-time_details_text {
	display: block;
	color: $color--00 !important;
}

.event_address {
	display: flex;
}
.event-single-title-and-information {
	display: grid;
	grid-area: head;
	grid-template-columns: pxToRem(108) 1fr;
	grid-template-areas: 'date  heading-info';
}
.event_single-going-user-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}
.event_single-contact-button {
	color: $color--00 !important;
	border: 1px solid $color--00 !important;
}
.event_single-wysiwyg_image {
	width: 100% !important;
	height: 425px !important;
}
.event_single-discussion {
	width: auto;
}
.event_single-location {
	display: block;
}
.event_single-sidebar-remaining-time {
	text-align: center;
	border: 1px solid white;
	margin-top: 5px;
	padding: 10px 0px;
	font-weight: bold;
	border-radius: 2px;
}
.event_single-sidebar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 425px;
	align-items: center;
}
.event_single-sidebar-promo {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	cursor: pointer;
}
.event_single-sidebar-promo-icon {
	color: #92c83e;
	background-color: $color--00;
}
.last_joining_date {
	padding-top: 5px;
}
.last_joining_date-over {
	width: 100%;
	margin-top: 8px;
}
.event_single-sidebar-inner-container {
	padding: 10px;
}
.event_single-header {
	padding: 1rem 0.5rem 0rem;
}
.event_single-user-heading-container {
	display: flex;
	justify-content: space-between;
}
.event_single-show-more-users {
	background: $color--00;
	color: #ff5f33;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
}
.event_single-post-media-button{
	cursor: pointer;
	color: #ff5f33;
}
@media all and (-ms-high-contrast: none) {
	.event_single-content_container {
		grid-row: 1fr;
		padding-left: 0px;
		-ms-grid-rows: 1fr;
		grid-template-columns: 1fr pxToRem(200);
	}

	.event_single-content_container {
	}
}
@media #{$breakpointTablet} {
	.event_single-content_container {
		padding-left: 0px;
		display: block;
	}

	.event_single-wysiwyg {
		margin-bottom: gridUnit(2);
	}

	.event_single-sidebar {
		display: none;
	}

	.event_single-event_details {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		justify-content: space-around;
		
		margin: gridUnit(1) 0;

		.event_address {
			margin-right: gridUnit(2);
		}

		.event_single-sidebar-text {
			margin: 0;
		}

		.event_single-time_details_text {
			margin: 0;
		}
	}

	.event_single-sidebar_action {
		display: flex;
		justify-content: space-around;
		padding: gridUnit(0.5) gridUnit(4);
		margin-top: gridUnit(2);
	}
	.event-single-title-and-information {
		margin-bottom: pxToRem(16);
	}
}

@media #{$breakpointMobile} {
	.event_single-content_container {
		grid-template-columns: 1fr;
		grid-template-areas: '🍣' '🍱';
		grid-gap: 0;
		padding-left: 0;
	}
	.event_single-content {
		padding: gridUnit(2) gridUnit(1);
	}

	.event_single-sidebar_action {
		flex-direction: column;

		button {
			margin-bottom: gridUnit(0.5);
		}
	}

	.event_single-event_details {
		.event_address,
		.event_single-time_details {
			flex-grow: 1;
		}
	}

	.events_single-related {
		padding: gridUnit(2) gridUnit(1);
	}
	.event-single-title-and-information {
		margin-bottom: pxToRem(16);
	}
	.event_single-going-user-container {
		grid-template-columns: 1fr;
	}
}
