.filters {
	position: relative;
	z-index: 1;
	padding-top: pxToRem(40);

	// &--active {
	// 	.filters-actions-button-icon {
	// 		transform: rotate(90deg);
	// 	}
	// 	.filters-actions-button-icon-inactive {
	// 		opacity: 0;
	// 	}
	// 	.filters-actions-button-icon-active {
	// 		opacity: 1;
	// 	}
	// }
	.close_button {
		transform: translate(0);
	}
}

.filters-container {
	@include tileContainerWidth();
	width: 100%;
	padding: pxToRem(0) gridUnit(1.5);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: pxToRem(1);
}

.filters-actions {
	position: relative;
	left: initial;
	transform: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.filters-actions-order {
	margin-left: pxToRem(8);
}

.filters-actions-button-icon {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	width: pxToRem(14);
	height: pxToRem(14);
	margin-left: pxToRem(5);
	position: relative;
}

.filters-actions-button-icon-active {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.filters-content_container {
	padding: pxToRem(8) pxToRem(24) pxToRem(24) pxToRem(24);
	margin-top: pxToRem(20);
	box-shadow: $defaultTileShadow;
	position: relative;
	box-sizing: border-box;

	&:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		left: gridUnit(3.8);
		box-sizing: border-box;
		border-color: transparent transparent #ffffff #ffffff;
		border-style: solid;
		border-width: 0.6em;
		transform-origin: 0 0;
		box-shadow: pxToRem(-2) pxToRem(2) pxToRem(2) 0 rgba(0, 0, 0, 0.07);
		transform: rotate(135deg);
	}
}

.filters-list-section {
	padding: pxToRem(24) 0;
	position: relative;
	line-height: 1;

	&:not(:first-child):not(:last-of-type):not(.filters-list-section--no_border) {
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: pxToRem(-24);
			width: calc(100% + #{pxToRem(48)});
			height: pxToRem(1);
			background-color: $color--22;
		}
	}

	&--small {
		padding: pxToRem(8) 0 pxToRem(16) 0;
	}
	&--small-bottom {
		padding-bottom: pxToRem(16);
	}

	&--submit {
		padding-top: 0;
		padding-bottom: pxToRem(8);
	}

	&--no_border {
		padding-top: 0;

		&:not(:first-child) {
			&::before {
				content: none;
			}
		}
	}

	.pill {
		margin-top: pxToRem(4);
		margin-bottom: pxToRem(4);
	}

	.filters-list-section-button {
		margin-right: pxToRem(8);
		// min-width: pxToRem(112);

		&:last-child {
			margin-right: 0;
		}
	}
}

.filters-list-section-label-title {
	user-select: none;
}

.filters-list-section_label {
	&:last-child {
		margin-bottom: 0;
	}
}

.filters-list-section_options {
	display: block;
}

.filters-list-section-link {
	background: none;
	display: inline;
	text-decoration: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: pxToRem(10);
	line-height: (16/10);
	color: $color--20;
	font-weight: bold;
	text-decoration: underline;

	&:focus,
	&:hover {
		text-decoration: underline;
		outline: 0;
	}
}

.filters-pills_list {
	display: inline-flex;
	margin-left: 0;
	padding-top: gridUnit(1.5);
}

.filters-pills_list-label {
	margin-right: pxToRem(16);
	white-space: nowrap;
	color: $color--20;
	font-size: pxToRem(14);
	line-height: pxToRem(24);
}
body {
	.filters-pills_list-content {
		.pill--clickable {
			&:not(:disabled) {
				margin-right: pxToRem(8);
				margin-bottom: pxToRem(16);
				display: inline-flex;
				flex-wrap: wrap;
				font-size: pxToRem(10);
				line-height: pxToRem(16);
				border: none;
				padding: 0 0 0 pxToRem(8);
				transition: $defaultLinkColorTransition;
				color: $color--20;
				background-color: rgba($color--24, 0.15);
				&:hover {
					color: $color--00;
					background-color: $color--24;
					.status {
						color: $color--00;
					}
				}
			}
		}
		.status {
			top: 50%;
			right: 0;
			transform: none;
			position: relative;
			width: 24px;
			height: 24px;
			line-height: 24px;
			border: 0;
			border-radius: 0;
			margin: 0;
			display: inline-flex;
			justify-content: center;
			background: none;
			padding: 0;
			font-weight: 300;
			color: $color--20;
			transition: $defaultLinkColorTransition;
		}
	}
}

@media #{$breakpointMobile} {
	.filters {
		padding-top: 0;

		&--active {
			margin-bottom: pxToRem(24);
		}
	}

	.filters-container {
		width: 100%;
		padding: gridUnit(2.5) gridUnit(1.5) gridUnit(0) gridUnit(1.5) f;
	}

	.filters-content_container {
		padding: pxToRem(24);
		&:before {
			left: pxToRem(64);
		}
	}

	.filters-list-section {
		&--submit {
			text-align: center;
		}
	}

	.filters-pills_list {
		margin-top: pxToRem(24);
		padding: 0 pxToRem(24);
		text-align: center;
		display: block;
	}

	.filters-pills_list-label {
		margin-right: 0;
		margin-bottom: pxToRem(16);
		white-space: normal;
	}

	.filters-pills_list-content {
		.pill {
			margin-left: pxToRem(8);
			margin-right: pxToRem(8);
		}
	}
}
