.fixed_bar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: pxToRem(48);
	z-index: $z_index--fixed_bar;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 pxToRem(40);
	white-space: nowrap;
	flex-wrap: nowrap;
	overflow: hidden;
	font-size: pxToRem(16);

	&.theme--accent {
		// border-top: 1px solid rgba($color--00, 0.2);
		background-color: $color--25;
	}

	&--with_tabs {
		padding: 0;
	}

	.fixed_bar-button {
		height: pxToRem(48);
		padding: 0 pxToRem(16);
		margin-right: pxToRem(8);
		position: relative;
		transition: all ease-in-out 200ms;
		font-size: pxToRem(12);
		line-height: pxToRem(15);
		font-weight: bold;

		&:hover {
			background: rgba($color--00, 0.15);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			opacity: 0;
			transition: all ease-in-out 200ms;
			border-bottom: 1px solid $color--00;
		}

		&--active {
			&:after {
				width: pxToRem(56);
				opacity: 1;
			}
		}

		&--inactive {
			opacity: 0.4;
		}

		&--move-left {
			margin-left: pxToRem(-8);
		}
	}

	.fixed_bar-tabs {
		width: 100%;
		padding-left: pxToRem(20);

		button {
			min-width: 1px;
			padding: 0 pxToRem(20);
			transition: all ease-in-out 200ms;

			&:hover {
				background: none;
			}
			span {
				padding: 0;
				font-size: pxToRem(12);
				line-height: 1.25;
			}
		}
	}

	.fixed_bar-back_icon {
		margin-right: pxToRem(0.5);
	}
}

@media #{$breakpointMobile} {
	.fixed_bar {
		border-top: none;
		padding: 0;

		.fixed_bar-tabs {
			padding-left: 0;
		}
	}
}
