.footer {
	background-image: url(#{get('STATIC_PATH')+'/images/canteen-curve.png'});
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto 70%;
	padding: pxToRem(48) pxToRem(24);
	color: $color--00;
	background-color: $color--32;
	border-top: solid rgba(128, 128, 128, 0.356) 1px;
}

.footer-mobile-footer {
	display: none;
}

.footer--nz {
	background-image: url(#{get('STATIC_PATH')+'/images/canteen-curve-nz.png'});
}
.footer--landing_page-nz {
	background-image: url(#{get('STATIC_PATH')+'/images/landing-page/canteen-wave-logo-footer-nz.png'}) !important;
}

.footer--landing_page {
	background-color: $color--00;
	background-image: url(#{get('STATIC_PATH')+'/images/landing-page/canteen-wave-logo-footer.webp'});

	.footer-content_container {
		margin: 0 auto;
		justify-content: flex-start;
		width: pxToRem(1140);
	}

	.footer-content {
		width: 17%;
	}

	.footer-content-title {
		color: $color--20;
	}

	.footer-content-link-icon,
	.footer-content-link-label {
		color: $color--14;
	}
}

.no-js,
.no-webp {
	.footer--landing_page {
		background-image: url(#{get('STATIC_PATH')+'/images/landing-page/canteen-wave-logo-footer.png'});
	}
}

.footer-content_container {
	width: 85%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.footer-content {
	.footer-content-title {
		letter-spacing: 0.05em;
		font-size: pxToRem(10);
		line-height: (16/10);
		font-weight: 600;
		margin-bottom: pxToRem(32);
		text-transform: uppercase;

		&:focus {
			outline: 0;
		}

		.footer-content-title-icon {
			display: none;
		}
	}
}

.footer-content-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-content-list-item {
	margin-bottom: pxToRem(8);

	&:last-child {
		margin-bottom: 0;
	}
}

.footer-content-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	line-height: (24/14);

	&:hover,
	&:focus {
		text-decoration: underline;
		outline: none;
	}
}

.footer-content-link-icon_container {
	display: block;
	width: pxToRem(24);
	height: pxToRem(24);
	margin-right: pxToRem(8);
	color: #4c4d4f;
}

.footer-content-link-icon {
	color: $color--14;
}

.footer-content-link-label {
	display: block;
	color: $color--14;
}

//Slight adjustment to media query for the footer logo
@media (max-width: 1500px) {
	.footer[class*="theme--"] {
		background-position: 107% 100%;
	}
}

//Slight adjustment to media query for the footer logo
@media (max-width: 1200px) {
	.footer[class*="theme--"] {
		background-image: none;
	}

	.footer-content_container {
		width: 100%;
	}
}

@media #{$breakpointTablet} {
	.footer[class*="theme--"] {
		background-image: none;
	}

	.footer-content_container {
		width: 100%;
	}

	.footer--landing_page {
		.footer-content_container {
			width: 80%;
			justify-content: space-around;
			margin: 0 auto 0 0;
		}

		.footer-content {
			width: auto;
		}
	}
}

@media #{$breakpointMobile} {
	.footer {
		padding: gridUnit(0) 0 gridUnit(3) 0;
		background: $color--20;
	}

	.footer-mobile-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: gridUnit(1.5) 0;

		img {
			width: pxToRem(178);
		}
	}

	.footer--landing_page {
		.footer-content_container {
			width: 100%;
		}
	}

	.footer-content_container {
		display: block;
		width: 100%;
	}

	.footer-content {
		border-top: 1px solid rgba($color--00, 0.2);
		padding: pxToRem(8) 0;

		.footer-content-title {
			padding: pxToRem(8) pxToRem(48);
			margin-bottom: 0;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color--00;

			.footer-content-title-icon {
				display: block;
				color: $color--00;
				transition: transform ease-in-out 200ms;
				position: relative;
				width: gridUnit(1.5);
				height: gridUnit(1.5);
			}

			.footer-content-title-icon-svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0) rotate(-90deg);
				transition: $defaultEaseInOutTransition;
			}
		}

		.footer-content-link {
			display: block;
			text-align: center;
		}

		&--clickable {
			.footer-content-title {
				cursor: pointer;
			}
			.footer-content-list {
				display: none;
			}

			&.footer-content--active {
				.footer-content-title {
					.footer-content-title-icon-svg {
						transform: translate3d(-50%, -50%, 0) rotate(90deg);
						transition: $defaultEaseInOutTransition;
					}
				}

				.footer-content-list {
					display: block;
				}
			}
		}

		&--connect {
			.footer-content-list {
				display: flex;
			}

			.footer-content-link-label {
				display: none;
			}

			.footer-content-link-icon_container {
				margin-right: 0;
			}

			.footer-content-link-icon_container,
			.footer-content-link-icon {
				width: gridUnit(1.5);
				height: gridUnit(1.5);
			}

			.footer-content-list-item {
				margin: 0 gridUnit(0.5);
			}
		}
	}

	.footer-content-list-item {
		text-align: center;
	}

	.footer-content-list {
		padding: pxToRem(14) pxToRem(48);
		justify-content: center;
	}
}
