.home_hero_public {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: pxToRem(164) pxToRem(32);
	background-image: url(#{get('STATIC_PATH') + '/images/hero-home.jpg'});
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home_hero_public-content {
	max-width: pxToRem(960);
}

@media #{$breakpointTablet} {
	.home_hero_public {
		padding-top: pxToRem(80);
		padding-bottom: pxToRem(80);

		.font--h2 {
			margin-bottom: pxToRem(24);
		}
	}
}

@media #{$breakpointMobile} {
	.home_hero_public {
		padding-left: pxToRem(24);
		padding-right: pxToRem(24);

		.font--h2 {
			font-size: pxToRem(24);
		}
		.font--h4 {
			font-size: pxToRem(16);
		}
	}
}
