.home_hero {
	padding: pxToRem(96) pxToRem(68) pxToRem(56) pxToRem(104);

	.hero-background {
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.home_hero-header {
	position: relative;
}

.home_hero-footer {
	position: relative;
	margin-top: pxToRem(44);
	display: flex;
	justify-content: space-between;
}

.home_hero-footer-quick_links-icon {
	margin-right: pxToRem(16);
}

.home_hero-footer-action {
	min-width: pxToRem(170);
}

.home_hero-footer-stats {
	display: flex;
	justify-content: space-between;
}

@media #{$breakpointTablet} {
	.home_hero {
		padding: pxToRem(40) pxToRem(40) pxToRem(56);

		.hero-background {
			left: 0;
			transform: translate3d(-8%, -50%, 0);
		}
	}
}

@media #{$breakpointMobile} {
	.home_hero-footer {
		display: block;
	}

	.home_hero-footer-action {
		width: 100%;
	}

	.home_hero-footer-quick_links {
		width: 100%;
	}

	.home_hero-footer-stats {
		margin-top: gridUnit(1.5);
	}
}
