$fadeInTransition: 450ms all ease-in-out;

.animate-when-visible,
.animate-on-load,
.animate-when-visible-loop,
.resource-animate {
	opacity: 0;
	transition: $fadeInTransition;
	transform: translate(0, 140px);

	&.animate {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: $fadeInTransition;
	}
}

.animate-when-visible-loop {
	opacity: 0;
	transform: scale(0.7);
	transition: $fadeInTransition;
	transform: translate(0, 140px);

	&.animate {
		opacity: 1;
		transform: scale(1);
		transform: translate(0, 0);
		transition: $fadeInTransition;
	}
}

.landing_box_tile {
	p {
		font-size: gridUnit(1);
	}
}

.landing_page-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 9;

	.landing_page-container {
		width: 100%;
		max-width: pxToRem(1120);
		position: relative;
	}

	.landing_page-full_container {
		flex-grow: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&--image {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}

		&--content {
		}
	}

	.landing_page-row {
		display: flex;
		flex-direction: row;
	}

	.landing_page-col {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.landing_page-supporting_image {
		max-width: 100%;
		height: auto;

		&--desktop {
			display: block;
		}

		&--tablet {
			display: none;
		}

		&--mobile {
			display: none;
		}
	}

	.landing_page-conversation {
		width: 100%;
		max-width: pxToRem(495);
	}

	.landing_page-support_text {
		position: absolute;
		font-family: $fontStack--title;
		top: 0;
		left: 0;
		width: 100%;

		span {
			@include font--h1;
			font-size: pxToRem(114);
			opacity: 0.02;
		}
	}

	&--introduction {
		padding: 0 pxToRem(40);
		background-color: $color--33;
		.landing_page-container {
			padding: gridUnit(6) 0;
		}

		p {
			color: $color--00;
			font-size: gridUnit(1.5);
			font-family: $fontStack--title;
			font-weight: 500;
			line-height: gridUnit(2);
			max-width: 58%;
			margin-top: 0;
		}
		.landing_page-supporting_image {
			position: absolute;
			bottom: 0;
			right: 0;
			width: pxToRem(340);
		}
		.landing_page-store-container {
			display: flex;
			img {
				margin-right: 5px;
				width: 215px;
			}
		}
	}

	&--messages {
		background-color: #fafbfb;
		color: $color--20;
		padding: pxToRem(135) pxToRem(40) pxToRem(135) pxToRem(40);

		.landing_page-content_container {
			max-width: pxToRem(490);

			.landing_page-image_container {
				display: flex;
				justify-content: space-between;
				margin-top: gridUnit(5);
			}
		}

		.landing_page-image_container {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.landing_page-supporting_image {
			max-width: pxToRem(495);
			width: 48%;
		}

		.landing_box_tile {
			h3 {
				color: $color--33;
			}
			p {
				margin: gridUnit(2) 0;
				max-width: 90%;
			}
			a {
				color: $color--33;
				border-color: $color--33;
			}
			.button_take-a-look:hover {
				background-color: $color--33;
				color: $color--00;
				border-color: $color--33;
			}
		}
	}

	&--blogs {
		position: relative;
		color: $color--00;
		padding: pxToRem(135) pxToRem(40) pxToRem(70) pxToRem(40);

		.landing_page-supporting_image {
			box-shadow: $defaultTileShadow;
		}

		.landing_page-container {
			display: flex;
			justify-content: space-between;
			max-width: pxToRem(1440);
		}

		.landing_page-col {
			width: calc(50% - 40px);

			&:nth-child(1) {
				.landing_page-image_container {
					margin-top: pxToRem(200);
				}
			}
		}

		.landing_page-supporting_image {
			width: 100%;
			height: auto;
		}

		.landing_page-content_container {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		.landing_box_tile {
			max-width: pxToRem(480);
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			width: 200vw;
			min-height: pxToRem(750);
			left: 0;
			transform: translate3d(-50%, 0, 0);
			background: $color--20;
		}

		.landing_box_tile {
			p {
				margin: gridUnit(2) 0;
			}
		}
	}

	&--counselling {
		color: $color--20;
		background-color: #fafbfb;
		position: relative;
		padding: pxToRem(132) pxToRem(40);
		margin-top: pxToRem(200);

		.landing_page-content_container {
			display: flex;
			width: 100%;
		}

		.landing_box_tile {
			max-width: gridUnit(33);
		}

		.landing_page-image_container {
			margin-left: gridUnit(5);
			position: absolute;
			right: pxToRem(160);
			max-width: pxToRem(406);
			bottom: -132px;
			right: 37px;
		}

		.landing_page-supporting_image {
			max-width: pxToRem(370);
		}
	}

	&--events {
		height: pxToRem(663);
		justify-content: flex-start;
		overflow: hidden;
		background-color: #fefcfb;

		.landing_box_tile {
			max-width: pxToRem(453);

			p {
				margin-bottom: gridUnit(3);
			}
		}

		.landing_page-full_container {
			&--image {
				max-width: 39%;
				width: 100%;
			}

			&--content {
				justify-content: flex-start;
				background-color: $color--34;
				color: $color--00;
				.landing_page-content_container {
					padding-left: 35%;
				}
			}
		}

		.landing_page-supporting_image {
			position: absolute;
			width: pxToRem(330);
			right: 0;
			transform: translate3d(50%, 100px, 0);
			bottom: gridUnit(-5);
			z-index: 10;
			&.animate {
				transform: translate3d(50%, 0px, 0);
			}
		}
	}
}

@media #{$breakpointTablet} {
	.landing_page-content {
		.landing_page-support_text {
			display: none;
		}

		.landing_page-supporting_image {
			max-width: 100%;
			height: auto;

			&--desktop {
				display: block;
			}

			&--tablet {
				display: block;
			}
		}

		&--introduction {
			color: $color--20;

			.landing_page-container {
				padding: gridUnit(8.5) 0;
			}

			p {
				max-width: 68%;
			}
			.landing_page-store-container {
				img {
					width: 160px;
				}
			}

			.landing_page-supporting_image {
				right: -155px;
			}
		}

		&--messages {
			padding: gridUnit(4) gridUnit(2.5);

			.landing_page-image_container {
				display: none;
			}

			.landing_page-content_container {
				max-width: none;
				width: 80%;
			}

			.landing_box_tile,
			.landing_page-image_container {
				max-width: 30rem;
			}

			.landing_box_tile p {
				font-size: gridUnit(1);
			}
		}

		&--blogs {
			padding-top: gridUnit(4);
			padding-bottom: gridUnit(7);

			.landing_page-container {
				display: block;
			}

			.landing_page-content_container {
				justify-content: flex-start;
			}

			.landing_page-col {
				width: 100%;

				&:nth-child(2) {
					.landing_page-image_container {
						margin-top: gridUnit(5);
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;

						.landing_page-supporting_image {
							width: calc(50% - 16px);
							height: auto;
							align-self: center;
						}
					}
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}

		&--counselling {
			padding: gridUnit(5) gridUnit(2.5);

			.landing_page-image_container {
				margin-left: 0;
				right: pxToRem(-110);
			}

			.landing_box_tile {
				max-width: gridUnit(26);
				margin-top: gridUnit(3);
			}

			.landing_page-image_container {
				max-width: gridUnit(25);
				bottom: pxToRem(-80);
				right: gridUnit(1);
			}

			.landing_page-supporting_image {
				width: pxToRem(330);
			}
		}

		&--events {
			height: pxToRem(500);

			.landing_page-full_container {
				&--image {
				}

				&--content {
					.landing_page-content_container {
						padding-left: 20%;
						padding-right: gridUnit(2.5);
					}
				}
			}

			.landing_page-supporting_image {
				max-width: none;
				width: pxToRem(253);
				right: pxToRem(76);
				// right: 50%;
				// transform: translate3d(50%, 0, 0);
			}
		}
	}
}

@media #{$breakpointMobile} {
	.landing_page-content {
		.landing_page-supporting_image {
			&--desktop {
				display: none;
			}

			&--tablet {
				display: none;
			}

			&--mobile {
				display: block;
			}
		}

		&--introduction {
			padding: 0;

			.landing_page-container {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding: gridUnit(2) 0 0 0;
			}

			p {
				max-width: 100%;
				text-align: center;
				padding-left: gridUnit(1.5);
				padding-right: gridUnit(1.5);
				margin-bottom: gridUnit(2);
			}
			.landing_page-store-container {
				justify-content: center;
				width: 100%;
				margin-bottom: 2rem;
				img {
					width: 160px;
				}
			}
			.landing_page-supporting_image {
				position: relative;
				margin-top: gridUnit(2);
				width: 60%;
				right: 0;
				margin: 0 auto;
			}
		}

		&--messages {
			padding: pxToRem(70) gridUnit(1.5);

			.landing_page-content_container {
				max-width: none;
				width: 100%;

				.landing_page-image_container {
					display: none;
				}
			}

			.landing_page-row {
				flex-direction: column;
			}

			.landing_page-image_container {
				flex-grow: 1;
				display: block;
				margin-top: gridUnit(5);
			}

			.landing_page-supporting_image {
				max-width: none;
				width: 100%;
			}
		}

		&--blogs {
			padding: pxToRem(70) gridUnit(1.5) 0 gridUnit(1.5);

			.landing_page-container {
				display: block;
			}

			.landing_page-col {
				width: 100%;

				&:nth-child(1) {
					.landing_page-image_container {
						margin-top: gridUnit(4);
						margin-bottom: gridUnit(1);
					}
				}

				&:nth-child(2) {
					.landing_page-image_container {
						display: block;
						margin-top: 0;

						.landing_page-supporting_image {
							max-width: none;
							width: 100%;
							height: auto;
						}
					}
				}

				&:nth-child(3) {
					margin-top: gridUnit(1);
				}
			}
		}

		&--counselling {
			padding: pxToRem(40) gridUnit(1.5) 0 gridUnit(1.5);
			margin-top: 0px;

			.landing_page-row {
				display: block;
			}

			.landing_page-content_container {
				margin-bottom: gridUnit(2);
			}

			.landing_page-image_container {
				margin-left: 0;
				right: 0;
				position: relative;
				bottom: 0;
				max-width: none;
			}

			.landing_page-supporting_image {
				width: 60%;
				height: auto;
				margin: 0 auto;
				right: 0;
			}

			.landing_box_tile {
				max-width: none;
				margin-top: gridUnit(3);
				margin-top: 0;
			}
		}

		&--events {
			display: block;
			height: auto;
			color: $color--20;

			.landing_page-full_container {
				width: 100%;
				justify-content: flex-start;

				&--image {
					max-width: none;
					min-height: pxToRem(310);
					overflow: hidden;
					display: block;
				}

				&--content {
					padding: gridUnit(2.5) gridUnit(1.5) 0;
					margin-bottom: gridUnit(4);

					.landing_box_tile {
						max-width: none;
					}

					.landing_page-content_container {
						padding: 0px;
						width: 100%;
					}
				}
			}

			.landing_page-supporting_image {
				width: pxToRem(202);
				bottom: gridUnit(-8.5);
				right: 50%;
				transform: translate3d(50%, 0, 0);
			}
		}
	}

	.animate-when-visible,
	.animate-on-load,
	.animate-when-visible-loop {
		opacity: 1;
		transition: $fadeInTransition;
		transform: translate(0, 0px);

		&.animate {
			opacity: 1;
			transform: translate(0, 0);
			transition: $fadeInTransition;
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.animate-when-visible,
	.animate-on-load,
	.animate-when-visible-loop,
	.resource-animate {
		opacity: 1;
		transition: $fadeInTransition;
		transform: translate(0px, 0px);

		&.animate {
			opacity: 1;
			transform: translate(0, 0);
			transition: $fadeInTransition;
		}
	}

	.landing_page-content {
		.landing_page-col {
			display: block;
		}
	}
}
