.layout_dashboard {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: pxToRem(302) 1fr;
	grid-template-rows: pxToRem(72) 1fr;
	grid-template-areas:
		"😀 😀"
		"🍟 🍔";
}

.layout_dashboard-header {
	grid-area: 😀;
}

.layout_dashboard-sidebar {
	grid-area: 🍟;
}

.layout_dashboard-content {
	grid-area: 🍔;
	background: $color--12;
	position: relative;
}

.layout_dashboard-content_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&--loading {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media #{$breakpointTablet} {
	.layout_dashboard {
		grid-template-columns: 1fr;
		grid-template-rows: pxToRem(68) 1fr;
		grid-template-areas:
			"😀"
			"🍔";
	}

	.layout_dashboard-sidebar {
		display: none;
	}
}
