$sidebarWidth: 320;

.user_messages {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.user_messages-message_action {
	grid-area: 👅;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	border-bottom: rgba($color--00, 0.1) 1px solid;
	padding: pxToRem(24);
	color: $color--00;

	.user_messages-message_action-button {
		padding: 0;
		margin: 0;
		border-radius: 50%;
		border: 0;
		min-height: 0;
		width: pxToRem(20);
		height: pxToRem(20);
		background-color: $color--23;
		position: relative;
		&:before {
			content: ' ';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left: gridUnit(-0.3125);
			bottom: gridUnit(0.1875);
			border-top: gridUnit(0.5) solid $color--23;
			border-left: gridUnit(1) solid transparent;
			transform: rotate(60deg);
		}
		&:hover {
			border: 0;
		}
	}

	.user_messages-message_action-button-icon {
		color: $color--00;
		font-size: pxToRem(16);
		width: pxToRem(16);
		height: pxToRem(16);
		border: 0;
		padding: 0;
		margin: 0;
		display: block;
		line-height: 1;
	}
}

.user_messages-message_action-title {
	font-size: pxToRem(16);
	line-height: (24/16);
}

.user_messages-message_information {
	align-items: center;
	grid-area: 🌾;
	background-color: $color--00;
	box-shadow: 0 pxToRem(2) pxToRem(4) 0 rgba(0, 0, 0, 0.07);
	display: flex;
	justify-content: center;
	color: $color--20;
	font-weight: 600;
	min-height: pxToRem(48);
	position: relative;
}

.user_messages-message_information_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	display: grid;
	position: relative;
	grid-template-rows: 1fr;
	grid-template-columns: pxToRem(100) 1fr pxToRem(100);
	grid-auto-flow: column;
	grid-template-areas: '☎️ 💎 🔫';

	@include ie11-browser {
		> div:nth-child(1) {
			grid-row: 1;
			grid-column: 1;
		}
		> div:nth-child(2) {
			grid-row: 1;
			grid-column: 2;
		}
		> div:nth-child(3) {
			grid-row: 1;
			grid-column: 3;
		}
	}
}

.user_messages-back_to_message,
.user_messages-message_who,
.user_messages-information {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.user_messages-back_to_message {
	button {
		display: none;
		border: 0;
	}

	.injected-svg {
		fill: $color--20;
		display: block;
	}
}

.user_messages-inbox_list {
	grid-area: 👷‍;
	background-color: $color--25;
	overflow: auto;

	.message_inbox_view {
		padding: gridUnit(1) gridUnit(1.5);
	}
}

.user_messages-content {
	position: relative;
	grid-area: 💂;
}

.user_messages-message_detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	position: relative;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		'🛁'
		'💈';
	transition: all 200ms ease-in-out;
	opacity: 1;

	&--is-disabled {
		filter: grayscale(100%);
		opacity: 0.4;
		transition: all 200ms ease-in-out;
	}
}

.user_messages-message_detail-content {
	grid-area: 🛁;
	position: relative;
}

.user_messages-conversation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: gridUnit(2) gridUnit(2) 0 gridUnit(2);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.user_messages-reply {
	grid-area: 💈;
	min-height: pxToRem(160);
	position: relative;
	// overflow-y: auto;
}

.user_messages-sidebar {
	background-color: $color--25;
	display: grid;
	width: pxToRem($sidebarWidth);
	grid-template-areas:
		'👅'
		'👷‍';
	grid-template-columns: 1fr;
	grid-template-rows: gridUnit(5.5) 1fr;
}

.user_messages-view_container {
	display: flex;
	width: calc(100% - #{pxToRem($sidebarWidth)});
}

.user_messages-view {
	display: grid;
	grid-template-areas:
		'🌾'
		'💂';
	grid-template-columns: 1fr;
	grid-template-rows: gridUnit(5.5) 1fr;
	flex-grow: 1;
	height: 100%;
}

.user_messages-chat_type {
	display: flex;
	align-items: center;
}

.user_messages-chat_type_indicator {
	display: flex;
	align-items: center;
	margin: 0 0 0 gridUnit(0.75);
	opacity: 0.3;

	&--active {
		opacity: 1;
	}

	&--private {
		.user_messages-icon_container svg {
			width: pxToRem(13);
		}
	}

	&--group {
		margin-right: gridUnit(0.4);

		.user_messages-icon_container svg {
			width: gridUnit(1.5);
			top: 56%;
		}
	}
}

.user_messages-icon_container {
	width: pxToRem(28);
	height: pxToRem(28);
	background-color: $color--20;
	padding: pxToRem(7);
	border-radius: 50px;
	position: relative;
	margin-right: gridUnit(0.5);

	svg {
		color: $color--00;
		fill: $color--00;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.user_messages-select_users {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: pxToRem(0) gridUnit(1);
	width: calc(100% - #{pxToRem(48)});
	text-align: left;
	flex: 1 1 auto;

	.form-input--autocomplete {
		width: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		min-height: pxToRem(32);

		label {
			flex: 0 0 auto;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: pxToRem(48);
			font-size: pxToRem(14);
			padding: 0;
			width: pxToRem(48);
			display: none;

			+ div {
				display: flex;
				flex-wrap: wrap;
				flex: 1 1 auto;
				padding: 0;
				border: 0;
				min-height: pxToRem(48);
				align-items: center;
				width: calc(100% - #{pxToRem(48)});
			}
		}
	}
}

.user_messages-loading {
	min-height: pxToRem(48);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: pxToRem(16) gridUnit(1.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.user_messages-message_who {
	.text-ellipse {
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
		position: absolute;
	}
}

.user_messages-information {
	path {
		fill: $color--20;
	}

	.injected-svg {
		display: block;
	}

	&:hover {
		path {
			fill: $color--23;
		}
	}
}

.message_error{
	display: flex;
	width: 90%;
	height:70%;
	justify-content: center;
	align-items: center;
}

.message_error_content{
	width: 40%;
}

.go_to_link{
	color : "#03a5fc" !important;
	text-decoration-color: "#03a5fc";
}

.link_padding{
	padding-left: 5px;
	padding-right: 5px;
}
.message_error_actions{
	margin-top: 2rem;
}
.message_error_button{
	margin-right: .5rem !important;
}
.message_error_image{
	width:80%;
	padding-top:1rem;
}
.message_error_mobile{
	display: none;
}
.message_error_image_container{
	width: 30%;
}
@media #{$breakpointMobile} {
	.message_error{
		display: none;
	}
	.message_error_mobile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.message_error_image{
		width: 100%;
	}
	.message_error_content{
		width: 90%;
	}
	.user_messages {
		display: block;
		height: 100%;
		width: 100vw;
		position: absolute;
		transform: translate3d(0, 0, 0);
	}

	.user_messages-sidebar {
		height: 100%;
		width: 100vw;
		position: absolute;
		transform: translate3d(0, 0, 0);
		transition: all 200ms ease-in-out;
		z-index: 9;

		&--panel_active {
			transform: translate3d(-100%, 0, 0);
			transition: all 200ms ease-in-out;
		}
	}

	.user_messages-view {
		position: absolute;
		width: 100vw;
		height: 100%;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		background-color: $color--00;
		transform: translate3d(0, 0, 0);
		transition: all 200ms ease-in-out;

		&--isActive {
			transform: translate3d(0, 0, 0);
			transition: all 200ms ease-in-out;
		}
	}

	.user_messages-message_information_wrapper {
		grid-template-columns: pxToRem(40) 1fr pxToRem(40);
	}

	.user_messages-message_information {
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		width: 100%;
		flex: 1 1 100%;
		padding: 0 pxToRem(16);
		justify-content: flex-start;
		min-height: pxToRem(48);
	}

	.user_message_sidepanel-information_panel {
		.user_messages-message_information {
			padding: 0 pxToRem(16) 0 pxToRem(64);
		}
	}

	.user_messages-message_who {
		padding: pxToRem(16) 0 pxToRem(16) pxToRem(8);
	}

	.user_messages-back_to_message {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border: 0;

		button {
			display: block;
		}
	}

	.user_messages-conversation {
		padding: gridUnit(1) gridUnit(1) 0 gridUnit(1);
	}
}
