.notifications_panel {
	position: relative;
	width: pxToRem(360);
	max-width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.notifications_panel-header {
	height: pxToRem(56);
	position: relative;
	border-bottom: 1px solid rgba($color--24, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	.notifications_panel-header-settings {
		position: absolute;
		top: 0;
		left: 0;
		width: pxToRem(64);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.notifications_panel-header-settings-icon {
		.injected-svg {
			width: pxToRem(20);
			height: pxToRem(20);
			display: flex;
			align-items: center;
			justify-content: center;
			fill: $color--21;
		}
	}
}

.notifications_panel-header-title {
	font-size: pxToRem(14);
	line-height: (24/14);
	color: $color--21;
	font-weight: bold;
}

.notifications_panel-list {
	position: relative;
	height: calc(100vh - #{pxToRem(57)}); // 56+1px border bottom
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	.list_loading {
		padding-top: pxToRem(32);
	}
}

.notification_tile {
	position: relative;
	width: 100%;
	padding-left: pxToRem(24);
	padding-right: pxToRem(24);

	&--unread {
		&:before {
			content: ' ';
			position: absolute;
			transform: translate(-50%, -50%);
			top: pxToRem(36);
			left: pxToRem(12);
			width: pxToRem(6);
			height: pxToRem(6);
			border-radius: pxToRem(3);
			background-color: $color--04;
			display: block;
		}
	}
	.notification_tile-action {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.notification_tile-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: pxToRem(16) 0;
	}
	&:not(:first-of-type) {
		.notification_tile-wrapper {
			border-top: thin solid rgba($color--24, 0.2);
		}
	}
}

.notification_tile-avatar_container {
	display: flex;
	width: pxToRem(40);
	flex: 0 0 pxToRem(40);
	max-width: pxToRem(40);
	.notification_tile-avatar {
		width: pxToRem(32);
		height: pxToRem(32);
		display: inline-flex;
		background-color: $color--22;
		border-radius: pxToRem(16);
	}
}

.notification_tile-description {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.notification_tile-description-text {
	font-size: pxToRem(12);
	line-height: (16/12);
	margin: 0 0 pxToRem(4) 0;
	color: $color--20;
	width: 100%;
}

.notification_tile-description-date {
	font-size: pxToRem(14);
	line-height: (24/14);
	color: $color--21;
	margin: 0;
	width: 100%;
}

@media #{$breakpointMobile} {
	.notifications_panel {
		width: 100%;
	}
}
