.page_error_wrapper {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	padding: gridUnit(2) gridUnit(1);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page_error {
	position: relative;
	width: 100%;
	max-width: gridUnit(40);
	padding: gridUnit(2) 0;
	box-sizing: border-box;
	text-align: center;
}
