.graduate_user-container{
    height: 100vh;
    width: 100vw;
    background-color :$color--20;
    
}

.graduate_user-content{
    display: flex;
    width: 100%;
    height: 100%;
}
.graduate_user-image-container{
    width: 50%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	opacity: 1;
}
.graduate_user-image-container-mobile{
    display: none;
    width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.graduate_user-image-thanks-container{
    position: absolute;
    top: 10px;
    left: 54px;
}
.graduate_user-Clogo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.graduate_user-Clogo-image{
    width: 140px;
    opacity: 0.75;
}
.graduate_user-image-thanks{
    width: 70%;
}
.graduate_user-information{
    width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 5rem;
	color: white;
}
.link{
    text-decoration: none;
}
.graduate_user-information-heading,.graduate_user-information-text{
    padding-right: 9rem;
}
.graduate_user-information-email{
    color: $color--01;
}
.graduate_user-information-phone{
    color: $color--04;
    display: inline-block;
}
.graduate_user-information-line{
    width: 6rem;
	height: .25rem;
	background: white;
	margin: 1.25rem 0rem 4rem;
}
.graduate_user-information-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.graduate_user-information-footer-heading{
    margin: 0px !important;
}
.graduate_user-inforamation-footer-links{
    list-style-type: none;
	padding: 0;
	margin: 0;
}
.graduate_user-inforamation-footer-link{
    float: left;
}
.graduate_user-information-footer-logo{
    width: 80%;
    cursor: pointer;
}
.graduate_user-information-mobile{
    width: 100%;
    padding: 0 1rem;
    color: white;
    position: absolute;
    bottom: 0;
}
@media #{$breakpointMobile} {
    .graduate_user-content{
        flex-direction: column;
    }
    .graduate_user-image-container{
        width: 100%;
        height: 100vh;
        display: none;
    }

    .graduate_user-information-heading{
        padding-right: 0rem;
        line-height: 22px;
        font-size: 15px;
    }
    .graduate_user-information-text{
        padding-right: 0rem;
    }
    .graduate_user-image-thanks-container{
        top: 15px;
        left: 25%;
    }
    .graduate_user-image-thanks{
        width: 90%;
    }
    .graduate_user-information-footer{
        padding-bottom: 2rem;
    }
    .graduate_user-information-footer-logo{
       width: 90%;
    }
    .graduate_user-image-container-mobile{
        display: inline-block;
        height: 100vh;

    }
    .graduate_user-information{
        display: none;
    }
}