.people_like_me-tiles {
	display: flex;
	justify-content: center;
}

.people_like_me-tiles_container {
	@include tileContainerWidth;
	padding-top: gridUnit(2.5);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: gridUnit(1.5);
	grid-column-gap: gridUnit(1.5);

	@include ie11-browser {
		display: flex;
		flex-wrap: wrap;
		margin-left: gridUnit(-0.75);
		margin-right: gridUnit(-0.75);

		.user_tile {
			margin: 0 gridUnit(0.5) gridUnit(1.5);
			width: calc(33% - #{gridUnit(1.5)});
		}
	}
}

@media #{$breakpointTablet} {
	.people_like_me-tiles_container {
		grid-template-columns: 1fr 1fr;

		@include ie11-browser {
			.user_tile {
				width: calc(50% - #{gridUnit(1)});
			}
		}
	}
}

@media #{$breakpointMobile} {
	.people_like_me-tiles_container {
		display: block;

		@include ie11-browser {
			.user_tile {
				width: 100%;
			}
		}
	}
}
