.dashboard_quick_links {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;
}

.quick_links_list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: $color--00;
	box-shadow: $defaultTileShadow;
	transition: all ease-in-out 200ms;
	padding: gridUnit(1);
}

.quick_links_item {
	display: flex;
	flex-direction: column;
	padding: gridUnit(1);
	position: relative;

	&:hover {
		.quick_links_item-image_container {
			opacity: 0.7;
			transition: $defaultEaseInOutTransition;
		}

		.quick_links_item-title {
			color: $color--40;
			transition: $defaultEaseInOutTransition;
		}
	}
}

.quick_links_item-image_container {
	display: flex;
	justify-content: center;
	opacity: 1;
	transition: $defaultEaseInOutTransition;
}

body .quick_links_item-image {
	width: pxToRem(120);
	height: pxToRem(120);
}

body .quick_links_item-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	border-radius: 4px;
}

.quick_links_item-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.quick_links_item-type {
	font-weight: bold;
	color: $color--21;
	letter-spacing: 0.5px;
	font-size: pxToRem(10);
	line-height: 16px;
	text-transform: uppercase;
	margin-top: pxToRem(10);
}

.quick_links_item-title {
	font-size: pxToRem(16);
	line-height: pxToRem(24);
	color: $color--20;
	transition: $defaultEaseInOutTransition;
}
