.relevant_discussions {
	display: flex;
	flex-direction: column;
}

.relevant_discussions-container {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;
}

.relevant_discussions-tiles {
	display: flex;
	flex-direction: row;
}

@media #{$breakpointMobile} {
	.relevant_discussions-tiles {
		display: block;
	}
}
