.relevant_sections {
	padding-bottom: gridUnit(3);
	.sub_title_detail {
		padding-bottom: gridUnit(0.5);
	}
}
.relevant_sections,
.relevant_sections-container {
	display: flex;
	flex-direction: column;
}

.relevant_sections-container {
	@include tileContainerWidth;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-column-gap: pxToRem(70);
	grid-row-gap: gridUnit(1);

	@include ie11-browser {
		> div {
			margin: 0 gridUnit(0.5) gridUnit(1);
			width: calc(100% - 1rem);
			height: calc(100% - 1rem);
		}

		> div:nth-child(1) {
			grid-row: 1;
			grid-column: 1;
		}
		> div:nth-child(2) {
			grid-row: 2;
			grid-column: 1;
		}
		> div:nth-child(3) {
			grid-row: 3;
			grid-column: 1;
		}
		> div:nth-child(4) {
			grid-row: 4;
			grid-column: 1;
		}
		> div:nth-child(5) {
			grid-row: 1;
			grid-column: 2;
		}
		> div:nth-child(6) {
			grid-row: 2;
			grid-column: 2;
		}
		> div:nth-child(7) {
			grid-row: 3;
			grid-column: 2;
		}
		> div:nth-child(8) {
			grid-row: 4;
			grid-column: 2;
		}
	}
}

.relevant_sections-column {
	width: 48%;
}

@media all and (-ms-high-contrast:none) {
	.relevant_sections-container {
		grid-template-rows: repeat(4, 1fr);
	}
}

@media #{$breakpointMobile} {
	.relevant_sections {
		padding-bottom: 0;
	}
	.relevant_sections-container {
		display: block;

		@include ie11-browser {
			> div {
				margin: 0 0 gridUnit(1);
				width: 100%;
				height: auto;
			}
		}
	}

	.relevant_sections-column {
		width: 100%;
	}
}
