.resources_featured {

}

.resources_featured-container {
	@include tileContainerWidth;
	padding-top: 0;
	padding-bottom: 0;
	display: grid;
	grid-column-gap: pxToRem(24);
	grid-template-areas: "🦁 🐮";
	grid-template-columns: repeat(2, 1fr);
}

.resources_listings-container {
	@include tileContainerWidth;
	padding-top: pxToRem(48);

	.general_tile {
		margin-bottom: gridUnit(1.5);
	}
}

.filters + .resources_listings {
	.resources_listings-container {
		padding-top: pxToRem(32);
	}
}

body .resources_listings-container .general_tile .pill {
	z-index: 1;
}

@media #{$breakpointMobile} {
	.filters + .resources_listings .resources_featured-container,
	.resources_featured-container {
		@include tileContainerWidth;
		display: block;
		padding-top: 0;
	}
}
