.resources_single {
}

.resources_single-container {
}

.resources_single-content_container {
	@include tileContainerWidth;
	display: flex;
	justify-content: space-between;
	padding-top: pxToRem(40);
}

.resources_single-wyiwysg {
	width: pxToRem(607);
	padding-bottom: gridUnit(3);
}

.resources_single-related {
	border-top: pxToRem(1) solid $color--13;
}

.resources_single-related_container {
	@include tileContainerWidth;

	.general_tile {
		margin-bottom: gridUnit(1.5);
	}
}

.article_single-title {
	display: flex;
	position: relative;
}

.article_single-wyiwysg_title {
	@include font--article-title;
	margin: 0 gridUnit(5) 0 0;
}

.article_single-flags {
	display: flex;
}

.article_single-meta {
	display: flex;
	justify-content: space-between;
	margin: gridUnit(2) 0;
	position: relative;
}

.article_single-ycs {
	width: gridUnit(2.5);
}

.article_single-contextual_menu {
	position: absolute;
	right: 0;
	top: pxToRem(-8);
}

.article_single-sidebar {
}

.article_single-external_resource {
	margin-top: gridUnit(2);
	color: $color--23;
	font-weight: 600;
}

body {
	.article_single-button_save {
		margin-right: gridUnit(1);
	}

	.article_single-button_share {
	}
}

@media #{$breakpointTablet} {
	.resources_single-sidebar {
		margin-right: gridUnit(1.5);
		min-width: gridUnit(4.5);
	}
}

@media #{$breakpointMobile} {
	.resources_single-content_container {
		display: block;
	}

	.resources_single-sidebar {
		margin-right: 0;
		width: 100%;
		display: flex;
	}

	.resources_single-wyiwysg {
		width: 100%;
	}

	.resources_single-share_actions {
		display: flex;
		flex-grow: 1;

		.resource_action {
			display: block;
			width: 100%;
			margin-top: gridUnit(2);
		}

		.resource_action-container {
			display: flex;
			justify-content: flex-end;
		}

		.resource_action-button {
			width: auto;
			margin-left: gridUnit(1);
		}
	}
}
