.staff_tiles_list {
	display: flex;
	justify-content: center;
}

.staff_tiles_list-container {
	@include tileContainerWidth;
	padding-top: gridUnit(2.5);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: gridUnit(1.5);
	grid-column-gap: gridUnit(1.5);

	@include ie11-browser {
		display: flex;
		flex-wrap: wrap;
		margin-left: gridUnit(-0.75);
		margin-right: gridUnit(-0.75);

		.staff_tile {
			margin: 0 gridUnit(0.5) gridUnit(1.5);
			width: calc(33% - #{gridUnit(1.5)});
		}
	}
}

.staff_tile {
	background-color: $color--00;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-shadow: $defaultTileShadow;
	position: relative;
	padding: gridUnit(0.5);

	.staff_tile-action {
		transition: all ease-in-out 200ms;
	}

	&:hover {
		.staff_tile-avatar {
			opacity: 0.7;
		}
	}
}

.staff_tile-name {
	font-size: pxToRem(14);
	font-weight: bold;
	line-height: gridUnit(1.5);
	color: $color--20;
	display: block;
}

.staff_tile-role {
	font-size: pxToRem(14);
	line-height: gridUnit(1.5);
	color: $color--20;
	display: block;
	margin-top: gridUnit(0.25);
}

body {
	.staff_tile-action {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9;
	}

	.staff_tile-avatar {
		width: pxToRem(88);
		height: pxToRem(88);
		margin-right: gridUnit(1);
	}
}

@media #{$breakpointTablet} {
	.staff_tiles_list-container {
		grid-template-columns: 1fr 1fr;

		@include ie11-browser {
			.staff_tile {
				width: calc(50% - #{gridUnit(1)});
			}
		}
	}
}

@media #{$breakpointMobile} {
	.staff_tiles_list-container {
		display: block;

		@include ie11-browser {
			.staff_tile {
				width: 100%;
			}
		}
	}

	.staff_tile {
		margin-bottom: gridUnit(1);
	}
}
