.user_account_panel {
	.form {
		padding: pxToRem(0) pxToRem(24);
	}
}

/* section - profile */

.user_account_panel-profile {
	padding: 0 pxToRem(24) pxToRem(40) pxToRem(24);
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100%;
}

.user_account_panel-profile-name-wrapper {
	width: 100%;
	margin-bottom: pxToRem(16);

	.user_account_panel-profile-name {
		text-align: center;
		font-size: pxToRem(24);
		line-height: (32/24);
	}
}

.user_account_panel-profile-avatar {
	width: 100%;
	margin-bottom: pxToRem(8);

	.user_account_panel-profile-avatar-image {
		width: pxToRem(88);
		height: pxToRem(88);
    margin-left: auto;
    margin-right: auto;
	}
}

.user_account_panel-profile-change-avatar {
	font-size: pxToRem(11);
	text-decoration: none;
	display: block;
	width: 100%;

	.user_account_panel-profile-change-avatar-content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
    flex-wrap: wrap;
	}

	.user_account_panel-profile-change-avatar-content-progress-bar {
		width: 100%;
		margin-top: pxToRem(8);
    text-align: center;
		&:empty {
			display: none;
		}
	}

	.user_account_panel-profile-change-avatar-content-text {
		text-decoration: underline;
		color: $color--20;
		font-weight: bold;
		font-size: pxToRem(10);
		line-height: (16/10);
		letter-spacing: 0.5px;
    text-align: center;
	}

	.user_account_panel-profile-change-avatar-dropzone {
		cursor: pointer;

		&:hover,
		&:focus {
			outline: 0;

			.user_account_panel-profile-change-avatar-content-text {
			}
		}

		&--active {
			cursor: move;
			border-color: $color--01;

			&.user_account_panel-profile-change-avatar-dropzone--reject {
				color: $color--09;
				text-decoration: line-through;
				border-color: transparent;
				cursor: pointer;
			}
		}
	}

}

/* section - completion */

.user_account_panel-completion {
	padding: 0 pxToRem(24) pxToRem(40) pxToRem(24);
}

.user_account_panel-completion-label {
	font-size: pxToRem(11);
	line-height: pxToRem(16);
	opacity: 0.45;
}

/* section - sections */

.user_account_panel-sections {
	padding: 0 pxToRem(24);
	.user_account_panel-sections-item {
		display: block;
		width: 100%;
		padding: 0;
		border-top: 1px solid rgba($color--24, 0.2);
	}
	.pill {
		border: 0;
		padding: 0;
		font-size: pxToRem(10);
		line-height: (16/10);
		color: $color--20;
		text-decoration: underline;
		margin: 0 pxToRem(8) 0 0;
	}
}

.user_account_panel-sections-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: pxToRem(16) 0;
}

.user_account_panel-sections-primary {
	color: $color--20;
	font-weight: bold;
	font-size: pxToRem(14);
	line-height: (24/14);
}

.user_account_panel-sections-secondary {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.user_account_panel-sections-secondary-icon {
		width: pxToRem(16);
		height: pxToRem(16);
		color: $color--23;
		&--gray {
			color: $color--21;
		}
	}
}
