.user_panel {
	position: relative;
	width: pxToRem(360);
	max-width: 100vw;
	height: 100vh;
	// overflow-x: hidden;
	// overflow-y: auto;
	.form-row:first-of-type {
		.form-column {
			padding-top: 0;
		}
	}
}

.user_panel-header {
	height: pxToRem(56);
}

.user_panel-header-heading {
	text-align: center;
	color: $color--21;
	font-size: pxToRem(14);
	line-height: (24/14);
	font-weight: bold;
	margin: 0;
}

.user_panel-content {
	//padding: pxToRem(40) 0 pxToRem(40) 0;
	height: calc(100vh - #{pxToRem(56)} - #{pxToRem(48)}); // header and sidebar
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.user_panel-switch {
	position: absolute;
	top: pxToRem(16);
	left: pxToRem(16);
}

.user_panel-heading {
	padding: 0 pxToRem(24) pxToRem(28) pxToRem(24);
}

.user_panel-tabs {
	background: $color--27;
	height: pxToRem(48);
	[role='tablist'] {
		// container for buttons
		display: flex;
		justify-content: center;
	}
	button {
		min-width: 1px;
		padding: 0 pxToRem(28);
	}
}

.user_panel-content {
	padding: pxToRem(40) 0 0 0;
}

.user_panel-content-username {
	font-size: pxToRem(14);
	line-height: (24/14);
	padding: 0;
	margin: 0;
}

.user_panel-back {
	padding: pxToRem(0) pxToRem(24) pxToRem(16) pxToRem(24);

	.user_panel-back-button {
		color: $color--20;
		font-weight: bold;
		padding: 0;
		font-size: pxToRem(12);
		line-height: (24/12);
	}

	.user_panel-back-back_icon {
		color: $color--23;
		margin-right: pxToRem(16);
		font-size: pxToRem(16);
		font-weight: bold;
	}
}

.user_panel-link {
	color: inherit;
	text-decoration: underline;
	transition: all ease-in-out 200ms;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $color--06;
	}
}

.user_panel-content-section {
	position: relative;
	padding-left: pxToRem(24);
	padding-right: pxToRem(24);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;

	.user_panel-content-section-inner {
		width: 100%;
		display: block;
		border-bottom: thin solid rgba($color--24, 0.2);
	}

	&:last-of-type {
		.user_panel-content-section-inner {
			border-bottom: 0;
		}
	}

	&--are-you-sure {
		.are-you-sure-button {
			border-color: transparent;
		}
	}

	&--situations_message {
		.user_panel-content-section-inner {
			padding-top: pxToRem(12);
		}
	}

	&--gender_age {
		padding-top: pxToRem(12);
		padding-bottom: pxToRem(12);
		.user_panel-content-section-inner {
			padding-bottom: pxToRem(12);
		}
	}

	&--about {
		padding-top: pxToRem(24);
		.user_panel-content-section-inner {
			border-bottom: 0;
		}
	}

	&--user_deactivated {
		.user_panel-content-section-inner {
			padding-top: gridUnit(1);
			padding-bottom: gridUnit(1.5);
		}
		.user_panel-user_deactivated-heading {
			color: $color--23;
			font-weight: bold;
			font-size: pxToRem(14);
			line-height: (24/14);
			margin-bottom: pxToRem(8);
		}
		.user_panel-user_deactivated-content {
			font-size: pxToRem(14);
			line-height: (24/14);
			color: $color--21;
		}
		.user_panel-user_deactivated-footer {
			margin-top: pxToRem(16);
		}
	}

	.user_panel-content-section {
		width: 100%;
	}

	.user_panel-content-section-user-info {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 100%;
		width: 100%;
	}

	.user_panel-content-section-user-info-col {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 50%;
		justify-content: center;
		position: relative;

		&:not(:first-of-type) {
			&:before {
				content: ' ';
				display: block;
				width: pxToRem(1);
				position: absolute;
				height: calc(100%);
				background: $color--22;
				left: 0;
				top: 0;
			}
		}
	}

	.user_panel-content-section-user-info-heading {
		width: 100%;
		font-size: pxToRem(12);
		color: $color--21;
		line-height: (16/12);
		margin: 0 0 pxToRem(2) 0;
	}

	.user_panel-content-section-user-info-description {
		width: 100%;
		font-size: pxToRem(14);
		color: $color--20;
		line-height: pxToRem(24);
		font-weight: bold;
		margin: 0;
		text-transform: capitalize;
	}

	.user_panel-content-profile-avatar {
		width: pxToRem(120);
		height: pxToRem(120);
		display: block;
		margin-left: auto;
		margin-right: auto;
		.user-avatar {
			&--blocked {
				opacity: 0.4;
			}
		}
	}

	.user_panel-content-section-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.user_panel-counter {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		color: $color--06;
		padding: pxToRem(16);
		border-radius: pxToRem(16);

		+ .user_panel-counter {
			margin-left: pxToRem(48);
		}
	}

	.user_panel-user_situations {
		margin-bottom: pxToRem(16);
		&:empty {
			display: none;
		}
	}

	.user_panel-user_situation {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color--05;
		margin-bottom: pxToRem(8);
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.user_panel-user_message {
		margin: 0 0 pxToRem(24) 0;
	}

	.user_account_panel-sections-secondary-icon {
		width: gridUnit(1);
		height: gridUnit(1);
		margin-right: pxToRem(8);
		fill: $color--23;
	}

	.user_panel-user_situation_label {
		margin-left: gridUnit(1);
		font-size: pxToRem(14);
		line-height: (24/14);
		font-weight: bold;
		color: $color--20;
		margin: 0;
		padding: 0;
	}
}

.user_panel-content-additional {
	opacity: 0.45;
}

.user_panel-content-section-container {
	width: 100%;
}

.user_panel-content-section-text {
	font-size: pxToRem(14);
	line-height: (24/14);
	color: $color--20;
	text-align: center;
	padding: 0;
	margin: 0;
}

@media #{$breakpointMobile} {
	.user_panel {
		width: 100vw;
	}

	.user_panel-heading {
		padding: 0 gridUnit(1.5) gridUnit(1);
	}
}
