@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animation_loading {
	opacity: 1;

	&.animation_loading--exiting {
		animation: fadeOut 250ms ease-in;
	}
	&.animation_loading--exited {
		opacity: 0;
	}
}
