.close_button {
	position: absolute;
	appearance: none;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	border: pxToRem(28) solid transparent;
	border-top-color: rgba(0, 0, 0, 0.25);
	border-right-color: rgba(0, 0, 0, 0.25);
	color: $color--00;
	transition: border ease-out 200ms;
	z-index: 1;

	&:hover,
	&:focus {
		outline: 0;
		border-top-color: rgba(0, 0, 0, 0.4);
		border-right-color: rgba(0, 0, 0, 0.4);
	}

	.close_button-icon {
		position: absolute;
		left: pxToRem(4);
		bottom: pxToRem(2);
		width: pxToRem(16);
		height: pxToRem(16);
	}

	&--primary {
		border-top-color: $color--20;
		border-right-color: $color--20;
		color: $color--00;

		&:hover,
		&:focus {
			border-top-color: $color--23;
			border-right-color: $color--23;
		}
	}
}
