.flag {
	background-color: rgba($color--24, 0.15);
	margin: gridUnit(1) gridUnit(0.5) gridUnit(1) 0;
	padding: pxToRem(3) pxToRem(7);
	display: flex;
	align-items: center;

	span {
		font-size: pxToRem(14);
		color: $color--23;
		font-weight: 600;
		display: flex;
		align-items: center;
	}

	div {
		position: relative;
		height: 20px;
		width: 20px;
	}

	.injected-svg {
		position: absolute;
		top: 0px;
		transform: translate(-15%, -10%);
		left: 0px;

		path {
			stroke: $color--23;
		}
	}
}
