.form {
	display: block;
	overflow: visible;
	padding: gridUnit(2) gridUnit(2.5);

	&--no_padding {
		padding: 0;
	}

	.form-input {
		width: 100%;
	}

	.form-input-label {
		margin-bottom: 7.5px;
		color: $color--20;
		width: 100%;
		@extend .font--h6;
	}

	input[disabled] {
		color: $color--17;
	}

	textarea {
		max-width: 100%;
		box-sizing: border-box;
	}

	// radio
	.form-input-radio_wrapper {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.form-input-radio_group {
		flex-direction: unset;
	}
	.form-input-radio {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: auto;
		user-select: none;
		flex: 1 1 50%;
		margin: 0;
		margin-left: -14px;
	}

	// checkboxes
	.form-input-checkbox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.form-input-radio,
	.form-input-checkbox {
		padding: 0 pxToRem(30) 0 0;
		margin: pxToRem(8) 0;
	}

	.form-input-radio-tick,
	.form-input-checkbox-tick {
		padding: 0;
		width: 24px;
		height: 24px;
		color: $color--20;
		~ span {
			user-select: none;
			font-size: pxToRem(12);
			padding-left: pxToRem(8);
			padding-top: pxToRem(4);
			color: $color--20;
			width: calc(100% - 24px);
			line-height: (16/12);
		}
	}

	.form-input-checkbox-tooltip {
		display: block;
		font-style: normal;
		font-weight: inherit;
		font-size: inherit;
		color: $color--17;
		margin-top: pxToRem(4);
	}

	.form-input-switch {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.form-input--textarea {
		padding: 0px;
		background-color: $color--00;
		padding: gridUnit(1) gridUnit(0.75);
		border-radius: 0 0 pxToRem(2) pxToRem(2);

		textarea {
			border: 0;
			background-color: transparent;
			width: 100%;
			outline: 0;
			resize: none;
			font-size: 14px;
			line-height: 24px;
			padding: 0;
		}
	}
	.event-form-helper-text {
		color: $color--20 !important;
		font-size: 10px !important;
		margin-left: pxToRem(16) !important;
	}

	// .form-submit {
	// 	&--error {
	// 		color: $color--09;
	// 		border-color: $color--09;

	// 		&:hover:not(:disabled) {
	// 			color: $color--08;
	// 			border-color: $color--08;
	// 		}

	// 		&:disabled {
	// 			color: $color--09;
	// 			border-color: $color--09;
	// 		}
	// 	}
	// }

	.form-helper-text {
		font-size: 12px;
		line-height: (16/12);
		color: $color--21;
		margin: 0;
	}
}

body .form-row .form-column .pill {
	margin-bottom: gridUnit(0.25);
}

body .conditional-checkbox {
	padding: 0 gridUnit(1);
}

.form-row {
	display: flex;
	flex-direction: row;
	margin: 0 gridUnit(-1);

	&--space_above {
		margin-top: gridUnit(1);
	}

	&--space_bottom {
		margin-bottom: gridUnit(2);
	}

	&--submit {
		margin-top: gridUnit(1);

		.form-column {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&--space_between {
		.form-column {
			justify-content: space-between;
		}
	}

	&--submit_left {
		margin-top: gridUnit(2);
		padding-bottom: gridUnit(1);

		.form-column {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}

	&--border_top {
		padding-top: gridUnit(2);
		position: relative;
		&:before {
			content: " ";
			display: block;
			position: absolute;
			left: pxToRem(16);
			top: 0;
			width: calc(100% - #{pxToRem(32)});
			height: pxToRem(1);
			background-color: rgba($color--24, 0.2);
		}
	}
}

.form-column {
	width: 100%;
	padding: gridUnit(0.75) gridUnit(1);

	&--no_padding {
		padding: 0;
	}

	// button + button {
	// 	margin-left: pxToRem(16);
	// }
}
.form-row-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: gridUnit(0.75) gridUnit(0);
	cursor: pointer;
	.form-column {
		padding: 0;
		width: auto;
	}
}

.form-helper_text {
	display: block;
}

.auth_form-show_warning {
	padding: gridUnit(1) gridUnit(1.25);
	border: 1px solid $color--20;
	border-radius: 4px;

	h3 {
		color: $color--20;
	}
}

.auth_form-verify-heading {
	margin: pxToRem(50) 0 pxToRem(10);
	font-size: pxToRem(24);
	line-height: pxToRem(29);
}
.auth_form-verify-text {
	margin: 0 0 pxToRem(38);
}

.form-divider {
	display: block;
	height: 1px;
	background: $color--16;
}

.form-text {
	margin: 0 0 1em 0;
	font-size: pxToRem(12);
	line-height: (16/12);

	&:last-of-type {
		margin-bottom: 0;
	}
}

// Override MUI classes
body .form--datepicker {
	width: 100%;
}

@media #{$breakpointMobile} {
	.form {
		padding: gridUnit(1) gridUnit(1.5);

		&.create_discussion_form {
			padding: 0;
		}
	}
}
