.hero {
	position: relative;
	overflow: hidden;
	padding: pxToRem(32) pxToRem(64) pxToRem(32) pxToRem(40);
	transform: translate3d(0, 0, 0);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.hero-heading {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	.injected-svg {
		width: 100%;
		height: 100%;
		fill: $color--00;
		max-height: pxToRem(32);
		max-width: pxToRem(32);
	}
}

.hero-heading-icon {
	display: flex;
	align-items: center;
	height: pxToRem(32);
	width: pxToRem(32);
	margin-right: pxToRem(14);
}

hero-heading .hero-background {
	position: absolute;
	top: 100%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	pointer-events: none;
	font-size: 20vw;
	font-family: $fontStack--title;
	font-weight: 700;
	opacity: 0.05;
	text-transform: lowercase;
	white-space: nowrap;
}

.hero-heading-text-container {
	display: flex;
	flex-direction: column;
}

.hero-title {
	padding-top: pxToRem(10);
}

.hero-secondary_info {
	margin-top: pxToRem(8);
	font-size: pxToRem(16);

	a {
		transition: color ease-in-out 200ms;

		&:focus,
		&:hover {
			color: $color--23;
		}
	}
}

.hero-actions {
	position: absolute;
	right: pxToRem(76);
	top: 50%;
	transform: translateY(-50%);
	display: flex;

	button {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		line-height: 1;
		margin-left: gridUnit(1);

		.injected-svg {
			height: 16px;
			width: 16px;
			display: flex;
			transform: translate(4px, 0px);
		}

		.material-icons {
			font-size: gridUnit(1);
			margin-left: gridUnit(0.5);
		}
	}
}

@media #{$breakpointTablet} {
	.hero {
		padding: pxToRem(40);
	}

	.hero-actions {
		right: pxToRem(40);
	}

	.hero-background {
		font-size: 30vw;
	}
}

@media #{$breakpointMobile} {
	.hero {
		padding: gridUnit(1.5);
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-start;
	}

	.hero-heading {
		flex-wrap: nowrap;
		align-items: center;

		.injected-svg {
			margin-top: pxToRem(3);
			display: none;
		}
	}

	.hero-heading-icon {
		display: none;
	}

	.hero-background {
		font-size: 50vw;
	}

	.hero-actions {
		position: relative;
		right: initial;
		display: flex;
		align-items: center;
		transform: none;
		justify-content: center;
		margin-top: gridUnit(1);

		button {
			margin-left: 0;
			margin-right: gridUnit(1);
		}
	}
}
