.introduction_text {
	display: flex;
}

.introduction_text-container {
	@include tileContainerWidth;
	max-width: pxToRem(539);
	padding: gridUnit(4) 0;
	text-align: center;
	color: $color--06;
}

@media #{$breakpointMobile} {
	.introduction_text-container {
		width: 100%;
		padding: gridUnit(2.5) gridUnit(1.5);
	}
}
