$defaultLinkColorTransition: all 200ms ease-in-out;

.got_it_link {
	color: $color--40;
	font-weight: bold;
	border-bottom: pxToRem(1) solid $color--40;
	transition: $defaultLinkColorTransition;
	line-height: 1;
	font-size: pxToRem(14);

	&:focus,
	&:hover {
		color: $color--20;
		border-color: $color--20;
		transition: $defaultLinkColorTransition;
	}
}

.default_link {
	color: $color--20;
	fill: $color--20;
	font-weight: bold;
	transition: $defaultLinkColorTransition;

	&:focus,
	&:hover {
		color: $color--40;
		fill: $color--40;
		transition: $defaultLinkColorTransition;
	}
}
