.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: pxToRem(392);
	max-width: calc(100vw - #{pxToRem(32)});
	max-height: calc(100vh - #{pxToRem(32)});
	display: flex;
	flex-direction: column;

	&--search {
		top: gridUnit(7);
		transform: translate(-50%, 0%);
		width: pxToRem(1160);
	}

	&--blog {
		width: pxToRem(872);
	}

	&--event {
		width: pxToRem(872);
		min-height: 200px;
	}

	&--helper {
		width: pxToRem(1023);
	}

	&--welcome {
		width: pxToRem(882);
	}

	&--landing-modal-video {
		width: 100%;
		max-width: pxToRem(1287);

		.landing_modal-video {
			width: 100%;
		}
	}

	&--default {
		width: pxToRem(672);
	}

	&--small {
		width: pxToRem(376);

		.close_button {
			color: $color--20;
			border-top-color: transparent;
			border-right-color: transparent;

			.close_button-icon {
				bottom: 0;
			}
		}

		.modal-content {
			padding: 0;
		}
	}

	&:focus {
		outline: 0;
	}
	.form {
		padding: gridUnit(1);
	}
}

.ios-device {
	.modal {
		max-height: calc(100vh - #{pxToRem(112)});
	}
}

.modal-content_container {
	position: relative;
	width: 100%;
	max-height: calc(100vh - #{pxToRem(32)});
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.modal-content {
	padding: pxToRem(24);

	&--default {
	}
}

.modal-content_title {
	text-align: center;
	padding: gridUnit(1);
	padding-bottom: 0px;
}

.landing_modal-close {
	position: absolute;
	color: $color--00;
	top: 20px;
	left: 20px;
}

@media #{$breakpointMobile} {
	.modal {
		width: 100%;
		max-width: calc(100vw - #{pxToRem(32)});

		&--search {
			bottom: gridUnit(2);
		}
	}
}
