body {
	.modal_menu_item-link {
		display: block;
		text-decoration: none;
		position: relative;
		width: 100%;
		color: $color--06;

		&:hover,
		&:focus {
			color: $color--00;

			.modal_menu_item-link-content {
				background: rgba(#2E3091, 0.05);
				border-left-color: $color--00;
			}
		}
	}
}

.modal_menu_item-link-content {
	border-left: pxToRem(6) solid transparent;
	display: flex;
	align-items: center;
	transition: all ease-in-out 150ms;
	padding: 0 pxToRem(16) 0 pxToRem(52);
	width: 100%;
	height: pxToRem(56);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}

@media #{$breakpointMobile} {
	.modal_menu_item-link-content {
		padding: 0 pxToRem(16) 0 pxToRem(16);
	}
}

