.no_matches {
	display: flex;
	justify-content: center;
	margin-top: gridUnit(4);
}

.no_matches-container {
	@include tileContainerWidth;
	display: flex;
	flex-direction: column;
	text-align: center;
}

body .no_matches-button {
	width: auto;
	margin: gridUnit(1) auto 0 auto;
}

@media #{$breakpointMobile} {
	.no_matches {
		display: flex;
		justify-content: center;
		margin-top: gridUnit(0);
	}
}
