// Added body in front of pill to overwrite Material UI ButtonBase styles
body {
	.pill {
		position: relative;
		display: inline-block;
		padding: 0 pxToRem(16);
		border: pxToRem(1) solid $color--20;
		border-radius: pxToRem(2);
		font-size: pxToRem(12);
		font-weight: 600;
		transition: background ease-in-out 200ms, border ease-in-out 200ms,
			color ease-in-out 200ms;
		margin-right: pxToRem(8);
		max-width: 100%;
		letter-spacing: 0.2px;
		background-color: transparent;
		box-sizing: border-box;
		color: $color--20;
		line-height: 1;

		&:last-child {
			margin-right: 0;
		}

		&--clickable {
			color: $color--00;
			background: $color--20;
			border-color: $color--20;

			&:not(:disabled):hover {
				color: $color--00;
				background: $color--20;
				border-color: $color--20;
			}

			&.pill--inactive {
				&:not(:disabled):hover {
					color: $color--20;
					background: rgba($color--20, 0);
					border-color: currentColor;
				}
			}
		}

		&--inactive {
			color: $color--20;
			background: transparent;
			border-color: rgba($color--20, 0.5);
		}

		&--withIcon {
			padding-left: pxToRem(30);
		}

		&--greyedOut {
			background-color: transparent;
			border-color: transparent;
			color: $color--17;
			margin-left: pxToRem(-10);

			&.pill--clickable:not(:disabled):hover {
				background-color: $color--16;
				border-color: $color--17;
				color: $color--14;
			}
		}

		&--withoutBorder {
			border: 0 !important;
			border-radius: 0 !important;
			background: none !important;
			padding: 0 !important;
			font-size: pxToRem(10);
			text-transform: uppercase;
			color: $color--21 !important;
			&:hover {
				color: $color--20 !important;
			}
		}

		&--post {
			margin: 0;
			border: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
			align-items: center;
			background-color: transparent;
			width: auto;

			&.pill--active,
			&:hover {
				background-color: transparent !important;
				.pill-label {
					color: $color--20;
				}
				.status {
					background-color: $color--20;
					color: $color--00;
				}
			}

			.status {
				transition: $defaultLinkColorTransition;
				position: relative;
				left: auto;
				right: auto;
				top: auto;
				bottom: auto;
				border: 0;
				order: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				transform: none;
				width: pxToRem(20);
				height: pxToRem(20);
				padding: 0;
				margin-right: pxToRem(6);
				min-width: pxToRem(20);
				background-color: $color--22;
				color: $color--26;
				font-size: pxToRem(10);
				line-height: 1;
			}

			.pill-label {
				transition: $defaultLinkColorTransition;
				display: inline-flex;
				width: auto;
				color: $color--21;
				font-size: pxToRem(12);
			}
		}

		&--post-reply {
			&:hover {
				.status {
					&:before {
						border-bottom: pxToRem(8) solid $color--20;
					}
				}
			}
			.status {
				overflow: visible;
				&:before {
					content: ' ';
					display: block;
					width: pxToRem(10);
					height: pxToRem(10);
					position: absolute;
					bottom: 0;
					left: pxToRem(3);
					z-index: 0;
					border-bottom: pxToRem(8) solid $color--22;
					border-right: pxToRem(10) solid transparent;
					border-top: pxToRem(4) solid transparent;
					bottom: pxToRem(-6);
					transform: rotate(110deg);
					transition: $defaultLinkColorTransition;
				}
			}
		}
	}

	.pill-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: pxToRem(7);
		font-size: gridUnit(1);

		.material-icons {
			font-size: inherit;
		}
	}
}

.pill-label {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	line-height: pxToRem(23);
}

@media #{$breakpointMobile} {
	body {
		.pill {
			margin-bottom: gridUnit(0.25);
		}
	}
}
