.search_result {
	color: $color--23;
	fill: $color--23;
	margin: pxToRem(0) pxToRem(0) pxToRem(16) pxToRem(0);
	position: relative;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.search_result-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-width: 100%;
}

.search_result-icon {
	width: pxToRem(22);
	height: pxToRem(22);
	position: relative;

	.injected-svg {
		fill: currentColor;
		top: 50%;
		left: 50%;
		width: pxToRem(22);
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

.search_result .search_result-button {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
}

.search_result-result_name {
	width: calc(100% - #{pxToRem(16)});
	padding-left: pxToRem(16);
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-weight: bold;
	font-size: pxToRem(14);
	line-height: (24/14);
}

.search_result-hashtags {
	color: $color--24;
	padding-left: pxToRem(32);

	.search_result-single_hashtag {
		padding: pxToRem(2) pxToRem(6);
	}
}
