.form-input {
	$itemHeight: 48;

	.Select {
		padding-right: 0;
	}

	.Select-control {
		display: flex;
		align-items: center;
		border: 0;
		height: auto;
		background: transparent;

		padding: pxToRem(2) pxToRem(0);
		font-size: pxToRem(12);

		&:hover {
			box-shadow: none;
		}
	}
	.Select-multi-value-wrapper {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
	}
	.Select--multi .Select-input {
		margin: 0;
	}
	.Select-placeholder,
	.Select.has-value.is-clearable.Select--single
		> .Select-control
		.Select-value {
		padding: 0;
	}
	.Select--single > .Select-control .Select-value {
		color: $color--14;
		padding: 0;
	}
	.Select-input {
		display: inline-flex !important;
		padding: 0;
		height: auto;
	}
	.Select-input input {
		background: transparent;
		border: 0;
		padding: 0;
		cursor: default;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		outline: 0;
	}
	.Select--single .Select-value {
		color: $color--14;
	}
	.Select-placeholder,
	.Select--single .Select-value {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		font-family: $fontStack;
		font-size: pxToRem(12);
		padding: 0;
		// left: 16px;
	}
	.Select--single > .Select-control .Select-value,
	.Select-placeholder {
		// left: 16px;
	}
	.Select-placeholder {
		opacity: 0.42;
	}
	.Select-menu-outer {
		background-color: $color--00;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		z-index: 2;
		max-height: pxToRem($itemHeight * 4.5);

		border: 2px solid #e7e7e7;
		width: calc(100% + 4px);
		left: -2px;
		top: calc(100% + 3px);
		border-radius: 2px;
	}
	.Select.is-focused:not(.is-open) > .Select-control {
		box-shadow: none;
	}
	.Select-menu {
		max-height: pxToRem($itemHeight * 4.5);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.Select-menu div {
		box-sizing: content-box;
	}
	.Select-arrow-zone,
	.Select-clear-zone {
		cursor: pointer;
		z-index: 1;
		width: 32px;
		height: 100%;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	// Only for screen readers. We cant use display none.
	.Select-aria-only {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1;
		width: 1;
		margin: -1;
	}
	&.form-input--select {
		> div {
			padding: 0;
			position: relative;
			height: auto;
		}
		// .Select-control {
		// 	padding: 2px 0 2px 16px;
		// }
	}
}
