.status {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	display: block;
	background: $color--06;
	color: $color--00;
	border-radius: pxToRem(24);
	border: pxToRem(3) solid $color--00;
	font-size: pxToRem(12);
	line-height: pxToRem(18);
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	min-width: pxToRem(24);
	height: pxToRem(24);
	box-sizing: border-box;
	padding: 0 pxToRem(2);
	text-transform: none;
}
