$transition: 200ms all ease-in-out;

// Overide Material UI BaseButton Theme
body {
	.user_stat-button {
		border-radius: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0;
		text-align: center;
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 0;
		margin-right: 0;
		width: 100%;
	}
}
.user_stat-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding-top: gridUnit(1);
	padding-bottom: gridUnit(1);
}

.user_stat-counter-label {
	font-size: pxToRem(14);
	line-height: (24/14);
	font-weight: bold;
	display: block;
	margin-left: pxToRem(8);
	color: $color--20;
}

.user_stat-counter-number {
	border: 0;
	border-radius: 0;
	color: $color--00;
	font-size: gridUnit(1);
	font-weight: 500;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	transition: $transition;
	width: pxToRem(24);
	height: pxToRem(24);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: pxToRem(12);
	background-color: $color--23;
	position: relative;
	&:after {
		content: ' ';
		display: block;
		left: pxToRem(-5);
		width: 0;
		height: 0;
		position: absolute;
		bottom: pxToRem(3);
		border-top: solid pxToRem(8) $color--23;
		border-left: solid pxToRem(16) transparent;
		transform: rotate(60deg);
	}

	.count {
		font-size: pxToRem(10);
		font-weight: bold;
		line-height: (16/10);
    z-index: 1;
	}

	&--inherit {
		color: $color--00;

		&:hover {
			background-color: $color--23;
		}

		.count {
			color: $color--00;
		}
	}

	&--color_green {
		border-color: $color--02;

		&:hover,
		&:focus {
			background-color: $color--02;
			transition: $transition;
		}

		&--inherit {
			.count {
				color: $color--02;
			}
		}
	}

	&--color_yellow {
		border-color: $color--10;

		&:hover,
		&:focus {
			background-color: $color--10;
			transition: $transition;
		}

		&--inherit {
			.count {
				color: $color--10;
			}
		}
	}

	&--color_red {
		border-color: $color--08;

		&:hover,
		&:focus {
			background-color: $color--08;
			transition: $transition;
		}

		&--inherit {
			.count {
				color: $color--08;
			}
		}
	}
}

@media #{$breakpointTablet} {
	body {
		.user_stat-button {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@media #{$breakpointMobile} {
	body {
		.user_stat-button {
			margin-top: 0;
			padding-left: gridUnit(0.25);
			padding-right: gridUnit(0.25);
		}
	}
}
