/// Breakpoint size for large screens (desktops) 1200px
$breakpointLargeScreen:  gridUnit(75);
/// Breakpoint size for small screens (tables) 960px
$breakpointMediumScreen: gridUnit(60);
/// Breakpoint size for small screens (mobiles) 600px
$breakpointSmallScreen:  gridUnit(37.5);

/// Breakpoint rule to target small desktops (max width 1200px)
$breakpointSmallDesktop: (max-width: #{$breakpointLargeScreen});
/// Breakpoint rule to target tablets (max width 960px)
$breakpointTablet: (max-width: #{$breakpointMediumScreen});
/// Breakpoint rule to target mobiles (max width 600px)
$breakpointMobile: (max-width: #{$breakpointSmallScreen});
