$color--00: #ffffff;
$color--01: #8fc73e;//icon color
$color--02: #a5ce4c;
$color--03: #00b4a3;
$color--04: #00c0f3;
$color--05: #00adef;
$color--06: #2e3091;
$color--07: #8356a2;
$color--08: #ef6781;
$color--09: #ff8676;
$color--10: #fdb814;
$color--11: #ffd54f;
$color--12: #fbfbfb;
$color--13: #e7e1dd;
$color--14: #4c4d4f;
$color--15: #f7f5f5;
$color--16: #d8d8d8;
$color--17: #818283;
$color--18: #262672;
$color--19: #f4f4f4;
$color--20: #0f2542;
$color--21: #757575;
$color--22: #e7e7e7;
$color--23: #92C83F;
$color--24: #898989;
$color--25: #0c1f39;
$color--26: #222222;
$color--27: #f8f8f8;
$color--28: #FF643A;
$color--29: #EAEAEA;
$color--30: #14377D;//navbar color
$color--31: #3FC8F4;//link color,active color
$color--32: #F9F9FA;//background color
$color--33: #503884;//disccussion pill
$color--34: #D74E8C;//disccussion pill
$color--35: #FAA427;//disccussion pill
$color--36: #92C83E;//situation color
$color--37: #ff5f33;//old 23
$color--38: #54AC50;
$color--40: #DE58A7;//new link and active color






.theme--main {
	background-color: $color--00;
	color: $color--14;

	.theme-title {
		color: $color--30;
	}
	.theme-text--accent {
		color: $color--05;
	}
	.theme-text--body {
		color: $color--14;

		.theme-text--underline {
			text-decoration: underline;
			color: $color--05;
		}
	}
	.theme-text--body_light {
		color: rgba(0, 0, 0, 0.54);
	}
}

.theme--accent {
	background-color: $color--30;
	color: $color--00;

	.theme-title {
		color: $color--00;
	}
	.theme-text--accent {
		color: $color--05;
	}
	.theme-text--body {
		color: $color--00;

		.theme-text--underline {
			text-decoration: underline;
		}
	}
	.theme-text--body_light {
		color: rgba(255, 255, 255, 0.54);
	}
}

.theme--accent_dark {
	background-color: $color--30;
	color: $color--00;

	.theme-title {
		color: $color--21;
	}
	.theme-text--accent {
		color: $color--00;
	}
	.theme-text--body {
		color: $color--00;

		.theme-text--underline {
			text-decoration: underline;
		}
	}
	.theme-text--body_light {
		color: rgba(255, 255, 255, 0.54);
	}
}

.theme-background--gradient {
	background: linear-gradient(
		to right,
		$color--30 0%,
		$color--30 50%,
		$color--30 100%
	);
}
