$fontStack: 'Muli', sans-serif;
$fontStack--title: 'Muli', sans-serif;

.font--h1 {
	font-family: $fontStack--title;
	font-weight: bold;
	font-size: pxToRem(56);
	line-height: (64 / 56);
	margin: 0;
}

.font--h2 {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(42);
	line-height: (54 / 42);
	margin: 0;
}

.font--h3 {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(32);
	line-height: (38 / 32);
	margin: 0;
}

.font--h4 {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(24);
	line-height: (32 / 24);
	margin: 0;
}

.font--h5 {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(16);
	line-height: (22 / 16);
	margin: 0;
}

.font--h6 {
	font-family: $fontStack--title;
	font-weight: 600;
	font-size: pxToRem(12);
	line-height: (15 / 12);
	letter-spacing: 0.2px;
	margin: 0;
}

.font--body {
	font-family: $fontStack;
	font-weight: normal;
	font-size: pxToRem(14);
	line-height: (24 / 14);
	margin: 0;
	color: $color--21;
}

.font--bold {
	font-weight: 600;
}

.font--small {
	font-family: $fontStack;
	font-weight: normal;
	font-size: pxToRem(12);
	line-height: (18 / 12);
	margin: 0;
}

.font--bold_underline {
	font-weight: 500;
	border-bottom: 2px solid $color--00;
}

.font--italic {
	font-style: italic;
}

@mixin font--article-title() {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: gridUnit(1.5);
	line-height: gridUnit(2);
}

//Mixing for fonts
@mixin font--body() {
	font-family: $fontStack;
	font-weight: normal;
	font-size: pxToRem(14);
	line-height: (26 / 14);
}

@mixin font--h1() {
	font-family: $fontStack--title;
	font-weight: bold;
	font-size: pxToRem(56);
	line-height: (64 / 56);
}

@mixin font--h2() {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(42);
	line-height: (54 / 42);
}

@mixin font--h3() {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(32);
	line-height: (38 / 32);
}

@mixin font--h4() {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(24);
	line-height: (29 / 24);
}

@mixin font--h5() {
	font-family: $fontStack--title;
	font-weight: 500;
	font-size: pxToRem(16);
	line-height: (22 / 16);
}

@media #{$breakpointMobile} {
	.font--h1 {
		font-size: pxToRem(40);
		line-height: (48 / 40);
	}

	.font--h2 {
		font-size: pxToRem(32);
	}

	.font--h4 {
		font-size: pxToRem(21);
	}
}
