/**
* Various sizes across the website
*/

/// The different padding sizes
$sizesPaddings: (0, 4, 8, 16, 24, 32, 40, 64);

/// The different margin sizes
$sizesMargins: (0, 4, 8, 16, 24, 32, 40, 64);

@mixin tileContainerWidth() {
	margin: auto;
	max-width: gridUnit(66);
	padding: gridUnit(2) gridUnit(1.5);
	position: relative;
	width: 100%;
}
