// List from the lowest to strongest z-index
$z_index--fixed_bar: 10;
$z_index--fab: 50;
$z_index--chat: 100;
$z_index--page_loader: 2000;
$z_index--app_loader: 2010;
$z_index--api_error_banner: 2020;
