@font-face {
	font-family: 'ITC Avant Garde Pro';
	font-weight: 700;
	font-display: auto;
	src: local('ITC Avant Garde Pro'),
	     url('./fonts/ITCAvantGardePro-Bold.woff2') format('woff2'),
	     url('./fonts/ITCAvantGardePro-Bold.woff') format('woff');
}

@font-face {
	font-family: 'ITC Avant Garde Pro';
	font-weight: 600;
	font-display: auto;
	src: local('ITC Avant Garde Pro'),
	     url('./fonts/ITCAvantGardePro-Demi.woff2') format('woff2'),
	     url('./fonts/ITCAvantGardePro-Demi.woff') format('woff');
}

@font-face {
	font-family: 'ITC Avant Garde Pro';
	font-weight: 500;
	font-display: auto;
	src: local('ITC Avant Garde Pro'),
	     url('./fonts/ITCAvantGardePro-Md.woff2') format('woff2'),
	     url('./fonts/ITCAvantGardePro-Md.woff') format('woff');
}
