////
/// Helper classes related to margins
/// Namespace: hm (Helper Margins)
///
/// @group helpers-margins
///

@mixin margins($size, $value, $extension) {
	/// Margin around the element
	.hm-#{$size}#{$extension} {
		margin: #{$value} !important;
	}
	/// Vertical margin
	.hm-v#{$size}#{$extension} {
		margin-top: #{$value} !important;
		margin-bottom: #{$value} !important;
	}
	/// Horizontal margin
	.hm-h#{$size}#{$extension} {
		margin-left: #{$value} !important;
		margin-right: #{$value} !important;
	}
	/// Margin top
	.hm-t#{$size}#{$extension} {
		margin-top: #{$value} !important;
	}
	/// Margin right
	.hm-r#{$size}#{$extension} {
		margin-right: #{$value} !important;
	}
	/// Margin bottom
	.hm-b#{$size}#{$extension} {
		margin-bottom: #{$value} !important;
	}
	/// Margin left
	.hm-l#{$size}#{$extension} {
		margin-left: #{$value} !important;
	}
}

@mixin generateMargins($sizesMargins, $extension) {
	// margin auto
	@include margins('auto', 'auto', $extension);

	@each $unit in $sizesMargins {
		$value: pxToRem($unit);
		$negativeUnit: 'n#{$unit}';
		$negativeValue: pxToRem(-$unit);
		@include margins($unit, $value, $extension);
		@include margins($negativeUnit, $negativeValue, $extension);
	}
}

@include generateMargins($sizesMargins, '');

@media #{$breakpointMobile} {
	@include generateMargins($sizesPaddings, '-gt-xs');
}

@media #{$breakpointTablet} {
	@include generateMargins($sizesPaddings, '-gt-sm');
}
