////
/// Helper classes related to padding
/// Namespace: hp (Helper Padding)
///
/// @group helpers-padding
///

@mixin paddings($size, $value, $extension) {
	/// Padding around the element
	.hp-#{$size}#{$extension} {
		padding: #{$value} !important;
	}

	/// Vertical padding
	.hp-v#{$size}#{$extension} {
		padding-top: #{$value} !important;
		padding-bottom: #{$value} !important;
	}
	/// Horizontal padding
	.hp-h#{$size}#{$extension} {
		padding-left: #{$value} !important;
		padding-right: #{$value} !important;
	}
	/// Padding top
	.hp-t#{$size}#{$extension} {
		padding-top: #{$value} !important;
	}
	/// Padding right
	.hp-r#{$size}#{$extension} {
		padding-right: #{$value} !important;
	}
	/// Padding bottom
	.hp-b#{$size}#{$extension} {
		padding-bottom: #{$value} !important;
	}
	/// Padding left
	.hp-l#{$size}#{$extension} {
		padding-left: #{$value} !important;
	}
}

@mixin generatePaddings($sizesPaddings, $extension) {
	@each $unit in $sizesPaddings {
		$value: pxToRem($unit);
		@include paddings($unit, $value, $extension);
	}
}

@include generatePaddings($sizesPaddings, '');

@media #{$breakpointMobile} {
	@include generatePaddings($sizesPaddings, '-gt-xs');
}

@media #{$breakpointTablet} {
	@include generatePaddings($sizesPaddings, '-gt-sm');
}
