@function pxToRem($pixels, $fontSize: 16) {
	@return #{$pixels / $fontSize}rem;
}

@function gridUnit($grids, $gridUnit: 16) {
	@return pxToRem($grids * $gridUnit);
}

@mixin ie11-browser {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}

@mixin inputPlaceholderStyle {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}
